<div class="tabs">
    <ul class="tab">
        <li class="tab__item"><a href="#work" class="tab__link tab__link--work">Производство под заказ</a>
            <div class="tab__content-wrap">
                <div class="tab__content">
                    Возможно изготовление под заказ любых изделий, любых размеров и из любого сорта натурального камня.
                    С покупателем подписывается Договор Поставки.
                    Стандартные сроки изготовления и поставки изделий на склад в Москве:
                    60 календарных дней, стоимость изготовления может отличаться от указанной на сайте.<a href="#" class="readon tab__readon">Подробнее</a>
                </div>
            </div>
        </li>
        <li class="tab__item"><a href="#payment" class="tab__link tab__link--payment">Оплата и доставка</a>
            <div class="tab__content-wrap">
                <div class="tab__content">
                    Возможно изготовление под заказ любых изделий, любых размеров и из любого сорта натурального камня.
                    С покупателем подписывается Договор Поставки.
                    Стандартные сроки изготовления и поставки изделий на склад в Москве:
                    60 календарных дней, стоимость изготовления может отличаться от указанной на сайте.<a href="#" class="readon tab__readon">Подробнее</a>
                </div>
            </div>
        </li>
        <li class="tab__item"><a href="#warranty" class="tab__link tab__link--warranty">Гарантия</a>
            <div class="tab__content-wrap">
                <div class="tab__content">
                    Возможно изготовление под заказ любых изделий, любых размеров и из любого сорта натурального камня.
                    С покупателем подписывается Договор Поставки.
                    Стандартные сроки изготовления и поставки изделий на склад в Москве:
                    60 календарных дней, стоимость изготовления может отличаться от указанной на сайте.<a href="#" class="readon tab__readon">Подробнее</a>
                </div>
            </div>
        </li>
        <li class="tab__item"><a href="#install" class="tab__link tab__link--install">Установка</a>
            <div class="tab__content-wrap">
                <div class="tab__content">
                    Возможно изготовление под заказ любых изделий, любых размеров и из любого сорта натурального камня.
                    С покупателем подписывается Договор Поставки.
                    Стандартные сроки изготовления и поставки изделий на склад в Москве:
                    60 календарных дней, стоимость изготовления может отличаться от указанной на сайте.<a href="#" class="readon tab__readon">Подробнее</a>
                </div>
            </div>
        </li>
        <li class="tab__item"><a href="#dealers" class="tab__link tab__link--dealers">Дилерам</a>
            <div class="tab__content-wrap">
                <div class="tab__content">
                    Возможно изготовление под заказ любых изделий, любых размеров и из любого сорта натурального камня.
                    С покупателем подписывается Договор Поставки.
                    Стандартные сроки изготовления и поставки изделий на склад в Москве:
                    60 календарных дней, стоимость изготовления может отличаться от указанной на сайте.<a href="#" class="readon tab__readon">Подробнее</a>
                </div>
            </div>
        </li>
        <li class="tab__item"><a href="#return" class="tab__link tab__link--return">Возврат и обмен</a>
            <div class="tab__content-wrap">
                <div class="tab__content">
                    Возможно изготовление под заказ любых изделий, любых размеров и из любого сорта натурального камня.
                    С покупателем подписывается Договор Поставки.
                    Стандартные сроки изготовления и поставки изделий на склад в Москве:
                    60 календарных дней, стоимость изготовления может отличаться от указанной на сайте.<a href="#" class="readon tab__readon">Подробнее</a>
                </div>
            </div>
        </li>
    </ul>
</div>