<!-- product search -->
<form method="get" action="{$wa->getUrl('shop/frontend/search')}" class="search">
    <div class="search-wrapper">
        <input id="search" type="search" name="query" {if !empty($query)}value="{$query}"{/if} placeholder="[s`Find products`]">
        <button type="submit"></button>
        {* <span class="search-sample">{sprintf('[`E.g. %s`]', '<a href="'|cat:$wa_app_url:"search/?query=productname":'">productname</a>')} *}
    </div>
</form>

<!-- checkout navigation -->
{if $action == 'checkout'}
    <h3><a href="{$wa_app_url}">{$wa->shop->settings("name")}</a></h3>
{/if}


