<ul itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
    {if count($breadcrumbs) > 2}
    {$null = array_splice($breadcrumbs, 0, 1)}
    {/if}
    {foreach from=$breadcrumbs item=breadcrumb name=bread}
    {if $breadcrumb}
    <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
        <a itemprop="item" href="{$breadcrumb.url}" class="breadcrumb__link">
            <span itemprop="name" class="breadcrumb__text">{$breadcrumb.name|escape}</span>
            <meta property="position" content="{$smarty.foreach.bread.iteration}">
        </a>
    </li>
    {/if}
    {/foreach}
    <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
        <span itemprop="item" class="breadcrumb__link breadcrumb__link--current">
            <span itemprop="name" class="breadcrumb__text">{$product.name|escape}</span>
            <meta property="position" content="{count($breadcrumbs)+1}">
        </span>
    </li>
</ul>