{if !isset($frontend_homepage) && (!isset($frontend_search) || !$frontend_search)}
{if $category && $category.depth > 0}
    <ul itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
        {foreach from=$breadcrumbs item=breadcrumb name=bread}
        {if $breadcrumb}
        <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
            <a itemprop="item" href="{$breadcrumb.url}" class="breadcrumb__link">
                <span itemprop="name" class="breadcrumb__text">{$breadcrumb.name|escape}</span>
                <meta property="position" content="{$smarty.foreach.bread.iteration+1}">
            </a>
        </li>
        {/if}
        {/foreach}
    </ul>
{elseif !isset($category)}
	<ul itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
		{*<li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
			<a itemprop="item" href="{$wa_app_url}" class="breadcrumb__link">
				<span itemprop="name" class="breadcrumb__text">Sheerdecor</span>
				<meta property="position" content="1">
			</a>
		</li>*}
		{foreach from=$breadcrumbs item=breadcrumb name=bread}
			{if $breadcrumb}
				<li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
					<a itemprop="item" href="{$breadcrumb.url}" class="breadcrumb__link">
						<span itemprop="name" class="breadcrumb__text">{$breadcrumb.name|escape}</span>
						<meta property="position" content="{$smarty.foreach.bread.iteration+1}">
					</a>
				</li>
			{/if}
		{/foreach}
		{if $smarty.server.REQUEST_URI == $wa_app_url}
			<li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
				<span itemprop="item" class="breadcrumb__link breadcrumb__link--current">
					<span itemprop="name" class="breadcrumb__text">{$wa->appName()|escape}</span>
					<meta property="position" content="{count($breadcrumbs)+1}">
				</span>
			</li>
		{elseif $smarty.server.REQUEST_URI == '/checkout/success/'}
			<li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
				<span itemprop="item" class="breadcrumb__link breadcrumb__link--current">
					<span itemprop="name" class="breadcrumb__text">Ваш заказ</span>
					<meta property="position" content="{count($breadcrumbs)+1}">
				</span>
			</li>
		{elseif $smarty.server.REQUEST_URI == '/signup/'}
			<li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
				<span itemprop="item" class="breadcrumb__link breadcrumb__link--current">
					<span itemprop="name" class="breadcrumb__text">Регистрация</span>
					<meta property="position" content="{count($breadcrumbs)+1}">
				</span>
			</li>
		{elseif $smarty.server.REQUEST_URI == '/login/'}
			<li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
				<span itemprop="item" class="breadcrumb__link breadcrumb__link--current">
					<span itemprop="name" class="breadcrumb__text">Вход</span>
					<meta property="position" content="{count($breadcrumbs)+1}">
				</span>
			</li>
		{else}
			{if $page.name}
				<li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
					<span itemprop="item" class="breadcrumb__link breadcrumb__link--current">
						<span itemprop="name" class="breadcrumb__text">{$page.name|escape}</span>
						<meta property="position" content="{count($breadcrumbs)+1}">
					</span>
				</li>
			{elseif $action == "myOrders"}
				<li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
					<span itemprop="item" class="breadcrumb__link breadcrumb__link--current">
						<span itemprop="name" class="breadcrumb__text">Мои заказы</span>
						<meta property="position" content="{count($breadcrumbs)+1}">
					</span>
				</li>
			{elseif $action == "myProfile"}
				<li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
					<span itemprop="item" class="breadcrumb__link breadcrumb__link--current">
						<span itemprop="name" class="breadcrumb__text">Мой профиль</span>
						<meta property="position" content="{count($breadcrumbs)+1}">
					</span>
				</li>
			{elseif $action == "favorites"}
				<li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
					<span itemprop="item" class="breadcrumb__link breadcrumb__link--current">
						<span itemprop="name" class="breadcrumb__text">Отложенные товары</span>
						<meta property="position" content="{count($breadcrumbs)+1}">
					</span>
				</li>
			{elseif $action == "MyReviews"}
				<li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
					<a itemprop="item" href="/my/" class="breadcrumb__link">
						<span itemprop="name" class="breadcrumb__text">Личный кабинет</span>
						<meta property="position" content="2">
					</a>
				</li>
				<li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
					<span itemprop="item" class="breadcrumb__link breadcrumb__link--current">
						<span itemprop="name" class="breadcrumb__text">Мои отзывы</span>
						<meta property="position" content="{count($breadcrumbs)+1}">
					</span>
				</li>
			{elseif $action == "onestep"}
				<li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
					<span itemprop="item" class="breadcrumb__link breadcrumb__link--current">
						<span itemprop="name" class="breadcrumb__text">Корзина</span>
						<meta property="position" content="{count($breadcrumbs)+1}">
					</span>
				</li>
			{elseif $title}
				<li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
					<span itemprop="item" class="breadcrumb__link breadcrumb__link--current">
						<span itemprop="name" class="breadcrumb__text">{$title|escape}</span>
						<meta property="position" content="{count($breadcrumbs)+1}">
					</span>
				</li>
            {elseif $product}
            <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
                <span itemprop="item" class="breadcrumb__link breadcrumb__link--current">
                    <span itemprop="name" class="breadcrumb__text">{$product.name|escape}</span>
                    <meta property="position" content="{count($breadcrumbs)+1}">
                </span>
            </li>
			{elseif !$category}
				<li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
					<span itemprop="item" class="breadcrumb__link breadcrumb__link--current">
						<span itemprop="name" class="breadcrumb__text">{$wa->title()|escape}</span>
						<meta property="position" content="{count($breadcrumbs)+1}">
					</span>
				</li>
			{/if}
		{/if}
	</ul>
{/if}
{/if}