<div class="category category-page">
	{include file="`$wa_active_theme_path`/breadcrumbs.html" inline}

    <h1>{$category.name|escape}</h1> 
	<!-- BEGIN: subcategories -->
	{if !$category.subcategories}
        {$parent_category = $wa->shop->category($category.parent_id)}
        {$category.subcategories = $parent_category.subcategories}
    {/if}
	{if $category.subcategories}
	{include file="subcategory_menu.html" inline}
	{* <div class="category__submenu-wrap">
		<ul class="submenu2">
			{foreach $category.subcategories as $sc}
            {if $sc.id != $category.id}
			{$child_categories = $wa->shop->categories($sc.id)}
			<li class="submenu2__item submenu2__item--parent">
                <a href="{$sc.url}" class="submenu2__link{if $sc.depth == 1} submenu2__link--second{/if}{if $sc.depth == 2} submenu2__link--third{/if}">{$sc.name|escape}</a>
				{if $child_categories}
				<ul class="submenu2__in">
					{foreach $child_categories as $subcategory}
					<li class="submenu2__item submenu2__item--child">
						<a href="{$subcategory.url}" class="submenu2__link submenu2__link--child">{$subcategory.name|escape}</a>
					</li>
					{/foreach}
				</ul>
				{/if}
            </li>
            {/if}
			{/foreach}
		</ul>
	</div> *}
	{/if}
    <!-- END: subcategories -->

    {if isset($filters) && !empty($filters)}
        <div class="filter-mobile">
            <div class="filters-toggle-wrapper">
                <a class="btn btn--filter-toggle" id="filters-toggle-link" href="javascript:void(0);">Отфильтровать по характеристикам</a>
            </div>
            <div id="filter-mobile-wrap" class="filter-mobile__wrap"></div>
        </div>
    {/if}

	<div class="category__products{if !empty($filters) || !empty($category.params.enable_sorting)} category__products--w-filter{/if}{if !$products} product-list-empty{/if}">
		<div id="product-list">
		{if !$products}
		{if isset($filters) && !empty($filters)}
			<div class="category__not-found">[`No products were found.`]</div>
		{else}
			[`This category does not contain any products.`]
		{/if}
		{else}
			{include file='list-thumbs.html' sorting=!empty($category.params.enable_sorting)}
			{*
			or use the line below to change product list view
			{include file='list-table.html' sorting=!empty($category.params.enable_sorting)}
			*}
			{* WEBDL START *}
			{shopDlcategoryPlugin::frontendCategory($category)}
			{* WEBDL END *}
		{/if}
		</div>
	</div>

    {if $products && isset($filters) && $filters}
    <!-- BEGIN: filters -->
	<div class="category__filter filter">
        {$sorting=!empty($category.params.enable_sorting)}
        {if !empty($sorting)}<!-- sorting -->
        {$sort_fields = ['stock' => 'Наличию', 'price' => 'Цене', 'create_datetime'=>'Новизне']}
        {if !isset($active_sort)}{$active_sort = $wa->get('sort', 'create_datetime')}{/if}

        <div class="sorting">
            <h5 class="sorting__title">Сортировать по:</h5>
            <ul class="sorting__list sort">
                {foreach $sort_fields as $sort => $name}
                <li class="sort__item{if $active_sort== $sort} sort__item--active{/if}">{$wa->shop->sortUrl($sort, $name, $active_sort)}</li>
                {if $wa->get('sort') == $sort}{$wa->title( $wa->title()|cat:' — '|cat:$name)}{/if}
                {/foreach}
            </ul>
        </div>
        {/if}

		<!-- filtering by product features -->
		{if isset($filters) && !empty($filters)}
        <div class="filter-wrap">

		{if waRequest::isXMLHttpRequest() && waRequest::get('page', 1) == 1}
		<link href="{$wa_static_url}wa-content/css/jquery-ui/base/jquery.ui.slider.css" rel="stylesheet" type="text/css">
		<script defer type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-ui/jquery.ui.core.min.js?v{$wa->version(true)}"></script>
		<script defer type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-ui/jquery.ui.widget.min.js?v{$wa->version(true)}"></script>
		<script defer type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-ui/jquery.ui.mouse.min.js?v{$wa->version(true)}"></script>
		<script defer type="text/javascript" src="{$wa_static_url}wa-content/js/jquery-ui/jquery.ui.slider.min.js?v{$wa->version(true)}"></script>
		{shopFiltersPlugin::display()}
		{/if}
		<div class="filters {if !empty($theme_settings.ajax_filters)} ajax{/if}">

			<form class="filters-form-wrapper" method="get" action="{$wa->currentUrl(0,1)}" data-loading="{$wa_parent_theme_url}img/loading16.gif">
				{foreach $filters as $fid => $filter}
					<div class="filter-param{if !empty($filter.collapsed) and !empty($filter.code) and !$wa->get($filter.code)} collapsed{/if}{if $fid == 'price'} price_param{/if}">
						{if $fid == 'price'}
							{$c = $wa->shop->currency(true)}
							<h5 class="filter-param__title"><i class="filter-arrow"></i>[`Price`]</h5>
						<div class="slider">
							<input type="text" class="min" data-filter="{$filter.min}" name="price_min" {if $wa->get('price_min')}value="{(int)$wa->get('price_min')}"{/if} placeholder="{floor($filter.min)}">
							<input type="text" class="max" data-filter="{$filter.max}" name="price_max"  {if $wa->get('price_max')}value="{(int)$wa->get('price_max')}"{/if} placeholder="{ceil($filter.max)}">
							<div style="clear: both;"></div>
						</div>
						{else}
						{if $filter.type != 'boolean'}
							<h5 class="filter-param__title"><i class="filter-arrow"></i><span class="fiwex-feat" data-feat_id="{$filter.id}">{$filter.name|escape}</span></h5>
						{/if}
						{if $filter.type == 'boolean'}
							<!-- <label><input type="radio" name="{$filter.code}"{if $wa->get($filter.code)} checked{/if} value="1"> [`Yes`]</label>
							<label><input type="radio" name="{$filter.code}"{if $wa->get($filter.code) === '0'} checked{/if} value="0"> [`No`]</label>
							<label><input type="radio" name="{$filter.code}"{if $wa->get($filter.code, '') === ''} checked{/if} value=""> [`Any`]</label> -->
							<label style="text-align: center;">

								<span class="fiwex-feat-val" data-feat_val_id="{$v_id}" data-fiwex-parent_id="{$filter.id}"><span class="checkbox_icon"></span><input type="checkbox" name="{$filter.code}" {if $wa->get($filter.code)} checked{/if} value="1"><span class="filter-param__name">{$filter.name}</span></span>
							</label>
						{elseif isset($filter.min)}
							{$_v = $wa->get($filter.code)}
							<div class="slider">
								<input type="text" class="min" data-filter="{$filter.min}" name="{$filter.code}[min]" placeholder="от" {if !empty($_v.min)}value="{$_v.min}"{/if}>
								<input type="text" data-filter="{$filter.max}"class="max" name="{$filter.code}[max]" placeholder="до" {if !empty($_v.max)}value="{$_v.max}"{/if}>
								<div style="clear: both;"></div>
								{if !empty($filter.unit)}
									{if $filter.unit.value != $filter.base_unit.value}<input type="hidden" name="{$filter.code}[unit]" value="{$filter.unit.value}">{/if}
								{/if}
							</div>
						{else}
							<div class="clps_block filter-param__block">
								{$i = 0}
								{$filters_values = shopCustom::array_sort_by_fields($filter.values)}
								{foreach $filters_values as $v_id => $v}
								<label class="filter-param__label">
									<span class="fiwex-feat-val" data-feat_val_id="{$v_id}" data-fiwex-parent_id="{$filter.id}"><span class="checkbox_icon"></span><input type="checkbox" name="{$filter.code}[]" {if in_array($v_id, (array)$wa->get($filter.code, array()))}checked{/if} value="{$v_id}"><span class="filter-param__name">{$v}</span></span>
								</label>
								{$i = $i + 1}
								{/foreach}
								{if $i > 5}<a class="clps btn">Показать еще</a>{/if}
							</div>
						{/if}
						{/if}
					</div>
				{/foreach}
				{if $wa->get('sort')}<input type="hidden" name="sort" value="{$wa->get('sort')|escape}">{/if}
				{if $wa->get('order')}<input type="hidden" name="order" value="{$wa->get('order')|escape}">{/if}
                <div class="filter-param">
				    <input type="submit" class="btn apply" value="Применить">
                </div>
			</form>
			{literal}
			<script>
			loadEvents.push(function() {
				$(window).load(function(){
					$('.filter-slider').each(function(){
						var full_val = 0;
						slide = $(this);
						slide.closest('.slider').find('input').each(function(){
							if($(this).val() != ''){full_val++;}
						});
						if(full_val != 0){
							slide.closest('.filter-slider').find('.ui-slider-range').addClass('green');
						}
					});
					$('.ui-slider-handle').mousedown(function(){
						slide = $(this);
						slide.closest('.filter-slider').find('.ui-slider-range').addClass('green');
						$(document).mouseup(function(){
							var full_val = 0;
							slide.closest('.slider').find('input').each(function(){
								if($(this).val() != ''){full_val++}
							});
							if(full_val == 0){
								slide.closest('.slider').find('input').val('');
								slide.closest('.filter-slider').find('.ui-slider-range').removeClass('green');
							}
						});
					});
				});
			});
			</script>
			{/literal}
		</div>
		{/if}
		<!-- BEGIN: plugin hook: 'frontend_category' -->
		{* @event frontend_category.%plugin_id% *}
        {if isset($filters) && !empty($filters)}
		    {foreach $frontend_category as $_}{$_}{/foreach}
        {/if}
        <!-- END: plugin hook: 'frontend_category' -->
	</div>
    </div>
    <!-- END: filters -->
    {/if}
</div>

{if isset($filters) && !empty($filters)}
    <script>
	loadEvents.push(function() {
		$(document).ready(function(){
			$(function () {
				$('.filters').on('click', '.clps', function () {
					if ($(this).parent().hasClass("opened")) {
						$(this).parent().removeClass("opened");
						$(this).html("Показать еще");
					} else {
						$(this).parent().addClass("opened");
						$(this).html("Скрыть");
					}
				});

				$(".filter-param input[type='checkbox']:checked").closest("label").addClass("label_checked");

				$(".filter-param input[type='checkbox']").on("change", function(){
					if($(this).is(":checked")) {
						$(this).closest("label").addClass("label_checked");
					} else {
						$(this).closest("label").removeClass("label_checked");
					}
				});
			});

			if($(window).width() < 800) {
				$('.filter-param__title').on('click', function () {
					param = $(this).closest('.filter-param');
					if($(param).hasClass('collapsed')) {
						$('.filter-param').each(function(){
							if(!$(this).find(":checked").length && !$(this).find("input[type=text]").val()) {
								$(this).addClass("collapsed");
							}
						});
						$(param).removeClass('collapsed');
					} else {
						$(param).addClass('collapsed');
					}
				});
			} else {
				$('.filter-param__title').on('click', function () {
					$(this).closest('.filter-param').toggleClass('collapsed');
				});
			}
		});
	});
    </script>
{/if}