{$wa->title("Отложенные товары")}
{$fav_count = shopFavoritesPlugin::countProducts($products)}

<h1>Отложенные товары</h1>

<div class="appnav box">
	<ul class="pages"><li class="pills__item shop ">
		<a class="pills__link" href="/my/orders/">Мои заказы</a>
	</li>
	<li class="pills__item shop ">
		<a class="pills__link" href="/my/profile/">Мой профиль</a>
	</li>
	<!--WEBDL START-->
	<li class="pills__item shop selected"><a href="/my/favorites/">Отложенные товары (<span id="favorites-count">{$fav_count}</span>)</a></li>
	<!--WEBDL END-->
	<li class="pills__item shop "><a href="/my/reviews/">Мои отзывы</a></li>
	<li class="mailer ">
		<a href="/mailer/my/">Мои подписки</a>
	</li>
	</ul>
</div>

<div class="wishlist" id="wishlist_page">
    {if !$products}
    [`No products were found.`]
    {else}
    <div id="product-list">
        {include file='list-thumbs.html'}
    </div>

    <a class="btn btn--clear-wishlist">Очистить список</a>
    {/if}
</div>

{literal}
<script>
	loadEvents.push(function() {
		$(document).ready(function () {
			$(document).on("click",".prod  a.del",function(){
				$(this).closest(".prod").remove();
				if ($(".prod").length < 1) {
					$(".btn--clear-wishlist").hide();
					$(".wishlist").append("Не найдено ни одного товара.");
				}
			});
		});
	});
</script>
{/literal}

{$wa->title("Отложенные товары")}