{strip}
<!-- products thumbnail list view -->
{$isMainPage = false}
{if $wa->currentUrl() == '/'}
    {$isMainPage = true}
{/if}
{if $wa->shop->cart->total() > 0}{$add2cart_label = '[`Add to cart`]'}{else}{$add2cart_label = '[`Buy`]'}{/if}
<ul class="thumbs product-list{if $isMainPage} thumbs--mainpage{/if}">
	{$temp_count = 1}
    {if !empty($theme_settings.list_features)} {$features = $wa->shop->features($products)} {/if}
    {foreach $products as $p} {$available = $wa->shop->settings('ignore_stock_count') || !isset($p.count) || $p.count === null || $p.count > 0}
    {$old_price = $p.compare_price}
    {$discount = 0}
    {$sku_word = ''}
    {if $old_price > $p.price}
        {$discount = 100 - round($p.price*100/$old_price)}
    {/if}
    {if intval($p.sku_count) > 1}
        {$sku_word = 'от '}
    {/if}
    {*$prod_img = $wa->shop->productImgHtml($p, '240x135', ['itemprop' => 'image', 'alt' => $p.name|escape, 'default' => "`$wa_static_url`wa-data/public/assets/images/noimage_240.png", 'class' => 'prod__img'])*}
    {if isset($p) && isset($p.name)}
        {$pName = $p.name}
    {else}
        {$pName = ''}
    {/if}
    {$prod_img = shopImageurlPlugin::productImgHtml($p, '240x135', ['itemprop' => 'image', 'alt' => $pName|escape, 'default' => "`$wa_static_url`wa-data/public/assets/images/noimage_240.png", 'class' => 'prod__img'])}
    <li class="prod{if $discount && !$isMainPage} prod--offer{/if}{if $p.count == null OR $p.count > 0} prod--instock{/if}{if !isset($simple_mode) || !$simple_mode} temp_class{$temp_count}{/if}" itemscope itemtype="http://schema.org/Product">

        {$prod = $wa->shop->product($p.id)}
        {$product_skus = $prod->getSkus()}
        {$sku = $product_skus[$prod['sku_id']]}
        {$stocks = shopHelper::getStocks()}
        
        <div class="prod__img-wrap {if isset($sku.stock)}
            {if isset($sku.stock[1]) && $sku.stock[1] > 0}
            {else if isset($sku.stock[3]) && $sku.stock[3] > 0}
                prod__img-wrap--remote
            {else if isset($sku.stock[4]) && $sku.stock[4] > 0}
                prod__img-wrap--remote
            {else}
                pod-zakaz
            {/if}
        {/if}">
        
            {$badge_html = $wa->shop->badgeHtml($p.badge)} {if $badge_html}
            <div class="corner top right">{$badge_html}</div>
            {/if}
			{* $prod_img|replace:'src=':'data-original=' *}
			{$prod_img}
        </div>
        {if $discount && !$isMainPage}
        <div class="prod__price-wrap">
            <a href="{$p.frontend_url}" title="{$p.name}" class="prod__link">
                <span class="prod__discount">{shop_currency_html($old_price)}</span>
                <span class="prod__price">{$sku_word}{shop_currency_html($p.price)}</span>
                <span class="prod__discount-percent">-{$discount}%</span>
                <meta itemprop="price" content="{$p.price}">
                <meta itemprop="priceCurrency" content="{$wa->shop->primaryCurrency()}">
            </a>
        </div>
        {/if}

        <div itemprop="offers" class="prod__info" itemscope itemtype="http://schema.org/Offer">
            <a class="prod__link" href="{$p.frontend_url}" title="{$p.name}">
                {if !$discount && !isMainPage}
                <div class="prod__price-wrap">
                    {$sku_word}{shop_currency_html($p.price)}
                    <meta itemprop="price" content="{$p.price}">
                    <meta itemprop="priceCurrency" content="{$wa->shop->primaryCurrency()}">
                </div>
                {/if}
                <div class="prod__name" itemprop="name">{$p.name}</div>
                <div class="prod__bottom">
                    
                    {if isset($sku.stock)}
                    <div class="prod__instock instock">

                        <dl class="stock">
                            <dt class="stock__name">
                                {if isset($sku.stock)}
                                    {if isset($sku.stock[1]) && $sku.stock[1] > 0}
                                        <span class="stock__name--on-storage">ЕСТЬ В НАЛИЧИИ</span>
                                    {else if isset($sku.stock[2]) && $sku.stock[2] > 0}
                                        <span style="display:none">Из них в резерве</span>
                                    {else if isset($sku.stock[3]) && $sku.stock[3] > 0}
                                        <span class="stock-remote">На удаленном складе</span>
                                    {else if isset($sku.stock[4]) && $sku.stock[4] > 0}
                                        <span class="stock-remote postupit_sklad">{'Поступит '|cat:$sku.datesku}</span>
                                    {else}
                                        {if $wa->shop->settings('ignore_stock_count')}
                                            <span class="stock-remote">Изготовим под заказ</span>
                                        {else}
                                            <span class="stock-remote">[`Out of stock`]</span>
                                        {/if}
                                    {/if}
                                {/if}
                            </dt>
                        </dl>
                        {*
                        {if isset($sku.stock[$stock_id]) && $sku.stock[$stock_id] > 0}
                        <dl class="stock">
                            <dt class="stock__name">
                                {if $stock_id == 1}
                                <span class="stock__name--on-storage">В наличии на складе:</span>
                                <link itemprop="availability" href="http://schema.org/InStock"/>
                                {elseif $stock_id == 2}
                                Из них в резерве:
                                {elseif $stock_id == 3}
                                На удаленном складе:
                                {elseif $stock_id == 4}
                                Поступит {$sku.datesku} г:
                                {else}
                                <div class="prod__instock instock instock--none">{if $wa->shop->settings('ignore_stock_count')}Изготовим под заказ{else}[`Out of stock`]{/if}</div>
                                <link itemprop="availability" href="http://schema.org/OutOfStock"/>
                                {/if}
                            </dt>
                            <dd class="stock__value{if $stock_id == 1} stock__value--on-storage{/if}">{$sku.stock[$stock_id]} шт.</dd>
                        </dl>
                        {/if}
                        *}
                    </div>
                    {/if}
                </div>
            </a>

            <div class="prod__actions">
			{if $wa->user()->isAuth()}
				{shopFavoritesPlugin::product($p.id)}
			{else}
				<i class="icon icon--wishlist not_auth" title="Отложить товар"></i>
			{/if}
                
			{if empty($disable_compare)}
				<a data-product="{$p.id}" class="compare icon icon--compare{if $wa->shop->inComparison($p.id)} active{/if}" href="#" {if $wa->shop->inComparison($p.id)}title="Убрать из сравнения"{else}title="Добавить в сравнение"{/if}></a>
			{/if}
            </div>
        </div>
        {if $p.count == null OR $p.count > 0}
        <div class="prod__instock-out instock">Есть в наличии</div>
        {/if}
        {if !$discount}
        <div class="prod__price-wrap-out">
            {$sku_word}{shop_currency_html($p.price)}
        </div>
        {/if}
        {if $discount && $isMainPage}
        <div class="prod__price-wrap-out">
            {$sku_word}{shop_currency_html($p.price)}
            <meta itemprop="price" content="{$p.price}">
            <meta itemprop="priceCurrency" content="{$wa->shop->primaryCurrency()}">
        </div>
        {/if}
    </li> 
	<!--{$temp_count++}-->
    {/foreach}
</ul>
{if isset($pages_count) && $pages_count > 1 && (!isset($simple_mode) ||!$simple_mode)}
	{if !waRequest::get('page')}<div class="show_more_block load-more-wrap"><div id="show_more_btn" class="load-more lazyloading-paging custom_btn">Показать еще<br></div></div>{/if}
	<div class="pagination_block pagination-wrap">{wa_pagination total=$pages_count attrs=['class' => "pagination"]}</div>
{/if}
{/strip}
{literal}
<script>
	loadEvents.push(function() {
		jQuery(window).load(function(){
            hide_extra_if_filter()
		});
		jQuery(document).ready(function(){
			hide_extra_if_filter()
		});
	});
</script>
{/literal}
