<!-- products mini thumbnail list view: related products, etc. -->
<ul class="thumbs product-list mini{if !empty($ulclass)} {$ulclass}{/if}">
{foreach $products as $p}
    {$available = $wa->shop->settings('ignore_stock_count') || $p.count === null || $p.count > 0}
    <li itemscope itemtype ="http://schema.org/Product">
        <div class="image">
            <a href="{$p.frontend_url}" title="{$p.name}">
                {* $badge_html = $wa->shop->badgeHtml($p.badge)}
                {if $badge_html}
                    <div class="corner top right">{$badge_html}</div>
                {/if *}
                {$wa->shop->productImgHtml($p, '96x96', ['itemprop' => 'image', 'alt' => $p.name, 'default' => "`$wa_theme_url`img/dummy96.png"])}
                <h5>
                    <span itemprop="name">{$p.name|truncate:30}</span>
                </h5>
                {if $p.summary}<meta itemprop="description" content="{strip_tags($p.summary)}">{/if}
            </a>
        </div>
        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            {* if $p.compare_price > 0}<span class="compare-at-price nowrap"> {shop_currency_html($p.compare_price)} </span>{/if *}

            {if $available}
                {if !empty($without_form)}
                    <div class="purchase addtocart" {if $p.sku_count > 1}data-url="{$p.frontend_url}{if strpos($p.frontend_url, '?')}&{else}?{/if}cart=1"{/if}>
                        <span class="price nowrap">{shop_currency_html($p.price)}</span>
                        <meta itemprop="price" content="{$p.price}">
                        <meta itemprop="priceCurrency" content="{$wa->shop->primaryCurrency()}">
                        <input type="button" data-product_id="{$p.id}" data-url="{$wa->getUrl('shop/frontendCart/add')}" value="[`Add to cart`]">
                        <i class="adding2cart"></i>
                        <span class="added2cart" style="display: none;">{sprintf('[`%s is now <a href="%s"><strong>in your shopping cart</strong></a>`]', $p.name, $wa->getUrl('shop/frontend/cart'))}</span>
                    </div>
                {else}
                    <form class="purchase addtocart" {if $p.sku_count > 1}data-url="{$p.frontend_url}{if strpos($p.frontend_url, '?')}&{else}?{/if}cart=1"{/if} method="post" action="{$wa->getUrl('shop/frontendCart/add')}">
                        <span class="price nowrap">{shop_currency_html($p.price)}</span>
                        <meta itemprop="price" content="{$p.price}">
                        <meta itemprop="priceCurrency" content="{$wa->shop->primaryCurrency()}">
                        <input type="hidden" name="product_id" value="{$p.id}">
                        <input type="submit" value="[`Add to cart`]">
                        <i class="adding2cart"></i>
                        <span class="added2cart" style="display: none;">{sprintf('[`%s is now <a href="%s"><strong>in your shopping cart</strong></a>`]', $p.name, $wa->getUrl('shop/frontend/cart'))}</span>
                    </form>
                {/if}
                <link itemprop="availability" href="http://schema.org/InStock" />
            {else}
                <span class="price nowrap">{shop_currency_html($p.price)}</span>
                <meta itemprop="price" content="{$p.price}">
                <meta itemprop="priceCurrency" content="{$wa->shop->primaryCurrency()}">
                <div class="out-of-stock"><strong>{if $wa->shop->settings('ignore_stock_count')}[`Pre-order only`]{else}[`Out of stock`]{/if}</strong></div>
                <link itemprop="availability" href="http://schema.org/OutOfStock" />
            {/if}
        </div>
        {if $p.rating > 0}
            <span class="rating nowrap">{$wa->shop->ratingHtml($p.rating)}</span>
        {/if}
    </li>
{/foreach}
</ul>

{if isset($pages_count) && $pages_count > 1}
<button id="show_more_btn">Показать еще</button>

<div class="block {if $theme_settings.pagination == 'lazyloading'}lazyloading-paging{else}paging-nav{/if}" data-loading-str="[`Loading...`]">
    {wa_pagination total=$pages_count attrs=['class' => "menu-h"]}
</div>
{/if}
