
<div class="table order-table">    
{foreach $orders as $o}
    {* $o|@var_dump *}
    <div class="order-table__row" id="order-{$o.id}">
        <div class="order-table__cell order-table__number">
            <a class="order-table__num-link" href="{$o.url}">
                {$o.id_str|replace:'#':'<span class="order-num">№</span>'}
            </a>
        </div><span class="separator"> /</span>
        <div class="order-table__cell order-table__status">
            <!--<span class="nowrap order-status" style="{$o.state->getStyle(1)}">-->
                {$o.state->getName()}
            <!--</span>-->
        </div><span class="separator"> /</span>
        <div class="order-table__cell order-table__product">
            {if !empty($o.items)}
                {foreach $o.items as $i}
                    {$i.name|escape} x {$i.quantity}<br />
                {/foreach}
            {/if}
        </div><span class="separator"> /</span>
        <div class="order-table__cell order-table__delivery">
            {if $o.shipping_name}
                {$o.shipping_name|escape}
            {else}
                &nbsp;
            {/if}
        </div><span class="separator"> /</span>
        <div class="order-table__cell order-table__payment">
            {if $o.payment_name}
                {$o.payment_name|escape}
            {else}
                &nbsp;
            {/if}
        </div>
        <div class="order-table__cell order-table__date">
            {$o.create_datetime|wa_date:'humandate'}
        </div>
    </div>
{foreachelse}
	<div class="no-border">
        <div>[`You have no order history yet.`]</div>
  	</div>
{/foreach}
</div>

{$wa->globals('isMyAccount', divue)}

<!-- plugin hook: 'frontend_my_orders' -->
{* @event frontend_my_orders.%plugin_id% *}
{foreach $frontend_my_orders as $_}{$_}{/foreach}

