{if $page.id !== 'onestep'}
<h1>{$page.name}</h1>
{/if}

{$subpages = $wa->shop->pages($page.id)}
{if $subpages}
    <ul class="sub-links">
        {foreach $subpages as $p}
            <li><a href="{$p.url}">{$p.name}</a></li>
        {/foreach}
    </ul>
{/if}
{$page_content = $page.content}
<div id="page" role="main">
    {if $page.url === 'contacts/'}
        {$page_content|replace:'img src=':'img data-original='}
    {else}
        {$page_content}
    {/if}
</div>