<!-- <script defer src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script> -->
{$product_images = $product->getImages()}

<article itemscope itemtype="http://schema.org/Product">
	<div class="product">
		{include file="`$wa_active_theme_path`/breadcrumbs.product.html" inline}
		{if $product.seoh1}
		<h1 itemprop="name">{$product.seoh1}</h1>
		{else}
		<h1 itemprop="name">{$product.name|escape}</h1>
		{/if}
		<section class="product__top">
			<div class="product__top-slider">
				<div class="product__production">
					{$t = strtotime($product.create_datetime)}
					Начало производства: {date('d.m.Y', $t)}
				</div>
				<div class="product-images-wrapper{if count($product.skus) == 1} single-sku{/if}{if isset($product_images) && count($product_images) < 3} single items{count($product_images)}{/if}" data-product-id="{$product.id}">
					{if isset($product_images) && $product_images}
						{if count($product.skus) > 1}
							<div class="carousel-arrow-top"></div>
							<ul class="carousel-list">
								{foreach $product_images as $image}
											<li class="carousel-item" data-image="{shopImageurlPlugin::imgUrl($image, '1600x0', $product)}{*$wa->shop->imgUrl($image, '1600x0')*}">
												{*$wa->shop->imgHtml($image, '240x0', [ 'class' => 'thumb', 'data-image-id' => $image.id ])*}
												<span href="https://{$smarty.server.HTTP_HOST}{shopImageurlPlugin::imgUrl($image, '1600x0', $product)}" data-fancybox="images">
												{shopImageurlPlugin::imgHtml($image, '240x0', [ 'class' => 'thumb', 'data-image-id' => $image.id ])}
												</span>
											</li>
								{/foreach}
							</ul>
							<div class="carousel-arrow-bottom"></div>
						{else}
							{$sku = $product.skus[$product.sku_id]}
							{if $sku.image_id}
								{$sku_images = explode(",", $sku.image_id)}
							{else}
								{$sku_images = array()}
							{/if}
							<div class="carousel-arrow-top"></div>
							<ul class="carousel-list">
								{foreach $product_images as $image}
									{if $sku_images}
										{if in_array($image.id, $sku_images)}
											<li class="carousel-item" data-image="{*shopImageurlPlugin::imgUrl($image, '1600x900', $product)*}{$wa->shop->imgUrl($image, '970')}">
												<a href="{$wa->shop->imgUrl($image, '970', $product)}" data-fancybox="images" target="_blank">
												    {*shopImageurlPlugin::imgHtml($image, '240x135', [ 'class' => 'thumb', 'data-image-id' => $image.id ])*}
													{$wa->shop->imgHtml($image, '240x135', [ 'class' => 'thumb', 'data-image-id' => $image.id ])}
												</a>
											</li>
										{/if}
									{else}
										<li class="carousel-item" data-image="{*shopImageurlPlugin::imgUrl($image, '1600x900', $product)*}{$wa->shop->imgUrl($image, '970')}">
											{*$wa->shop->imgHtml($image, '240x135', [ 'class' => 'thumb', 'data-image-id' => $image.id ])*}
											{*<span href="https://{$smarty.server.HTTP_HOST}{shopImageurlPlugin::imgUrl($image, '1600x900', $product)}" data-fancybox="images">*}
											<a href="{$wa->shop->imgUrl($image, '970', $product)}" data-fancybox="images" target="_blank">
											    {$wa->shop->imgHtml($image, '240x135', [ 'class' => 'thumb', 'data-image-id' => $image.id ])}
											</a>
										</li>
									{/if}
								{/foreach}
							</ul>
							<div class="carousel-arrow-bottom"></div>
						{/if}
					{else}
						<img class="thumb empty" src="/wa-data/public/assets/images/noimage_240.png">
					{/if}
				</div>
			</div>

			<!-- product features -->
			{if $product.features}
			{$features_count = 0}
			<section class="product__features features" id="product-features">
				{foreach $product.features as $f_code => $f_value}
					{if $f_code|substr:0:1 != "_"}
					<dl id="prd_feat_{$f_code}" class="feature {if $features[$f_code].type=='divider'} feature--divider{/if}">
						<dt class="feature__name feature__col" style="text-align: left">{$features[$f_code].name|escape|trim}:
							{shopFeaturestipsPlugin::ShowFeatureTip($featurestips, $f_code)}</dt>
						 <!-- {*wa_dumpc($product.features)*} 32134 -->
						{if is_array($f_value)}
							{if $features[$f_code].type == 'color'}
								{$value_html = implode('<br/> ', $f_value)}
							{else}
								{$value_html = implode(', ', $f_value)}
							{/if}
						{else}
							{$value_html = $f_value}
						{/if}
						<dd class="feature__value feature__col" style="text-align: left" data-defvalue="{$value_html}">
							{$value_html}
						</dd>
					</dl>
					{/if}
					{$features_count = count($features[$f_code])}
				{/foreach}
			</section>
			{/if}

			<!-- purchase -->
			<section class="product__aside product-aside" id="cart-flyer">
				<div class="cart" >
					<!-- BEGIN: 'product.cart.html' -->
					{include file="product.cart.html" inline}
					<!-- END: 'product.cart.html' -->
					<!-- BEGIN: plugin hook: 'frontend_product.cart' -->
					{* @event frontend_product.%plugin_id%.cart *}
					{foreach $frontend_product as $_}{$_.cart}{/foreach}
					<!-- END: plugin hook: 'frontend_product.cart' -->
				</div>
				<!-- BEGIN: plugin hook: 'frontend_product.block_aux' -->
				{* @event frontend_product.%plugin_id%.block_aux
				{if !empty($frontend_product)}<div class="aux">{foreach $frontend_product as $_}{$_.block_aux}{/foreach}</div> {/if}
				*}
				<!-- END: plugin hook: 'frontend_product.block_aux' -->

				<!-- compare -->
				<div class="product-aside__actions">
					{if $wa->user()->isAuth()}
					{shopFavoritesPlugin::product($product.id)}
				{else}
					<a class="product-aside__action  not_auth"><i class="icon icon--wishlist"></i>Отложить</a>
				{/if}
				<a href="#" class="compare product-aside__action {if $wa->shop->inComparison($product.id)} selected active{/if}" data-product="{$product.id}"><i class="icon icon--compare"></i><span>{if $wa->shop->inComparison($product.id)}Убрать{else}Сравнить{/if}</span></a>
				</div>
			</section>

		</section>
		<!-- BEGIN: plugin hook: 'frontend_product.block' -->
		{* @event frontend_product.%plugin_id%.block *}
		{* foreach $frontend_product as $_}{$_.block}{/foreach *}
		<!-- END: plugin hook: 'frontend_product.block' -->

		{include file="product.tabs.html" inline}

		<div class="clearfix">
			{$upselling = $product->upSelling(30)}
			{if !$upselling}
			{$upselling = shopRecommendedproductsPlugin::getProducts($product.id)}
			{/if}

			{$main_image = $wa->shop->productImgUrl($product, '1600x900', ['itemprop' => 'image', 'alt' => $product.name|escape, 'class' => 'product__mainimage', 'title' => $product.name|escape])}

			{if strlen($product.meta_description) > 10}
			<div class="product__description{if !$upselling} product__description--full{/if}" id="product-description" itemprop="description">
				{$product.meta_description}
				{if $main_image}
				<div class="product__mainimage-wrap product__mainimage-wrap--descr">
					<img itemprop="image" alt={$product.name|escape} class="product__mainimage" title="{$product.name|escape}" src="{$main_image}">
				</div>
				{/if}
			</div>
			{else}
			{if $main_image}
			<div class="product__mainimage-wrap">
				<img itemprop="image" alt={$product.name|escape} class="product__mainimage" title="{$product.name|escape}" src="{$main_image}">
			</div>
			{/if}
			{/if}

			<!-- RELATED PRODUCTS -->
			{if $upselling}
			<div class="related-products">
				<h3 class="related-products__title block-title"><span class="block-title__text recommended_no_decor">Рекомендуемые товары</span></h3>
				{if $upselling}
				<section class="related">
					{* include file="list-thumbs-mini.html" products=$upselling ulclass="related-bxslider" *}
					{include file="list-thumbs.html" products=$upselling disable_compare=false}
				</section>
				{/if}
			</div>
			{/if}
		</div>

		{$post_announces = shopDlannouncePlugin::getAnnounces($product)}

		{if $post_announces > 0}
			<section class="answers product__answers">
				<h2 class="block-title"><span class="block-title__text">Вопросы и ответы</span></h2>
				{foreach $post_announces as $p_ann}
					<article class="answers__item">
						<div class="answers__img-wrap">
							{if $p_ann.announce_image_text}
								{if $p_ann.announce_link}
									<a href="{$p_ann.announce_link}" class="answers-image-link">
										<img class="thumb answer__img" src="{$p_ann.announce_image_text}" />
									</a>
								{else}
									<img class="thumb answer__img" src="{$p_ann.announce_image_text}" />
								{/if}
							{/if}
						</div>
						<h2 class="answers__question">
							{if $p_ann.announce_link}
								<a href="{$p_ann.announce_link}" class="answers-title-link">{$p_ann.header}</a>
							{else}
								{$p_ann.header}
							{/if}
						</h2>
						<div class="answers__answer">
							{$p_ann.text}
						</div>
						{if $p_ann.announce_link}
						<a href="{$p_ann.announce_link}" class="answers__readon readon">Подробнее >>></a>
						{/if}
					</article>
				{/foreach}
			</section>
		{/if}

		<!-- WEBDL START -->
		<!-- product reviews -->
	   <!-- <section class="block-section">
			<h2 class="block-title"><span class="block-title__text">Комментарии</span></h2>

			<ul class="product__reviews reviews">
				{foreach $reviews as $review}
				<li data-id={$review.id} data-parent-id="0">
					{include file="review.html" reply_allowed=false inline}
				</li>
				{/foreach}
			</ul>
			{if !$reviews}
			<p>{sprintf('[`Be the first to <a href="%s">write a review</a> of this product!`]', 'reviews/')}</p>
			{else}
			{if count($reviews) > 3}
			<div class="reviews__more"><a href="reviews/" class="reviews__more-link">Посмотреть все</a></div>
			{/if}
			{* sprintf(_w(
			'Read <a href="%s">all %d review</a> on %s',
			'Read <a href="%s">all %d reviews</a> on %s',
			$reviews_total_count, false
			), 'reviews/', $reviews_total_count, $product.name|escape)
			*}
			{/if}
		</section>-->
		{if (shopReviewsplusPlugin::getState())}
			<h2 class="block-title"><span class="block-title__text">Комментарии</span></h2>
			{shopReviewsplusPlugin::reviewsHelper($product.id)}
		{/if}
		<!-- WEBDL END -->
	</div>


</article>
<!-- WEBDL START -->
{literal}
<style>
.plugin_arrived-button.custom {display: block; height: 0; visibility: hidden; overflow: hidden;}
</style>
{/literal}
<!-- WEBDL END -->

<script>
	loadEvents.push(function() {

		<!-- WEBDL START -->
		$("body").on("click", ".uvedomit", function(){
			$(".plugin_arrived-button.custom a").trigger("click");
		});
		<!-- WEBDL END -->

		$('#product-description *').removeAttr('style');
					$(".shop_favorites").append("<span>Отложить</span>");

	});
</script>

<!-- Oleg M. START -->
{$isMobile = waRequest::isMobile()}
{if !$isMobile && count($product.skus) > 5}
<!--<link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.mcustomscrollbar/3.1.5/jquery.mCustomScrollbar.min.css" />
	<script>
	  loadEvents.push(function() {
		$(document).ready(function(){
		  $('#product-skus').mCustomScrollbar({
			axis: 'y', // vertical scrollbar
			scrollInertia: 0,
			theme: 'minimal-dark',
			autoHideScrollbar: false
		  });
		});
	  });
	</script>-->
{/if}
<!-- Oleg M. END -->

<div id="popup-cart-wrap" class="popup-container">
	<div id="popup-cart-overlay" class="popup-overlay"></div>
	<div id="popup-cart" class="popup">
		<div class="popup__close"></div>
		<div class="popup__content">
			<div class="popup__title">Товар добавлен в корзину</div>
			<div class="popup__controls">
				<a href="#" class="popup__link popup__link--continue">Продолжить покупки</a>
				<a href="{$wa->getUrl('shop/frontend/cart')}" class="popup__link popup__link--cart">Перейти в корзину</a>
			</div>
		</div>
	</div>
</div>
