{* one review output *}

{if !empty($ajax_append)}<li data-id={$review.id} data-parent-id="{$review.parent_id}">{/if}

<article class="review" itemprop="review" itemscope itemtype="http://schema.org/Review">
    <div class="review__avatar-wrap">
        <div class="review__avatar review__avatar-none"></div>
    </div>
    <div class="review__wrap">
        {if empty($review.site)}
            <span class="review__name" itemprop="author">{$review.author.name}</span>
        {else}
            <a href="{$review.site}" class="review__name username" itemprop="author">{$review.author.name}</a>
        {/if}
        {* if ifempty($review.author.is_user) > 0}
            <span class="staff">{$wa->shop->settings('name')}</span>
        {/if *}
        <meta itemprop="itemReviewed" content="{$product.name|escape}">
        <meta itemprop="datePublished" content="{$review.datetime|date_format:'Y-m-d'}">
        <span class="review__date" title="{$review.datetime|wa_datetime}">{$review.datetime|wa_datetime:"humandatetime"}</span>
        {if $review.text}
        <div class="review__text" itemprop="description">{$review.text}</div>
        {/if}
        {if $reply_allowed}
        <div class="actions">
            <a href="{if isset($reply_link)}{$reply_link}{else}#{/if}" class="review-reply inline-link"><b><i>[`reply`]</i></b></a>
        </div>
        {/if}
    </div>
</article>

{if !empty($ajax_append)}<ul class="reviews-branch"></ul></li>{/if}