<div class="checkout-content" data-step-id="payment">
    <div class="form-field form-field--large">
        <h3 class="subtitle">Выберите способ оплаты:</h3>
        <ul class="menu-v checkout-options payment">
            {foreach $checkout_payment_methods as $m}
				<li {if !empty($m.error)}class="gray"{/if}>
					<label class="label{if $m.id == $payment_id} active{/if}">
						<input class="radio" {if !empty($m.error)}disabled="disabled"{/if} type="radio" name="payment_id" value="{$m.id}" {if $m.id == $payment_id}checked{/if}>
						<div class="checkout__label-in">                        
							{$m.name|escape}
							{if $m.description}<p class="payment__descr">{$m.description}</p>{/if}
							{if !empty($m.error)}<p class="error"><em>{$m.error}</em></p>{/if}
							{if !empty($m.custom_html)}<div class="wa-form" {if $m.id != $payment_id}style="display:none"{/if}><i style="display: block; margin-bottom: 24px;"></i>{$m.custom_html}</div>{/if}
						</div>
					</label>
				</li>
            {foreachelse}
				<li>
					<em class="error">[`Oops! We are sorry, but <strong>we can not offer any payment option for your order</strong>. Checkout can not be completed.`]</em>
				</li>
            {/foreach}
        </ul>
    </div>
    <!-- plugin hook: 'frontend_checkout' -->
    {* @event frontend_checkout.%plugin_id% *}
    {foreach $frontend_checkout as $_}
        {$_}
    {/foreach}
</div>