<div class="checkout-content" data-step-id="confirmation">
    {if !empty($error)}    
        <div class="checkout-result error">{$error}</div>
    {/if}
	<div class="box">
		<h3 class="subtitle">[`Ship to`]</h3>
		<div class="receiver">
			{$contact.name|escape}<br>
			{$shipping_address.value}
		</div>   
		{if $billing_address}
			<h3 class="subtitle">[`Bill to`]</h3>
			<div class="receiver">
				{$contact.name|escape}<br>
				{$billing_address.value}
			</div>
		{/if}
    </div>
    <div class="ct">
        {foreach $items as $item}
			<div class="ct-row{if $item.type == 'service'} service{/if}">
				<div class="ct-cell ct-cell--first ct__product">{if $item.type == 'service'}+ {/if}{$item.name|escape}</div>
				<div class="ct-cell ct-cell--center ct__count">{$item.quantity} шт.</div>
				<div class="ct-cell ct-cell--last ct__price">
					{shop_currency_html($item.price * $item.quantity, $item.currency)}
					{if $tax > 0}
					<br>{if isset($item.tax)}{shop_currency_html($item.tax, true)}{else}&ndash;{/if}
					{/if}
				</div>
			</div>
        {/foreach}
        <div class="ct-row">
            <div class="ct-cell ct-cell--first ct__hidden">&nbsp;</div>
            <div class="ct-cell ct-cell--center ct__label">[`Subtotal`]</div>
            <div class="ct-cell ct-cell--last ct__value">{shop_currency_html($subtotal, true)}</div>
        </div>
        {if $discount}
			<div class="ct-row">
				<div class="ct-cell ct-cell--first ct__hidden">&nbsp;</div>
				<div class="ct-cell ct-cell--center ct__label">[`Discount`]</div>
				<div class="ct-cell ct-cell--last ct__value">&minus; {shop_currency_html($discount, true)}</div>
			</div>
        {/if}
        <div class="ct-row">
            <div class="ct-cell ct-cell--first ct__hidden">&nbsp;</div>
            <div class="ct-cell ct-cell--center ct__label">[`Shipping`]{if !empty($params.shipping_name)} &mdash; {$params.shipping_name}{/if}</div>
            <div class="ct-cell ct-cell--last ct__value ct_shipping_value">
				{if $params.shipping_id == 8}
					бесплатно
				{else if $params.shipping_id == 12}
					По тарифам ТК
				{else if $params.shipping_id == 9}
					{if $shipping > 0}
						{shop_currency_html($shipping, true)}
					{else}
						рассчитать
					{/if}
				{else}
					{shop_currency_html($shipping, true)}
				{/if}
			</div>
        </div>
        {if $tax > 0}
			<div class="ct-row">
				<div class="ct-cell ct-cell--first ct__hidden">&nbsp;</div>
				<div class="ct-cell ct-cell--center ct__label">[`Tax`]</div>
				<div class="ct-cell ct-cell--last ct__value">{shop_currency_html($tax, true)}</div>
			</div>
        {/if}
        <div class="ct-row ct-row--total">
            <div class="ct-cell ct-cell--first ct__hidden">&nbsp;</div>
            <div class="ct-cell ct-cell--center ct__label ct__label--total">[`Total`]</div>
            <div class="ct-cell ct-cell--last ct__value ct__value--total-price">{shop_currency_html($total, true)}</div>
        </div>
    </div>
    <textarea cols="60" rows="3" name="comment" id="comment" placeholder="Комментарий к заказу:" class="inputbox inputbox--textarea"></textarea>   
    {if !empty($terms)}
        <br>
        {if waRequest::method() == 'post' && !$wa->post('terms')}
            <p class="error">[`You must read and agree to the Terms of service to place an order.`]</p>
        {/if}
        <label><input type="checkbox" {if $wa->post('terms')}checked="checked"{/if} name="terms" value="1"> {sprintf('[`I have read and agree to the <a href="%s" target="_blank">Terms of service</a>`]', $wa->getUrl('/frontend/checkout', ['step' => 'confirmation'])|cat:'?terms=1')}</label>
    {/if}
    <!-- plugin hook: 'frontend_checkout' -->
    {* @event frontend_checkout.%plugin_id% *}
    {foreach $frontend_checkout as $_}{$_}{/foreach}
</div>