<style>
	.cart__price { font-size:15px }
	.item-prices .cart__price-wrap{ display:inline-block }
	.item-prices .item-discount{ margin:0 10px }
	/*.onestep-cart h1 { margin-bottom:0 }*/
	.cart__product { padding-left:10px }
	.cart__prod-note { margin-top:0;font-size:15px }
	.cart__prod-note .item-sku{ color:#666 }
	.cart__prod-note .item-notice{ margin-top:11px }
	.cart__prod-name { font-size:17px }
	.cart__value.cart-total { font-size:17px;color:#1fab6e }
	.user-type-switch .radio,
	.checkout-options .radio { display:none }
	.user-type-switch .label:before,
	.checkout-options  .label:before { content:"";display:inline-block;width:15px;height:15px;background:url('/wa-data/public/site/themes/sheerdecor/img/radio-labels.png') 0 -15px;position:relative;top:2px }
	.checkout-options  .label:before { top:1px }
	.step-payment .checkout-options  .label:before { top:0 }
	.checkout-options  .label:before { float:left }
	.user-type-switch .label.active:before,
	.checkout-options .label.active:before { background:url('/wa-data/public/site/themes/sheerdecor/img/radio-labels.png') 0 0 }
	#create-user { position:relative }
	.form-field--full .icon16.like { display:none }
	.step-shipping .wa-form.wa-address { margin-top:20px }
	.step-shipping .wa-form.wa-address .wa-value .field>SPAN { display:none }
	.checkout-step-content { font-size:15px } 
	.checkout-step-content .subtitle { font-size:17px } 
	.checkout-form .block-title { font-size:17px }
	.step-confirmation .inputbox.inputbox--textarea { resize:none }
	.checkout-step-content.auth BLOCKQUOTE { margin:20px 0;background:transparent }
	.checkout-step-content.auth BLOCKQUOTE P { margin:0;font-size:15px }
	.checkout-step-content.auth BLOCKQUOTE:after { content:"";clear:both;height:0;display:block }
	.checkout-step-content.auth BLOCKQUOTE IMG { float:left;margin-right:10px }
	#checkout-contact-form .wa-field INPUT.error { background-color:transparent }
	.onestep-cart__empty-message { margin-top:20px }
</style>
<script src="{$wa_app_static_url}plugins/onestep/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/wa-data/public/shop/plugins/onestep/js/0.onestep.js"></script>
<!-- general welcome text -->
<div class="onestep-cart">
	<h1>[`Shopping cart`]</h1>
	{if !$cart.count}
		<p class="onestep-cart__empty-message">[`Your shopping cart is empty.`]</p>
	{else}
		<form method="post" class="onestep-cart-form">
			<div class="cart table">
				<!-- products -->
				{foreach $cart.items as $item}
					{* WEBDL START *}
					<div style="display:none" id="webdl-expample">{$item.zakazat}</div>
					{* WEBDL END *}
					<div class="cart__row row" data-id="{$item.id}">
						<div class="cart-cell cart__img">
							<a href="{$wa->shop->productUrl($item.product)}" title="{$item.product.name|escape}">
								{$item.product.image_id = (int)$item.product.image_id}
								{$wa->shop->productImgHtml($item.product, '230x125', ['alt' => $item.product.name|escape, 'default' => "`$wa_static_url`wa-data/public/assets/images/noimage_240.png", 'class' => 'thumb'])}
							</a>
						</div>
						<div class="cart-cell cart__product">
							<div class="cart__prod-name">
								<a class="cart__prod-link" href="{$wa->shop->productUrl($item.product)}">{$item.product.name|escape}</a>
							</div>
							<div class="cart__prod-note">
								{* WEBDL START *}
								{if $item.sku_name && $item.sku_name != $item.product.name}
									<div class="item-sku">{$item.sku_name|escape}</div>
								{/if}
								{if $item.zakazat}
									<div class="item-notice">
										Товара нет в наличии. Указанная цена является ориентировочной, а не окончательной. Дождитесь пожалуйста подтверждения от нашего менеджера.
									</div>
								{/if}
								{* WEBDL END *}
								{if !empty($item.services)}
									<div class="services">
										{foreach $item.services as $service_id => $s}
											<!-- one option -->
											<div class="services__item" {if !empty($s.id)}data-id="{$s.id}"{/if}>
												<label>
													<input {if !empty($s.id)}checked{/if} type="checkbox" name="services[{$item.id}][]" value="{$service_id}"> {$s.name|escape} {if $s.price && !isset($s.variants)}(<span>+{shop_currency_html($s.price, $s.currency)}</span>){/if}
												</label>
												{if isset($s.variants)}
												<select name="service_variant[{$item.id}][{$service_id}]" {if empty($s.id)}disabled{/if}>
												{foreach $s.variants as $variant_id => $v}
												<option {if $s.variant_id == $variant_id}selected{/if} value="{$variant_id}">{$v.name|escape} (+{shop_currency($v.price, $s.currency)})</option>
												{/foreach}
												</select>
												{/if}
											</div>
										{/foreach}
									</div>
								{/if}
								{if !empty($item.error)}
									<script>
										$(function () {
											alert({json_encode($item.error)});
										});
									</script>
								{/if}
							</div>
						</div>
						<div class="cart-cell cart__price">
							<div class="item-prices">
								{if $item.compare_price > 0 AND $item.compare_price > $item.price}
									{$item_discount = ($item.compare_price - $item.price)/$item.compare_price*100}
									<div class="cart__price-wrap item-compare">{shop_currency_html($item.compare_price, true)}</div>
									<div class="cart__price-wrap item-discount">{round($item_discount)}%</div>
								{/if}
								<div class="cart__price-wrap item-total">{shop_currency_html($item.price, true)}</div>
							</div>
							{* WEBDL START *}
							{if $item.zakazat}
								<div class="cart__price-note">Последняя цена</div>
							{/if}
							{* WEBDL END *}
							<!--<div class="cart__price-note">Последняя цена</div>-->
							<div class="cart__count-wrap">Кол-во:
								<input class="cart__count-input inputbox qty{if !empty($item.error)} error{/if}" type="text" name="quantity[{$item.id}]" value="{$item.quantity}">
								шт.
								<a class="delete" href="#" title="[`Remove from cart`]"><i class="icon16 remove"></i></a>
							</div>
						</div>
					</div>
				{/foreach}
				<!-- discount coupon -->
				<div class="cart__row row row--footer" {if !shopDiscounts::isEnabled('coupons') && !$discount}style="display:none"{/if}>
					<div class="cart__footer-label cart__discount-label">[`Discount`]
					 {if shopDiscounts::isEnabled('coupons')}
					 [`Discount coupon (if you have one)`]:
						<input type="text" name="coupon_code" value="{$coupon_code|escape}">
						<input type="submit" value="[`Apply`]">
					  {/if}
					</div>
					<div class="cart__value cart-discount">&minus; {shop_currency_html($discount, true)}</div>
				</div>
				<!-- TOTAL -->
				<div class="cart__row row row--footer cart__total">
					<div class="cart__footer-label cart__total-label">Итого:</div>
					<div class="cart__value cart-total">{shop_currency_html($cart.total, true)}</div>
				</div>
				<div class="cart__button-wrap">
					<input type="submit" value="Пересчитать" class="btn"/>
				</div>
				<!-- checkout -->
			</div>
			<!-- plugin hook: 'frontend_cart' -->
			{* @event frontend_cart.%plugin_id% *}
			{foreach $frontend_cart as $_}
				{$_}
			{/foreach}                    
		</form>
		{include file=$checkout_path}
	{/if}
</div>