<div class="checkout-content form-field form-field--full" data-step-id="shipping">
    <ul class="checkout-options menu-v">
        {foreach $checkout_shipping_methods as $m}
            <li class="shipping-{$m.id}">
                <label class="label{if $m.id == $shipping.id} active{/if}">
                    {if !empty($m.logo)}<img src="{$m.logo}" class="method-logo">{/if}
                    <input class="radio" type="radio" name="shipping_id" value="{$m.id}" {if $m.external || !empty($m.error)}disabled{/if} {if $m.id == $shipping.id}checked{/if}>

                    <div class="checkout__label-in">
                        <div class="delivery-descr">
                            <div class="radio-title">
                                {$m.name|escape}
                            </div>
                            {if $m.description}<div>{$m.description}</div>{/if}

                            {if empty($m.error) && !empty($m.rates)}
                            {if count($m.rates) > 1}
                            <select class="shipping-rates" name="rate_id[{$m.id}]">
                                {foreach $m.rates as $rate_id => $r}
                                <option data-rate="{shop_currency($r.rate, $r.currency)}" {if !empty($r.est_delivery)}data-est_delivery="{$r.est_delivery}"{/if} {if !empty($r.comment)}data-comment="{$r.comment}"{/if} value="{$rate_id}"{if $rate_id == $shipping.rate_id} selected{/if}>{$r.name} ({shop_currency($r.rate, $r.currency)})</option>
                                {/foreach}
                            </select>
                            {else}
                            <input type="hidden" name="rate_id[{$m.id}]" value="{key($m.rates)}">
                            {/if}
                            {/if}

                            {if !empty($m.form)}<div class="wa-form wa-address" {if $m.id != $shipping.id}style="display:none"{/if}>{$m.form->html()}</div>{/if}
                            {if !empty($m.custom_html)}
                            <div class="wa-form" {if $m.id != $shipping.id}style="display:none"{/if}>{$m.custom_html}</div>
                            {/if}
                        </div>

                        {if empty($m.error)}
                        <div class="delivery-price">
                            <span class="price nowrap">
                                {if $m.rate !== null}
                                    {if $m.rate != 0}
                                        {shop_currency_html($m.rate, $m.currency)}
                                    {else}
                                        бесплатно
                                    {/if}
                                {elseif $m.external}
                                    [`Loading...`] <i class="icon16 loading"></i>
                                {/if}
                            </span>
                            <em class="hint error comment" {if empty($m.comment)}style="display:none"{/if}>
                            <br>{if !empty($m.comment)}{$m.comment}{/if}
                            </em>
                            <span class="hint" {if empty($m.est_delivery)}style="display:none"{/if}>
                            <br>
                            [`Estimated delivery`]:<br>
                            <strong class="est_delivery">{if !empty($m.est_delivery)}{$m.est_delivery}{/if}</strong>
                            </span>
                        </div>
                        {else}
                        <div class="rate error delivery-price">
                            <span class="price nowrap" style="display:none"></span>
                            <em class="hint error comment" style="display:none"></em>
                        <span class="hint" style="display:none">
                            <br>
                            [`Estimated delivery`]:<br>
                            <strong class="est_delivery"></strong>
                        </span>
                            <em class="shipping-error">{$m.error}</em>
                        </div>
                        {/if}
                    </div>
                </label>
            </li>
        {foreachelse}
            <li>
                <em class="error">[`Oops! We are sorry, but <strong>we can not ship this order to your selected destination</strong>. Checkout can not be completed.`]</em>
            </li>
        {/foreach}
    </ul>
    <!-- plugin hook: 'frontend_checkout' -->
    {* @event frontend_checkout.%plugin_id% *}
    {foreach $frontend_checkout as $_}
        {$_}
    {/foreach}

</div>