<div class="checkout-content" data-step-id="contactinfo">
    <div id="checkout-contact-form"> 
        <div class="wa-form{if $customer_type} type_{$customer_type}{/if}">
			{$checkout_contact_form->html(null,$errors,true)}
            {if $wa->isAuthEnabled() && !$wa->user()->isAuth()}
            <div class="wa-field form-field form-field--full">
                <label class="label"><input class="checkbox" type="checkbox" {if $wa->post('create_user')}checked{/if} id="create-user" name="create_user" value="1"> [`Create permanent user account`] <i class="icon16 like"></i></label>
                {if shopAffiliate::isEnabled()}
                    <p class="hint">
                        [`Registered customers apply for affiliate bonuses and discounts on future orders.`]
                        {$add_affiliate_bonus = round(shopAffiliate::calculateBonus(['items' => $wa->shop->cart->items(), 'total' => $wa->shop->cart->total()]), 2)}
                        {if !empty($add_affiliate_bonus)}
                            {sprintf("[`This order will add +%s points to your affiliate bonus.`]", $add_affiliate_bonus)}
                        {/if}
                    </p>
                {/if}
            </div>
            <div id="create-user-div" style="display:none">
                <div class="wa-field form-field form-field--full">
                    <div class="wa-value">
                        {if !empty($errors.email)}<p>{/if}
                        <input {if !empty($errors.email)}class="error"{/if} name="login" type="text" value="{$wa->post('login', $customer->get('email', 'default'))|escape}" placeholder="[`Email`]">
                        {if !empty($errors.email)}</p>
                        <em class="errormsg">{$errors.email}</em>
                        {/if}
                    </div>
                </div>
                <div class="wa-field">
                    <div class="wa-value">
                        <input {if !empty($errors.password)}class="error"{/if} name="password" type="password" value="{$wa->post('password')|escape}" placeholder="[`Password`]">
                        {if !empty($errors.password)}<br><em class="errormsg">{$errors.password}</em>{/if}
                    </div>
                </div>
            </div>
            {/if}
            {if !empty($errors.all)}
            <p class="error">{$errors.all}</p>
            {/if}
        </div>
    </div>
    
    <!-- plugin hook: 'frontend_checkout' -->
    {* @event frontend_checkout.%plugin_id% *}
    {foreach $frontend_checkout as $_}{$_}{/foreach}
        
</div>