<p class="onestep_min_summ" style="color: red;{if $cart.total >= shop_currency($settings.min_sum, null, null, false)}display:none;{/if}">
    Вы не можете оформить заказ т.к. сумма Вашего заказа меньше суммы минимального заказа. Сумма минимального заказа {shop_currency_html($settings.min_sum)}
</p>

<div class="checkout" {if $cart.total < shop_currency($settings.min_sum, null, null, false)}style="display:none;"{/if}>

    {if isset($checkout_steps)}
        <form class="checkout-form" method="post" action="">
            {if shopDiscounts::isEnabled('coupons')}
                <input type="hidden" name="coupon_code" value="{$coupon_code|escape}">
            {/if}
            {foreach $checkout_steps as $step_id => $s}

                <div class="checkout-step step-{$step_id}" data-step="{$step_id}">
                    <h2 class="block-title {if isset($_upcoming_flag)}upcoming{/if}">
                        <span class="block-title__text">{$s.name}<span class="loading"></span></span>
                    </h2>

                    {if $s@first}
                        <div class="checkout-step-content auth" >
                            {if !$wa->user()->isAuth()}
                                <!-- authorized / not authorized selector -->
                                <div class="form-field form-field--large">
                                <ul class="menu-v user-type-switch">
                                    <li><label class="label{if !$wa->post('wa_auth_login')} active{/if}"><input class="radio" name="user_type" type="radio" {if !$wa->post('wa_auth_login')}checked{/if} value="0"> [`I’m a new customer`]</label></li>
                                    <li><label class="label{if $wa->post('wa_auth_login')} active{/if}"><input class="radio" name="user_type" type="radio" {if $wa->post('wa_auth_login')}checked{/if} value="1"> [`I already have an account`]</label></li>
                                </ul>
                                </div>
                                <div id="login-form"{if !$wa->post('wa_auth_login')} style="display:none"{/if}>
                                    {$wa->authAdapters()}
                                    {$wa->loginForm($error, false, true)}
                                </div>
                            {else}
                                <!-- authorized -->
                                <div class="checkout__authorized-user form-field form-field--full">
                                    {sprintf("[`You are currently authorized as <strong>%s</strong>. Please verify or update your contact information using the form below. Your existing contact info will be automatically updated.`]", $wa->user('name'))}
                                    <br>
                                    [`If you want to place an order on behalf of another customer, <a href="?logout">log out</a> from your current profile and proceed to checkout again.`]
                                </div>
                            {/if}
                        </div>
                    {/if}

                    <div class="checkout-step-content">
                        {if in_array($step_id,['contactinfo', 'shipping', 'payment', 'confirmation'])}
                            {$checkout_tpls[$step_id]}
                        {/if}


                        {if $s@last}
                            <div class="align-right">
                                <input name="confirmation" type="hidden" value="1" >
                                <input type="submit" class="btn btn--primary btn--large" value="[`Place order`]">
                            </div>
                        {/if}
                    </div>

                </div>

            {/foreach}
        </form>
    {/if}

</div>
{$external_methods = []}
{if !empty($checkout_shipping_methods)}
    {foreach $checkout_shipping_methods as $m}
        {if $m.external}
            {$external_methods[] = $m.id}
        {/if}
    {/foreach}
{/if}
<script type="text/javascript">
    $.onestep.init({
        external_methods: [{implode(',', $external_methods)}],
        shipping_methods_ids: [{if !empty($all_checkout_shipping_methods_ids)}{implode(',', $all_checkout_shipping_methods_ids)}{/if}],
        steps: ['{implode("', '", array_keys($checkout_steps))}'],
        check_url: '{$wa_app_url}onestepcheck/',
        total: $('.cart-total').html(),
        shipping_url: "{$wa->getUrl('/frontend/shipping')}",
        validate: {intval($settings.validate)},
        submit: {if !empty($submit)}1{else}0{/if}
     });
</script>