<ul itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
    <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
        <a itemprop="item" href="{$wa_app_url}" class="breadcrumb__link">
            <span itemprop="name" class="breadcrumb__text">Sheerdecor</span>
            <meta property="position" content="1">
        </a>
    </li>
    <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
        <span itemprop="item" class="breadcrumb__link breadcrumb__link--current">
            <span itemprop="name" class="breadcrumb__text">{$breadcrumb_simple_text|escape}</span>
            <meta property="position" content="2">
        </span>
    </li>
</ul>