<!-- plugin hook -->
{* @event frontend_layout.%plugin_id%.header *}
{foreach $frontend_layout as $item}{if !empty($item.header)}{$item.header}{/if}{/foreach}

<article class="content" itemscope itemtype="http://schema.org/{if $action == 'photo'}Photograph{else}WebPage{/if}">
    {if !empty($breadcrumbs)}
        {if $wa->globals('isMyAccount')}
            {* within My Account we exclude first node from navigation because links are on the page already *}
            {$breadcrumbs[0] = null}
        {/if}
        <div class="breadcrumbs" itemprop="breadcrumb">
            {foreach $breadcrumbs as $breadcrumb}
                {if $breadcrumb}
                    <a href="{$breadcrumb.url}">{$breadcrumb.name|escape}</a> <span class="rarr">&rarr;</span>
                {/if}
            {/foreach}
        </div>
    {/if}

    {$content}
</article>