/*
 * @author Gaponov Igor <gapon2401@gmail.com>
 */
.singleform-gap-form { width: 515px; }
.singleform-gap-field { margin-bottom: 10px; }
.singleform-gap-form .errormsg, .singleform-mask-error { color: #ff0000; }
.singleform-gap-name { float: left; width: 200px; }
.singleform-gap-name.required label:after { content: '*'; color: #ff0000; margin-left: 3px;  }
.singleform-gap-value { margin-left: 220px; }
.singleform-gap-value input[type='text'], .singleform-gap-value textarea { width: 95%; } 
.singleform-gap-value textarea { height: 85px; }
.singleform-gap-value select {  }
.singleform-gap-option span { display: inline-block; margin-left: 5px;  }
.singleform-gap-option input[type="checkbox"], .singleform-gap-option input[type="radio"] { position: relative; top: 2px; }
.singleform-submit { margin-top: 15px; }
.singleform-empty-field { background-color: #ffcccc; }
.singleform-gap-htmlresult { color: green; padding: 10px; }
.singleform-gap-field.errorfld .errormsg { margin-left: 0; }
.singleform-file-info { font-size: .75em; }
.singleform-gap-record label { float: left; margin-right: 10px; font-weight: 600; }
.singleform-gap-record-value { word-wrap: break-word; }
.singleform-gap-record-value ul.menu-h li { margin-right: 5px; }
.singleform-gap-record-value ul.menu-v li { margin: 0; line-height: inherit; }
.singleform-gap-records .hint { color: #aaa; font-size: .8em; }
.singleform-gap-message { margin-bottom: 10px; }
.singleform-gap-field.errorfld .errormsg { margin-left: 0; }
.singleform-file-info { font-size: .75em; }
.singleform-gap-records .hint { color: #aaa; font-size: .8em; }
/*Icons*/
i.singleform-broom { text-decoration:none!important; background-repeat:no-repeat; vertical-align:top; margin-top: 5px; background-image: url("/wa-apps/singleform/img/broom.png"); height:16px; width:16px; display:inline-block; text-indent:-9999px; text-decoration:none!important; }
/* Minimal style */
.minimal .singleform-gap-name label { font-size: 16px; font-weight: 400; }
.minimal .singleform-gap-value  input { background: none; border: 0 none; border-bottom: 2px solid #000; font-size: 18px; font-weight: 600; padding: 2px; }
.minimal .singleform-gap-value textarea { background: none; border: 2px solid #000; font-size: 18px; font-weight: 600; padding: 4px; height: 120px; }
.minimal .singleform-gap-value textarea.singleform-empty-field, .minimal .singleform-gap-value  input.singleform-empty-field { background: #ffcccc; }
.minimal .singleform-gap-value select { background: none; border: 2px solid #000; font-size: 18px; font-weight: 600; padding: 2px; }
.minimal .singleform-gap-option span { font-weight: 600; font-size: 16px; }
.minimal .singleform-submit input { background: none repeat scroll 0 0 #FFFFFF; border: 3px solid #222222; -webkit-box-shadow: 4px 4px 0 #222222; -moz-box-shadow: 4px 4px 0 #222222; box-shadow: 4px 4px 0 #222222; cursor: pointer; float: right; margin: 20px 0 0; padding: 15px 35px 10px 30px; position: relative; text-align: center; text-transform: uppercase; width: auto; }
.minimal .singleform-submit input:active { border: 4px solid #222222; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; left: 4px; margin-bottom: -2px; top: 4px; }
/* Grey style */
.grey .singleform-gap-name label, .grey .singleform-gap-value  input, .grey .singleform-gap-value textarea { font-size: 14px; color: #454545; }
.grey .singleform-gap-value  input { height: 25px; }
.grey .singleform-gap-value  input, .grey .singleform-gap-value textarea, .grey .singleform-gap-value select { border: 4px solid #F0F0F0; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 0 0 1px #DDDDDD inset; -moz-box-shadow: 0 0 0 1px #DDDDDD inset; box-shadow: 0 0 0 1px #DDDDDD inset; padding: 3px; }
.grey .singleform-gap-value  input:focus, .grey .singleform-gap-value textarea:focus, .grey .singleform-gap-value select:focus { border-color: #E0E0E0; }
.grey .singleform-gap-field { width: 300px; float: left; margin-left: 15px; }
.grey .singleform-gap-field.type-textarea {  width: 99%; }
.grey .singleform-gap-name { float: none; }
.grey .singleform-gap-value { margin-left: 0; }
.grey .singleform-gap-value:after { clear: both; content: ''; display: block; } 
.grey .singleform-gap-fields:after { clear: both; display: block; content: ''; }
.grey .singleform-submit { clear: both; }
.grey .singleform-submit input { -moz-box-shadow:inset 0px 1px 0px 0px #f5978e; -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e; box-shadow:inset 0px 1px 0px 0px #f5978e; background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f)); background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%); background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%); background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%); background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%); background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0); background-color:#f24537; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; border:1px solid #d02718; display:inline-block; color:#ffffff; font-size:16px; font-weight:normal; padding:10px 25px; text-decoration:none; text-shadow:0px 1px 0px #810e05; }
.grey .singleform-submit input:hover { background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537)); background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%); background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%); background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%); background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%); background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0); background-color:#c62d1f; }
.grey .singleform-submit input:active { position:relative; top:1px; }
.grey.singleform-gap-form { background-color: #F7F7F7; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; padding: 10px 0; position: relative; width: 640px; }
.grey.singleform-gap-form:before { background: url("/wa-apps/singleform/img/shadow-form.png") no-repeat scroll left top transparent; content: ""; display: block; height: 10px; left: 0; position: absolute; top: 100%; width: 640px; }
.grey .singleform-gap-option { float: left; margin-right: 10px; }
.grey .singleform-gap-option input[type="checkbox"], .grey .singleform-gap-option input[type="radio"] { top: 6px; }
.grey .singleform-gap-field.errorfld { clear: both;  }