<!--  BREADCRUMB  -->
{$current_url  = $wa->currentUrl()}
{$frontend_homepage = ''}
{if !isset($frontend_homepage)}
<ul itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
	<li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
		<a itemprop="item" href="{$wa_app_url}" class="breadcrumb__link">
			<span itemprop="name" class="breadcrumb__text">Sheerdecor</span>
			<meta property="position" content="1">
		</a>
	</li>
	{if $breadcrumbs}
		{foreach from=$breadcrumbs item=breadcrumb name=bread}
			<li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
				<a itemprop="item" href="{$breadcrumb.url}" class="breadcrumb__link">
					<span itemprop="name" class="breadcrumb__text">{$breadcrumb.name|escape}</span>
					<meta property="position" content="{$smarty.foreach.bread.iteration+1}">
				</a>
			</li>
		{/foreach}
    {/if}

    {if $smarty.server.REQUEST_URI == $wa_app_url}
        <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
            <span itemprop="item" class="breadcrumb__link breadcrumb__link--current">
                <span itemprop="name" class="breadcrumb__text">{$wa->appName()|escape}</span>
                <meta property="position" content="{count($breadcrumbs)+1}">
            </span>
        </li>
    {else}
        {if $page.name}
            <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
                <span itemprop="item" class="breadcrumb__link breadcrumb__link--current">
                    <span itemprop="name" class="breadcrumb__text">{$page.name|escape}</span>
                    <meta property="position" content="{count($breadcrumbs)+1}">
                </span>
            </li>
        {elseif $category.name}
            <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
                <span itemprop="item" class="breadcrumb__link breadcrumb__link--current">
                    <span itemprop="name" class="breadcrumb__text">{$category.name|escape}</span>
                    <meta property="position" content="{count($breadcrumbs)+1}">
                </span>
            </li>
        {elseif $product.name}
            <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
                <span itemprop="item" class="breadcrumb__link breadcrumb__link--current">
                    <span itemprop="name" class="breadcrumb__text">{$product.name|escape}</span>
                    <meta property="position" content="{count($breadcrumbs)+1}">
                </span>
            </li>
        {elseif $title}
            <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
                <span itemprop="item" class="breadcrumb__link breadcrumb__link--current">
                    <span itemprop="name" class="breadcrumb__text">{$title|escape}</span>
                    <meta property="position" content="{count($breadcrumbs)+1}">
                </span>
            </li>
        {else}
            <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
                <span itemprop="item" class="breadcrumb__link breadcrumb__link--current">
                    <span itemprop="name" class="breadcrumb__text">{$wa->title()|escape}</span>
                    <meta property="position" content="{count($breadcrumbs)+1}">
                </span>
            </li>
        {/if}
    {/if}
</ul>
{/if}