<script defer type="text/javascript" src="{$wa_theme_url}cart.js"></script>

{if !$cart.count}
    
    <div class="cart your-cart-is-empty">
        <h1>[`Shopping cart`]</h1>
        <p>[`Your shopping cart is empty.`]</p>
    </div>

{else}

    <form method="post">
        
        <h1>[`Shopping cart`]</h1>
    
        <!-- sixteen-column cart layout -->
        <div class="cart cart-summary-page">
            
            {foreach $cart.items as $item}
            
                <!-- cart item -->
                <div class="row" data-id="{$item.id}">                  
                    <div class="col w1 item-thumb"><a href="{$wa->shop->productUrl($item.product)}" title="{$item.product.name|escape}">{$wa->shop->productImgHtml($item.product, '96x96', ['default' => "`$wa_theme_url`img/dummy48.png"])}</a>&nbsp;</div>
                    <div class="col w9 item-name">
                        <a href="{$wa->shop->productUrl($item.product)}" class="bold">{$item.product.name|escape}</a>
                        {if $item.sku_name && $item.sku_name != $item.product.name}{$item.sku_name|escape}{/if}
                    </div>
                    <div class="col w2 item-qty align-center nowrap"><span class="gray">&times;</span> <input type="text" name="quantity[{$item.id}]" value="{$item.quantity}" class="qty{if !empty($item.error)} error{/if}"></div>
                    <div class="col w1 item-remove"><a class="delete" href="#" title="[`Remove from cart`]"><i class="icon16 remove"></i></a></div>                        
                    <div class="col w3 align-center item-total nowrap">{shop_currency_html($item.full_price, true)}</div>

                    {if !empty($item.services)}
                    <!-- services -->
                    <div class="clear-both">
                        <div class="col w1 item-thumb">&nbsp;</div>
                        <div class="col w15 services">
                            {foreach $item.services as $service_id => $s}
                            <!-- one option -->
                            <div {if !empty($s.id)}data-id="{$s.id}"{/if}>
                            <label>
                                <input {if !empty($s.id)}checked{/if} type="checkbox" name="services[{$item.id}][]" value="{$service_id}"> {$s.name|escape} {if $s.price && !isset($s.variants)}(<span>+{shop_currency_html($s.price, $s.currency)}</span>){/if}
                            </label>
                            {if isset($s.variants)}
                            <select name="service_variant[{$item.id}][{$service_id}]" {if empty($s.id)}disabled{/if}>
                                {foreach $s.variants as $variant_id => $v}
                                <option {if $s.variant_id == $variant_id}selected{/if} value="{$variant_id}">{$v.name|escape} (+{shop_currency($v.price, $s.currency)})</option>
                                {/foreach}
                            </select>
                            {/if}
                            </div>
                            {/foreach}
                        </div>
                    </div>
                    {/if}

                    {if $theme_settings.cart_crossselling == 'many'}
                        {if $item@index < 3}
                            {$_exclude_ids = []}
                            {foreach $cart.items as $item}{$_exclude_ids[] = $item.product.id}{/foreach}
                            {$related = $wa->shop->crossSelling($item.product.id, 5, true, $_exclude_ids)}
                            {if $related}
                                <!-- cross-selling -->
                                <div class="clear-both" data-id="{$item.id}">
                                    <div class="col w1 item-thumb">&nbsp;</div>
                                    <div class="col w15 small related">
                                        <h4><strong>[`Recommended!`]</strong> {sprintf('[`Customers who bought %s also bought`]', $item.product.name|escape)}:</h4>
                                        {include file="list-thumbs-mini.html" products=$related without_form=true}
                                    </div>
                                </div>
                            {/if}
                        {/if}
                    {/if}
                    
                </div>
                {if !empty($item.error)}<script>alert({json_encode($item.error)});</script>{/if}
            {/foreach}
            
            <!-- discount -->
            <div class="row no-border" {if !shopDiscounts::isEnabled('coupons') && !$discount}style="display:none"{/if} id="discount-row">
                <div class="col w10 cart-coupon no-border">

                    {if shopDiscounts::isEnabled('coupons')}
                        <div {if !$coupon_code}style="display: none;"{/if} id="apply-coupon-code">
                            [`Coupon code`]:
                            <input type="text" name="coupon_code" value="{$coupon_code|escape}"> <input type="submit"  value="[`Apply`]" class="gray small">
                            {if $coupon_code && empty($coupon_discount)}
                                <div class="errormsg">[`Invalid coupon code`]</div>
                            {/if}
                        </div>
                    {/if}
                    
                </div>
                <div class="col w2 align-center">[`Discount`]</div>
                <div class="col w3 align-center cart-discount nowrap">&minus; {shop_currency_html($discount, true)}</div>
                <div class="col w1"></div>
            </div>

            {if shopAffiliate::isEnabled() && $affiliate_bonus > 0}
            <!-- affiliate bonus -->
            <div class="row no-border">
                <div class="col w12 no-border">
                    {sprintf('[`Your current affiliate bonus of %s points allows you to get an additonal discount of up to %s`]', $affiliate_bonus, "<span class=\"affiliate-discount-available\">{shop_currency_html($affiliate_discount)}</span>")}
                    {if $use_affiliate}
                    <a id="cancel-affiliate" href="#">[`Don’t use bonus discount`]</a>
                    {else}
                    <input type="submit" name="use_affiliate" class="small gray" value="[`Use bonus`]">
                    {/if}
                </div>
                <div class="col w3 align-center affiliate-discount"{if $use_affiliate} data-use="1"{/if}>&minus; {if $use_affiliate}{shop_currency_html(shopAffiliate::convertBonus($used_affiliate_bonus))}{else}0{/if}</div>
                <div class="col w1">&nbsp;</div>
            </div>
            {/if}
            
            <!-- TOTAL -->
            <div class="row large no-border">
                <div class="col w12 no-border">
                    [`Total`]
                    {if shopDiscounts::isEnabled('coupons') && !$coupon_code}<a href="#" class="small inline-link not-visited" id="use-coupon"><b><i>[`I have a coupon!`]</i></b></a>{/if}
                </div>
                <div class="col w3 cart-total align-center total bold nowrap">{shop_currency_html($cart.total, true)}</div>
                <div class="col w1">&nbsp;</div>
            </div>
            
            {if shopAffiliate::isEnabled() && !empty($add_affiliate_bonus)}
            <div class="row no-border">
                <div class="col w16 no-border">
                    <p class="affiliate"><i class="icon16 like"></i> {sprintf("[`This order will add <strong>+%s bonuses</strong> to  your account, which you will be able to spend on getting additional discounts later.`]", $add_affiliate_bonus)}</p>
                </div>
            </div>
            {/if}
            
            <!-- CHECKOUT -->
            <div class="row no-border">
                <div class="col w10 no-border featured-shipping-and-payment">
                    {*
                        display up to 8 logos of available payment options;
                        replace $wa->shop->payment() with $wa->shop->shipping() if you prefer shipping options logos
                    *}
                    {$availabe_options = $wa->shop->payment()}
                    {$_cnt = 0}
                    {foreach $availabe_options as $option name=options}
                        {if $_cnt == 8}{break}{/if}
                        {if $option.logo}
                            <img src="{$option.logo}" alt="{$option.name}">
                            {$_cnt = $_cnt + 1}
                        {/if}
                    {foreachelse}
                        &nbsp;
                    {/foreach}
                </div>
                <div class="col w6 align-center bold cart-checkout">
                    <input name="checkout" type="submit" value="[`Proceed to checkout`] &rarr;" class="button large">
                </div>
            </div>
            
            {$related = $wa->shop->crossSelling($cart.items, 'product_id')}
            {if $theme_settings.cart_crossselling == 'common' && $related}
                <div class="row no-border">
                    <div class="col w16 related">

                        <h4><strong>[`Recommended!`]</strong> {sprintf('[`Customers who bought %s also bought`]', $item.product.name|escape)}:</h4>
                        {include file="list-thumbs-mini.html" products=$related without_form=true}
                        <div class="clear-both"></div>
                    </div>
                </div>
            {/if}
            
        </div>

        <!-- plugin hook: 'frontend_cart' -->
        {* @event frontend_cart.%plugin_id% *}
        {foreach $frontend_cart as $_}{$_}{/foreach}                    

    </form>

{/if}