<style>
    html,
    body,
    .content,
    main.maincontent {
        background: #fff !important;
    }

    .cart,
    .checkout-header {
        display: none;
    }

    .checkout-step {
        box-shadow: none;
    }
</style>

<div class="checkout-result success">
    <h1>Ваш заказ</h1>
    <div class="order">
        <div class="box">
            Ваш заказ № {$order.id} оформлен, менеджер
            свяжется с вами для обсуждения деталей
            оплаты и доставки с 10:00 до 19:00.
        </div>
		{if !empty($payment)}			
			<div class="box">
				{$payment}
			</div>
		{/if}
    </div>

    {if !empty($payment_success)}
    <span class="highlighted">[`Your payment has been successfully accepted. We will process your order and contact you shortly.`]</span>
    {/if}

    {*<p class="back">
        &larr; <a href="{$wa_app_url}">[`Back to the store`]</a>
    </p>*}

    <!-- plugin hook: 'frontend_checkout' -->
    {* @event frontend_checkout.%plugin_id% *}
    {foreach $frontend_checkout as $_}{$_}{/foreach}

</div>