.bd-bg .user-row{z-index:10}
.product-images-wrapper .thumb{cursor:pointer;max-height: 135px; display: block;}
.product-images-wrapper .thumb.empty{cursor:default}
.product-aside__stock.stock-list .sku_block{display:none}
@media screen and (max-width: 480px) {
	.product-images-wrapper .thumb{cursor:default}
}
@media screen and (max-width: 540px) {
	.product-images-wrapper{margin:0 0 20px 0;padding:0;width:240px;min-height:439px;min-height:135px;overflow:hidden;position:relative}
	.product-images-wrapper .carousel-list{margin:0;padding:0;list-style:none;position:absolute;top:0;left:0;z-index:5}
	.product-images-wrapper .carousel-item{margin:0 0 11px 0;padding:0;display:block}
	.product-images-wrapper .carousel-arrow-top,
	.product-images-wrapper .carousel-arrow-bottom{display:none;position:absolute;width:240px;height:31px;left:0;background-image:url('img/prdgallerynav_vertical.png');cursor:pointer;z-index:6}
	.product-images-wrapper .carousel-arrow-top{top:0;background-position:0 0}
	.product-images-wrapper .carousel-arrow-top:hover{background-position:0 -31px}
	.product-images-wrapper .carousel-arrow-bottom{bottom:0;background-position:0 -62px}
	.product-images-wrapper .carousel-arrow-bottom:hover{background-position:0 -93px}
}
@media screen and (min-width: 540px) {
	.product-images-wrapper{margin:0 0 20px 0;padding:0;width:498px;height:135px;overflow:hidden;position:relative}
	.product-images-wrapper .carousel-list{margin:0;padding:0;height:135px;list-style:none;position:absolute;top:0;left:0;z-index:5}
	.product-images-wrapper .carousel-list:after{content:"";display:block;height:0;clear:both}
	.product-images-wrapper .carousel-item{margin:0 18px 0 0;padding:0;display:block;float:left}
	.product-images-wrapper .carousel-arrow-top,
	.product-images-wrapper .carousel-arrow-bottom{display:none;position:absolute;width:31px;height:134px;background-image:url('img/prdgallerynav_horizontal.png');cursor:pointer;z-index:6}
	.product-images-wrapper .carousel-arrow-top{left:0;background-position:0 0}
	.product-images-wrapper .carousel-arrow-top:hover{background-position:-31px 0}
	.product-images-wrapper .carousel-arrow-bottom{right:0;background-position:-62px 0}
	.product-images-wrapper .carousel-arrow-bottom:hover{background-position:-93px 0}
}
@media screen and (min-width: 800px) {
	.product-images-wrapper{margin:0 0 20px 0;padding:0;width:756px;height:135px;overflow:hidden;position:relative}
	.product-images-wrapper .carousel-list{margin:0;padding:0;height:135px;list-style:none;position:absolute;top:0;left:0;z-index:5}
	.product-images-wrapper .carousel-list:after{content:"";display:block;height:0;clear:both}
	.product-images-wrapper .carousel-item{margin:0 18px 0 0;padding:0;display:block;float:left}
	.product-images-wrapper .carousel-arrow-top,
	.product-images-wrapper .carousel-arrow-bottom{display:none;position:absolute;width:31px;height:134px;background-image:url('img/prdgallerynav_horizontal.png');cursor:pointer;z-index:6}
	.product-images-wrapper .carousel-arrow-top{left:0;background-position:0 0}
	.product-images-wrapper .carousel-arrow-top:hover{background-position:-31px 0}
	.product-images-wrapper .carousel-arrow-bottom{right:0;background-position:-62px 0}
	.product-images-wrapper .carousel-arrow-bottom:hover{background-position:-93px 0}
}
@media screen and (min-width: 1280px) {
	.product-images-wrapper{margin:0;padding:0;width:240px;min-height:427px;overflow:hidden;position:relative}
	.product-images-wrapper.single{min-height:auto}
	.product-images-wrapper.single.items0{min-height:139px}
	.product-images-wrapper.single.items1{min-height:135px}
	.product-images-wrapper.single.items2{min-height:289px}
	.product-images-wrapper.single.items3{min-height:439px}
	.product-images-wrapper .carousel-list{float:none;margin:0;padding:0;list-style:none;position:absolute;top:0;left:0;z-index:5}
	.product-images-wrapper .carousel-item{margin:0 0 11px 0;padding:0;display:block}
	.product-images-wrapper .carousel-arrow-top,
	.product-images-wrapper .carousel-arrow-bottom{display:none;position:absolute;width:240px;height:31px;left:0;background-image:url('img/prdgallerynav_vertical.png');cursor:pointer;z-index:6}
	.product-images-wrapper .carousel-arrow-top{top:0;background-position:0 0}
	.product-images-wrapper .carousel-arrow-top:hover{background-position:0 -31px}
	.product-images-wrapper .carousel-arrow-bottom{bottom:0;background-position:0 -62px}
	.product-images-wrapper .carousel-arrow-bottom:hover{background-position:0 -93px}
}
.fancybox-wrap.sd_gallery .fancybox-skin{background:#fff}
.fancybox-wrap.sd_gallery .fancybox-close{position:absolute;top:-20px;right:-20px;width:40px;height:40px;cursor:pointer;z-index:8040;background-image:url('img/sd_gallery_close.png'); background-position: top center; background-size: 100% 200%;
	backface-visibility: hidden;
	-webkit-transition: all 0s;
	-moz-transition: all 0s;
	-o-transition: all 0s;
	transition: all 0s;
}
.fancybox-wrap.sd_gallery .fancybox-close:hover {background-position: bottom center;}
.fancybox-wrap.sd_gallery .fancybox-outer .fancybox-nav{position:absolute;top:50%;width:33px;height:254px;cursor:pointer;text-decoration:none;background: none;-webkit-tap-highlight-color:rgba(0,0,0,0);z-index:8040;margin-top:-127px}
.fancybox-wrap.sd_gallery .fancybox-outer .fancybox-nav SPAN{position:absolute;top:0;width:33px;height:254px;margin-top:0;cursor:pointer;z-index:8040;visibility:visible;background-image:url('img/sd_gallery_nav.png')}
.fancybox-wrap.sd_gallery .fancybox-outer .fancybox-nav.fancybox-prev{left:-42px}
.fancybox-wrap.sd_gallery .fancybox-outer .fancybox-nav.fancybox-prev SPAN{left:0;background-position:-66px 0}
.fancybox-wrap.sd_gallery .fancybox-outer .fancybox-nav.fancybox-prev:hover SPAN{left:0;background-position:0 0}
.fancybox-wrap.sd_gallery .fancybox-outer .fancybox-nav.fancybox-next{position:absolute;top:0;bottom:0;left:0;right:-42px;width:auto;height:auto;cursor:pointer;text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);z-index:8040;margin-top:0}
.fancybox-wrap.sd_gallery .fancybox-outer .fancybox-nav.fancybox-next SPAN{top:50%;margin-top:-127px;right:0;background-position:-99px 0}
.fancybox-wrap.sd_gallery .fancybox-outer .fancybox-nav.fancybox-next:hover SPAN{right:0;background-position:-33px 0}
