<!-- shop app css -->
<!-- js -->
<script defer type="text/javascript" src="{$wa_app_static_url}js/lazy.load.js?v{$wa->version()}"></script>
<script defer type="text/javascript" src="{$wa_active_theme_url}default.shop.js?v{$wa_theme_version}"></script>
{if !empty($nofollow)}
    <!-- "nofollow" for pages not to be indexed, e.g. customer account -->
    <meta name="robots" content="noindex,nofollow" />
{/if}
<!-- plugin hook: 'frontend_head' -->
{* @event frontend_head.%plugin_id% *}
{foreach $frontend_head as $_}{$_}{/foreach}
<!-- fh end -->