{*
    storefront homepage
*}
<div class="{if $theme_settings.homepage_sidebar_layout != 'hidden'} with-sidebar{/if}{if $theme_settings.homepage_sidebar_layout == 'left'} left-sidebar{/if}"">
    
    {$promocards = $wa->shop->promos()}
    {$bestsellers = $wa->shop->productSet( $theme_settings.homepage_productset_bestsellers )}
    
    {if $theme_settings.homepage_bxslider_mode == 'products'}
        {$promoproducts = $wa->shop->productSet( $theme_settings.homepage_productset_promo )}
    {/if}


    {if empty($promocards) && empty($promoproducts) && empty($bestsellers)}
    
        <article class="welcome">
            <h1>[`Welcome to your new online store!`]</h1>
            <p>{sprintf('[`Start by <a href="%s">creating a product</a> in your store backend.`]', $wa_backend_url|cat:'shop/?action=products#/welcome/')}</p>
            <style>
                .page-content.with-sidebar { margin-left: 0; border-left: 0; }
            </style>
        </article>
    {/if}

    <!-- plugin hook: 'frontend_homepage' -->
    {* @event frontend_homepage.%plugin_id% *}
    {foreach $frontend_homepage as $_}{$_}{/foreach}

</div>

<div class="clear-both"></div>

<div id="home_list">

	{$all_cats = $wa->shop->categories(0, 0)}
	{$temp_count=1}
	{foreach $all_cats as $cat}
		{$products = $wa->shop->productSet($cat.id)}
		{if $products}
			<section class="category-block" id="temp_id{$temp_count}">
				<a class="category-title" href="{$cat.url}">
                    <h2 class="category-title__text">{$cat.name}</h2>
                    <span class="category-title__more">Посмотреть все > > ></span>
                </a>
				{include file="list-thumbs.html" products=$products disable_compare=false}
			</section>
		{else}
			<p class="hint align-center" id="temp_id{$temp_count}"><br><em>Список <strong>{$cat.name}</strong> не создан или не содержит товаров, создайте соответствующий список с идентификатором <strong>{$cat.id}</strong> и/или наполните его товарами</em></p>
		{/if}
		<!--{$temp_count++}-->
	{/foreach}
	<div class="custom_text_blocks">
		{$wa->block("home_list_text")}
	</div>
</div>