<!-- products thumbnail list view -->
{if $wa->shop->cart->total() > 0}{$add2cart_label = '[`Add to cart`]'}{else}{$add2cart_label = '[`Buy`]'}{/if}
<ul class="thumbs product-list">
	{$temp_count = 1}
    {if !empty($theme_settings.list_features)} {$features = $wa->shop->features($products)} {/if}
    {foreach $products as $p} {$available = $wa->shop->settings('ignore_stock_count') || $p.count === null || $p.count > 0}
    {$old_price = $p.compare_price}
    {$discount = 0}
    {$sku_word = ''}
    {if $old_price > $p.price}
        {$discount = 100 - round($p.price*100/$old_price)}
    {/if}
    {if intval($p.sku_count) > 1}
        {$sku_word = 'от '}
    {/if}
    {*$prod_img = $wa->shop->productImgHtml($p, '240x135', ['itemprop' => 'image', 'alt' => $p.name|escape, 'default' => "`$wa_static_url`wa-data/public/assets/images/noimage_240.png", 'class' => 'prod__img'])*}
    {$prod_img = shopImageurlPlugin::productImgHtml($p, '240x135', ['itemprop' => 'image', 'alt' => $p.name|escape, 'default' => "`$wa_static_url`wa-data/public/assets/images/noimage_240.png", 'class' => 'prod__img'])}
    <li class="prod{if $discount} prod--offer{/if}{if !$simple_mode} temp_class{$temp_count}{/if}" itemscope itemtype="http://schema.org/Product">
        <div class="prod__img-wrap">
            {$badge_html = $wa->shop->badgeHtml($p.badge)} {if $badge_html}
            <div class="corner top right">{$badge_html}</div>
            {/if}
			{$prod_img|replace:'src=':'data-original='}
        </div>
        {if $discount}
        <div class="prod__price-wrap">
            <a href="{$p.frontend_url}" title="{$p.name}" class="prod__link">
                <span class="prod__discount">{shop_currency_html($old_price)}</span>
                <span class="prod__price">{$sku_word}{shop_currency_html($p.price)}</span>
                <span class="prod__discount-percent">-{$discount}%</span>
                <meta itemprop="price" content="{$p.price}">
                <meta itemprop="priceCurrency" content="{$wa->shop->primaryCurrency()}">
            </a>
        </div>
        {/if}

        <div itemprop="offers" class="prod__info" itemscope itemtype="http://schema.org/Offer">
            <a class="prod__link" href="{$p.frontend_url}" title="{$p.name}">
                {if !$discount}
                <div class="prod__price-wrap">
                    {$sku_word}{shop_currency_html($p.price)}
                    <meta itemprop="price" content="{$p.price}">
                    <meta itemprop="priceCurrency" content="{$wa->shop->primaryCurrency()}">
                </div>
                {/if}
                <div class="prod__name" itemprop="name">{$p.name}</div>
                <div class="prod__bottom">
                    {if $p.count == null OR  $p.count > 0}
                    <div class="prod__instock instock">Есть в наличии</div>
                    <link itemprop="availability" href="http://schema.org/InStock"/>
                    {else}
                    <div class="prod__instock instock instock--none">{if $wa->shop->settings('ignore_stock_count')}[`Pre-order only`]{else}[`Out of stock`]{/if}</div>
                    <link itemprop="availability" href="http://schema.org/OutOfStock"/>
                    {/if}
                </div>
            </a>

            <div class="prod__actions">
			{if $wa->user()->isAuth()}
				{shopFavoritesPlugin::product($p.id)}
			{else}
				<i class="icon icon--wishlist not_auth" title="Отложить товар"></i>
			{/if}
                
			{if empty($disable_compare)}
				<a data-product="{$p.id}" class="compare icon icon--compare{if $wa->shop->inComparison($p.id)} active{/if}" href="#" {if $wa->shop->inComparison($p.id)}title="Убрать из сравнения"{else}title="Добавить в сравнение"{/if}></a>
			{/if}
            </div>
        </div>
    </li>
	<!--{$temp_count++}-->
    {/foreach}
</ul>
{if isset($pages_count) && $pages_count > 1 && !$simple_mode}
	{if !waRequest::get('page')}<div class="show_more_block load-more-wrap"><div id="show_more_btn" class="load-more lazyloading-paging custom_btn">Показать еще<br></div></div>{/if}
	<div class="pagination_block pagination-wrap">{wa_pagination total=$pages_count attrs=['class' => "pagination"]}</div>
{/if}

{literal}

<script>
	loadEvents.push(function() {
		function hide_extra_if_filter() {
			if ($(".filter-wrap").find("a.filters-reset").is(":visible")) {
				$(document).find(".prod.extra").hide();
			} else {
				$(document).find(".prod.extra").show();
			}
		}

		$(window).load(function(){
			hide_extra_if_filter()
		});

		$(document).ready(function(){
			hide_extra_if_filter()
		});
	});

</script>

{/literal}
