<!-- plugin hook: 'frontend_header' -->
{* @event frontend_header.%plugin_id% *}
{foreach $frontend_header as $_}{$_}{/foreach}

<div class="content" id="page-content" itemscope
     itemtype="http://schema.org/{if $action == 'default'}Store{else}WebPage{/if}">

    <!-- BEGIN: internal navigation breadcrumbs -->
    {* if !$error_code}
        {if !isset($category) && !isset($product)}
            {include file="`$wa_active_theme_path`/breadcrumbs.html" inline}
        {else}
            {include file="`$wa_active_theme_path`/breadcrumbs.other.html" inline}
        {/if}
    {/if *}
    <!-- END: internal navigation breadcrumbs -->

    {if $wa->globals('isMyAccount')}

    <h1>Личный кабинет</h1>

    <!-- APP NAVIGATION -->
    <div class="appnav box">
        {* focused personal accounts navigation *}
        {$wa->myNav('pages')}
    </div>
    {/if}
    {$content}
</div>


<div id="dialog" class="dialog">
    <div class="dialog-background"></div>
    <div class="dialog-window">
        <!-- common part -->
        <div class="cart">

        </div>
        <!-- /common part -->
    </div>
</div>

<!--<aside id="compare-leash">
    {$in_comparison = $wa->shop->inComparison()}
    <a {if !$in_comparison}style="display:none;" {/if} href="{$wa->getUrl('/frontend/compare', ['id' => implode(',',
    $in_comparison)])}">[`Compare selected products`] (<strong>{count($in_comparison)}</strong>)</a>
    {if $in_comparison}
    <style>.appfooter {
        padding-bottom: 60px;
    } </style>
    {/if}
</aside>-->

