<li class="pills__item shop {if $my_nav_selected == 'orders'}selected{/if}">
    <a class="pills__link" href="{$wa->getUrl('/frontend/myOrders')}">Мои заказы</a>
</li>

{if shopAffiliate::isEnabled()}
    <li class="pills__item shop {if $my_nav_selected == 'affiliate'}selected{/if}">
        <a class="pills__link" href="{$wa->getUrl('/frontend/myAffiliate')}">[`Affiliate program`]</a>
    </li>
{/if}

{if $my_app == $wa->app()}
    <li class="pills__item shop {if $my_nav_selected == 'profile'}selected{/if}">
        <a class="pills__link" href="{$wa->getUrl('/frontend/myProfile')}">[s`My profile`]</a>
    </li>
{/if}

<!-- plugin hook: 'frontend_my_nav' -->
{* @event frontend_my_nav.%plugin_id% *}
{foreach $frontend_my_nav as $_plugin => $_}
<li class="pills__item shop {if waRequest::param('plugin') == str_replace('-plugin', '', $_plugin)}selected{/if}">{$_}</li>
{/foreach}

{$wa->globals('isMyAccount', true)}