{$product_tab_work = $wa->block("product.tabs.work")}
{$product_tab_payment = $wa->block("product.tabs.payment")}
{$product_tab_warranty = $wa->block("product.tabs.warranty")}
{$product_tab_install = $wa->block("product.tabs.install")}
{$product_tab_dealers = $wa->block("product.tabs.dealers")}
{$product_tab_return = $wa->block("product.tabs.return")}

<div class="tabs">
    <ul class="tab">
        {if ($product_tab_work|@count_characters) > 10}
        <li class="tab__item"><a href="#work" class="tab__link tab__link--work">Производство под заказ</a>
            <div class="tab__content-wrap">
                <div class="tab__content">
                    {$product_tab_work}
                </div>
            </div>
        </li>
        {/if}
        {if ($product_tab_payment|@count_characters) > 10}
        <li class="tab__item"><a href="#payment" class="tab__link tab__link--payment">Оплата и доставка</a>
            <div class="tab__content-wrap">
                <div class="tab__content">
                    {$product_tab_payment}
                </div>
            </div>
        </li>
        {/if}
        {if ($product_tab_warranty|@count_characters) > 10}
        <li class="tab__item"><a href="#warranty" class="tab__link tab__link--warranty">Гарантия</a>
            <div class="tab__content-wrap">
                <div class="tab__content">
                    {$product_tab_warranty}
                </div>
            </div>
        </li>
        {/if}
        {if ($product_tab_install|@count_characters) > 10}
        <li class="tab__item"><a href="#install" class="tab__link tab__link--install">Установка</a>
            <div class="tab__content-wrap">
                <div class="tab__content">
                    {$product_tab_install}
                </div>
            </div>
        </li>
        {/if}
        {if ($product_tab_dealers|@count_characters) > 10}
        <li class="tab__item"><a href="#dealers" class="tab__link tab__link--dealers">Дилерам</a>
            <div class="tab__content-wrap">
                <div class="tab__content">
                    {$product_tab_dealers}
                </div>
            </div>
        </li>
        {/if}
        {if ($product_tab_return|@count_characters) > 10}
        <li class="tab__item"><a href="#return" class="tab__link tab__link--return">Возврат и обмен</a>
            <div class="tab__content-wrap">
                <div class="tab__content">
                    {$product_tab_return}
                </div>
            </div>
        </li>
        {/if}
    </ul>
</div>
