<form id="cart-form{if $wa->get('cart')}-dialog{/if}" method="post" action="{$wa->getUrl('/frontendCart/add')}">
    {if $product.summary}
        <p>{$product.summary|truncate:512}</p>
    {/if}

    {if $product.sku_type}

        <!-- SELECTABLE FEATURES selling mode -->
        {$default_sku_features = $product.sku_features}
        {$product_available = $product.status}
        {$product_available = false}

       <div class="options product-aside__size select-size">
		{foreach $features_selectable as $f}
			<h3 class="select-size__label">{$f.name}:</h3>
			<select data-feature-id="{$f.id}" data-feature-code="{$f.code}" class="sku-feature select select-size" name="features[{$f.id}]">
				{foreach $f.values as $v_id => $v}
				<option class="{if (!($f.count === null) && $f.count <= 0)}zakazat_true{else}zakazat_false{/if}" value="{$v_id}" {if $v_id == ifset($default_sku_features[$f.id])}selected{/if}>{$v}</option>
				{/foreach}
			</select>
			<br />
			<br />
		{/foreach}
	</div>
		
        {if count($product.skus) > 1}
       <!-- <div class="product-aside__size select-size">
            <h3 class="select-size__label">ВЫБЕРИТЕ размер (Г х Ш х В):</h3>
            <div class="product-aside__size-value">
                <select  name="skus[{$sku.id}]" id="{$sku.id}" class="select select-size" data-feature-id="{$sku.id}">
                    {foreach $product.skus as $sku}
					<option class="sku-feature {if (!($sku.count === null) && $sku.count <= 0)}zakazat_true{else}zakazat_false{/if}" value="{$sku.id}">{$sku.name}</option>
                    {/foreach}
                </select>
            </div>
        </div>-->
        {/if}
        
        <!-- list all SKUs for Schema.org markup -->
        {foreach $product.skus as $sku}
            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                {$sku_available =  $product.status && $sku.available && ($wa->shop->settings('ignore_stock_count') || $sku.count === null || $sku.count > 0)}
                {if $sku.name}<meta itemprop="name" content="{$sku.name|escape}">{/if}
                <meta itemprop="price" content="{$sku.price}">
                <meta itemprop="priceCurrency" content="{$product.currency}">
                {if (!($sku.count === null) && $sku.count <= 0)}
                    <link itemprop="availability" href="http://schema.org/OutOfStock" />
                {else}
                    <link itemprop="availability" href="http://schema.org/InStock" />
                {/if}
            </div>
        {/foreach}
        
    {else}

        <!-- BEGIN: FLAT SKU LIST selling mode -->
        {$product_available = false}
        {if count($product.skus) > 1}
            <div class="product-aside__size select-size">
                <h3 class="select-size__label">ВЫБЕРИТЕ размер (Г х Ш х В):</h3>

                {* SKU radio buttons *}
                <ul class="skus">
                    {foreach $product.skus as $sku}
                    {$sku_available =  $product.status && $sku.available && ($wa->shop->settings('ignore_stock_count') || $sku.count === null || $sku.count > 0)}
                    <li class="skus__item product-sku" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <label class="product-sku__label{if !$sku.available} disabled{/if}">
                        <input class="product-sku__radio {if (!($sku.count === null) && $sku.count <= 0)}zakazat_true{else}zakazat_false{/if}" name="sku_id" type="radio" value="{$sku.id}"{if !$sku.available} disabled="true"{/if}{if !$sku_available}data-disabled="1"{/if}{if $sku.id == $product.sku_id} checked="checked"{/if} data-compare-price="{shop_currency($sku.compare_price, $product.currency, null, 0)}" data-price="{shop_currency($sku.price, $product.currency, null, 0)}"{if $sku.image_id} data-image-id="{$sku.image_id}"{/if}>
                        {if $sku.name}<span class="product-sku__value" itemprop="name">{$sku.name|escape}</span>{/if}
                        <meta itemprop="price" content="{$sku.price}">
                        <meta itemprop="priceCurrency" content="{$product.currency}">
                       <!-- <span class="price tiny nowrap">{shop_currency_html($sku.price, $product.currency)}</span>-->
                        {if (!($sku.count === null) && $sku.count <= 0)}
                            <link itemprop="availability" href="http://schema.org/OutOfStock" />
                        {else}
                            <link itemprop="availability" href="http://schema.org/InStock" />
                        {/if}
                        </label>
                    </li>
                    {$product_available = $product_available or $sku_available}
                    {/foreach}
                </ul>
            </div>

        {else}
    
            {* in case there is only one SKU, don't display the selector *}
            <div style="text-align:left" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                {$sku = $product.skus[$product.sku_id]}
                {if $sku.name}<meta itemprop="name" content="{$sku.name|escape}">{/if}
                <meta itemprop="price" content="{$sku.price}">
                <meta itemprop="priceCurrency" content="{$product.currency}">
                {if !$sku.available}
                <link itemprop="availability" href="http://schema.org/Discontinued" />
                <p><em class="bold error">[`This product is not available for purchase`]</em></p>
                {elseif !$wa->shop->settings('ignore_stock_count') && !($sku.count === null || $sku.count > 0)}
                <link itemprop="availability" href="http://schema.org/OutOfStock" />
                <div class="stocks"><strong class="stock-none"><i class="icon16 stock-transparent"></i>{if $wa->shop->settings('ignore_stock_count')}[`Pre-order only`]{else}[`Out of stock`]{/if}</strong></div>
                {else}
                <link itemprop="availability" href="http://schema.org/InStock" />
                {/if}
                <input name="sku_id" type="hidden" value="{$product.sku_id}">
                {$product_available = $product.status && $sku.available && ($wa->shop->settings('ignore_stock_count') || $sku.count === null || $sku.count > 0)}
            </div>
    
        {/if}
        <!-- END: FLAT SKU LIST selling mode -->
    {/if}


    <div class="purchase">

        {if $services}
        <!-- services -->
        <div class="services">
            {foreach $services as $s}
            <div class="service-{$s.id}">
                <label>
                    <input data-price="{shop_currency($s.price, $s.currency, null, 0)}" {if !$product_available}disabled="disabled"{/if} type="checkbox" name="services[]" value="{$s.id}"> {$s.name|escape} {if $s.price && !isset($s.variants)}(+<span class="service-price">{shop_currency_html($s.price, $s.currency)}</span>){/if}
                </label>
                {if isset($s.variants)}
                <select data-variant-id="{$s.variant_id}" class="service-variants" name="service_variant[{$s.id}]" disabled>
                    {foreach $s.variants as $v}
                    <option {if $s.variant_id == $v.id}selected{/if} data-price="{shop_currency($v.price, $s.currency, null, 0)}" value="{$v.id}">{$v.name|escape} (+{shop_currency($v.price, $s.currency)})</option>
                    {/foreach}
                </select>
                {else}
                <input type="hidden" name="service_variant[{$s.id}]" value="{$s.variant_id}">
                {/if}
            </div>
            {/foreach}
        </div>
        {/if}

        <!-- price -->
        <div class="add2cart">
		
            {if $product.compare_price > 0}
            <span class="compare-at-price nowrap product__old-price">Старая цена:
                <span class="product__oldprice-value">{shop_currency_html($product.compare_price)}</span>
            </span>
            {/if}
            <!--<span data-price="{shop_currency($product.price, null, null, 0)}" class="price nowrap">{shop_currency_html($product.price)}</span>-->
            <input type="hidden" name="product_id" value="{$product.id}">
            <!--<input class="btn" type="submit" value="{if $wa->shop->cart->total() > 0}[`Add to cart`]{else}[`Buy now`]{/if}">-->
            <!-- WEBDL START -->

            <!-- PRODUCT.PRICE :BEGIN -->
			{foreach $product.skus as $sku}
				{if $sku.stock}
					{foreach $stocks as $stock_id => $stock name=stock}
						<div class="purchase_block purchase_block_{$sku.id}{if count($product.skus) < 2} single{/if}">
							{if $sku.stock[1] > 0 AND $sku.stock[3] <= 0 AND $sku.stock[4] <= 0}
								<div class="product-aside__price-wrap"><span class="product-aside__price-label">Цена:</span> <div class="product__price">{shop_currency_html($sku.price)}</div></div></div>
								{break}
							{else if $sku.stock[1] > 0 AND $sku.stock[4] > 0}
								<div class="product-aside__price-wrap"><span class="product-aside__price-label">Цена:</span> <div class="product__price">{shop_currency_html($sku.price)}</div></div></div>
                            <!--/price2-->
								{break}
							{else if $sku.stock[1] > 0 AND $sku.stock[3] <= 0}
								<div class="product-aside__price-wrap"><span class="product-aside__price-label">Цена:</span> <div class="product__price">{shop_currency_html($sku.price)}</div></div></div>
								{break}
							{else if $sku.stock[1] > 0}
								<div class="product-aside__price-wrap"><span class="product-aside__price-label">Цена:</span> <div class="product__price">{shop_currency_html($sku.price)}</div></div></div>
								{break}
							{else if $sku.stock[4] > 0 OR $sku.stock[3] > 0}
								<div class="product-aside__price-wrap"><span class="product-aside__price-label">Цена:</span> <div class="product__price">{shop_currency_html($sku.price)}</div></div></div>
                                {break}
							{else}
								<div class="product-aside__price-wrap">Последняя цена: <div class="product__price">{shop_currency_html($sku.price)}</div></div></div>
								{break}
							{/if}
					{/foreach}
				{/if}
			{/foreach}
            <!-- PRODUCT.PRICE :END -->

			<div class="product-aside__stock stock-list">
				{foreach $product.skus as $sku}
					{if isset($sku.stock)}
						<div class="sku_block" id="sku_block_{$sku.id}">
							{foreach $stocks as $stock_id => $stock name=stock}
								{if $sku.stock[$stock_id] > 0}
									<dl class="stock">
										<dt class="stock__name">
											{if $stock_id == 1}
												<span class="stock__name--on-storage">В наличии на складе:</span>
											{elseif $stock_id == 2}
												Из них в резерве:
											{elseif $stock_id == 3}
												На удаленном складе:
											{elseif $stock_id == 4}
												Поступит {$sku.datesku} г:
											{else}
												{$stock.name}
											{/if}
										</dt>
										<dd class="stock__value{if $stock_id == 1} stock__value--on-storage{/if}">{$sku.stock[$stock_id]} шт.</dd>
									</dl>
								{/if}
							{/foreach}
						</div>
					{/if}
				{/foreach}
			</div>

            <!-- BUTTONS :BEGIN -->
            {foreach $product.skus as $sku}
				{if $sku.stock}
                   
					<div>
					{foreach $stocks as $stock_id => $stock name=stock}
						<div class="purchase_block purchase_block_{$sku.id}{if count($product.skus) < 2} single{/if}">
							{if $sku.stock[1] > 0 AND $sku.stock[3] <= 0 AND $sku.stock[4] <= 0}
								<!-- <pre>
									+ В наличии
									- На складе
									- Ожидает поступления
								</pre> -->
								<div class="form-field"><input class="btn btn--buy" type="submit" value="купить"></div>
								<div class="form-field"> {shopQuestionPlugin::display($product)}</div>
							</div>
							{break}
							{else if $sku.stock[1] > 0 AND $sku.stock[4] > 0}
								<!-- <pre>
									+ В наличии
									+ Ожидает поступления
								</pre> -->
								<div class="form-field"><input class="btn btn--buy" type="submit" value="купить"></div>
								<div class="form-field"> {shopQuestionPlugin::display($product)}</div>
								<div class="form-field"><a class="btn uvedomit">Сообщить о поступлении</a></div>
							</div>
							{break}
							{else if $sku.stock[1] > 0 AND $sku.stock[3] <= 0}
								<!-- <pre>
									+ В наличии
									- На складе
								</pre> -->
								<div class="form-field"><input class="btn btn--buy" type="submit" value="купить"></div>
								<div class="form-field"> {shopQuestionPlugin::display($product)}</div>
								<div class="form-field"><a class="btn uvedomit">Сообщить о поступлении</a></div>
							</div>
							{break}
							{else if $sku.stock[1] > 0}
								<!-- <pre>
									+ В наличии
								</pre> -->
								<div class="form-field"><input class="btn btn--buy" type="submit" value="купить"></div>
								<div class="form-field"> {shopQuestionPlugin::display($product)}</div>
							</div>
							{break}
							{else if $sku.stock[4] > 0 OR $sku.stock[3] > 0}		
								<!-- <pre>
									+ На складе
									+ Ожидает поступления
								</pre>	 -->	
								<div class="form-field"><input class="btn btn--buy" type="submit" value="купить"></div>
								<div class="form-field"> {shopQuestionPlugin::display($product)}</div>
								<div class="form-field"><a class="btn uvedomit">Сообщить о поступлении</a></div>
							</div>
							{break}
							{else}
								<input type="hidden" name="zakazat" value="1">
								<div class="form-field"><input class="btn btn--primary" type="submit" value="Заказать производство"></div>
								<div class="form-field"> {shopQuestionPlugin::display($product)}</div>
								<div class="form-field"><a class="btn uvedomit">Сообщить о поступлении</a></div>
							</div>
							{break}
							{/if}
					{/foreach}
					</div>
				{/if}
			{/foreach}
            <!-- BUTTONS :END -->
			<!-- WEBDL END -->
            <span class="added2cart" style="display: none;">{sprintf('[`%s is now <a href="%s"><strong>in your shopping cart</strong></a>`]', $product.name|escape, $wa->getUrl('shop/frontend/cart'))}</span>
        </div>
    </div>
</form>
{$selectable_features = shopDlfeaturesPlugin::getSelectableFeatures($product.id)}
<script>
	loadEvents.push(function() {
		( function($) {
			$.getScript("{$wa_theme_url}product.js?v{$wa_theme_version}", function() {
				if (typeof Product === "function") {
					new Product('#cart-form{if $wa->get('cart')}-dialog{/if}', {
						currency: {json_encode($currency_info)}
						{if count($product.skus) > 1 or $product.sku_type}
							,services: {json_encode($sku_services)}
						{/if}
						{if $product.sku_type}
							,features: {json_encode($sku_features_selectable)}
						{/if}
						/* WEBDL START */
						{if $selectable_features}
							,selectableFeatures: {$selectable_features}
						{/if}
						/* WEBDL END */
					});
				}
			});
		})(jQuery);
	});
</script>