<section class="product-search">
<h1>Поиск товаров</h1>

{if !$products}
    <div class="product-search__head">
        Не найдено ни одного товара по вашему запросу:
        <strong class="product-search__phrase">{$title}</strong>.
    </div>
{else}
    <div class="product-search__head">
        Найдено {$products_count} товаров по вашему запросу:
        <strong class="product-search__phrase">{$title}</strong>
    </div>
    <div id="product-list" class="category">
    {include file='list-thumbs.html'}
    </div>
    {if $products_count > 10}
        <!-- BEGIN plugin hook: 'frontend_search' -->
        {* @event frontend_search.%plugin_id% *}
        {* foreach $frontend_search as $_}{$_}{/foreach *}
        <!-- END plugin hook: 'frontend_search' -->
    {/if}
{/if}
</section>
