<div class="category__submenu-wrap category-submenu">
    <ul class="submenu2">
        {foreach $category.subcategories as $sc}
        {if $sc.id != $category.id}
        {$child_categories = $wa->shop->categories($sc.id)}
        <li class="submenu2__item submenu2__item--parent">
            <a href="{$sc.url}" class="submenu2__link{if $sc.depth == 1} submenu2__link--second{/if}{if $sc.depth == 2} submenu2__link--third{/if}">{$sc.name|escape}</a>
        <li>
            {if $child_categories}
                {foreach $child_categories as $subcategory}
                <li class="submenu2__item submenu2__item--child">
                    <a href="{$subcategory.url}" class="submenu2__link submenu2__link--child">{$subcategory.name|escape}</a>
                </li>
                {/foreach}
            {/if}
        {/if}
        {/foreach}
    </ul>
</div>
