{* required when parenting default Mailer design theme from Custom, Clear, Sidebar, Nifty and some other design themes of the Site app; this file woun't be used when parented from the Default theme of the Site app (!) *}

<!-- navigation breadcrumbs -->
{if isset($breadcrumbs)}
	<div class="breadcrumbs">
		<a href="{$wa_app_url}">{$wa->accountName()}</a>
		{if $breadcrumbs}
			{foreach $breadcrumbs as $breadcrumb}
				» <a href="{$breadcrumb.url}">{$breadcrumb.name|escape}</a>
			{/foreach}
		{else} » {/if}
	</div>
{/if}

{$content}
