{* required when parenting default Mailer design theme from the Default design themes of the Site app; this file woun't be used when parented from the Default theme of the Site app (!) *}

<article class="page-content container">

	<div id="page-content">
		{$content} {* see page.html *}
	</div>

	<div class="clear-both"></div>

</article>
