{if !isset($frontend_homepage)}
	{foreach $wa->apps() as $app}
		{if $app.url == $wa_app_url}
		{$app_name = $app.name|escape}
	{/if}
{/foreach}
<ul itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
	{*<li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
		<a itemprop="item" href="{$wa_app_url}" class="breadcrumb__link">
			<span itemprop="name" class="breadcrumb__text">Sheerdecor</span>
			<meta property="position" content="1">
		</a>
	</li>*}
	{if $wa_app == 'blog' && isset($posts) && $posts}
	<li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
		<span itemprop="item" class="breadcrumb__link breadcrumb__link--current">
			<span itemprop="name" class="breadcrumb__text">{$app_name}</span>
			<meta property="position" content="2">
		</span>
	</li>
	{elseif $wa_app == 'blog' && $post}
	<li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
		<a itemprop="item" href="{$wa_app_url}" class="breadcrumb__link">
			<span itemprop="name" class="breadcrumb__text">{$app_name}</span>
			<meta property="position" content="2">
		</a>
	</li>
	<li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
		<span itemprop="item" class="breadcrumb__link breadcrumb__link--current">
			<span itemprop="name" class="breadcrumb__text">{$post.title|escape}</span>
			<meta property="position" content="3">
		</span>
	</li>
	{elseif $title}
	<li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
		<span itemprop="item" class="breadcrumb__link breadcrumb__link--current">
			<span itemprop="name" class="breadcrumb__text">{$title|escape}</span>
			<meta property="position" content="{count($breadcrumbs)+1}">
		</span>
	</li>
	{else}
	<li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
		<span itemprop="item" class="breadcrumb__link breadcrumb__link--current">
			<span itemprop="name" class="breadcrumb__text">{$wa->title()|escape}</span>
			<meta property="position" content="{count($breadcrumbs)+1}">
		</span>
	</li>
	{/if}
</ul>
{/if}
