<div class="comment" id="comment-{$comment.id}">
	<article class="review">
		<a class="review__avatar-wrap" name="comment{$comment.id}"{if $comment.site} href="{$comment.site}"{/if}>
			<div class="review__avatar review__avatar-none">
			<!--<img src="{$comment.user.photo_url_20|default:$comment.user.photo_url}" class="userpic{if $comment.auth_provider && ($comment.auth_provider neq blogCommentModel::AUTH_GUEST) && ($comment.auth_provider neq blogCommentModel::AUTH_USER)} icon16{/if}" alt="">-->
			</div>
		</a>
		<div class="review__wrap">
				{* if $comment.user.id}
					<span class="staff">{$wa->accountName()}</span>
				{/if *}
			{if empty($comment.site)}
				<span class="review__name" itemprop="author">{$comment.name}</span>
			{else}
				<a href="{$comment.site}" class="review__name username" itemprop="author">{$comment.name}</a>
			{/if}
			<meta itemprop="commentTime" content="{$comment.datetime|date_format:'Y-m-d\TH:i'}">
			<span class="review__date" title="{$comment.datetime|wa_datetime}">{$comment.datetime|wa_datetime:"humandatetime"}</span>
			{if $comment.text}
			<div class="review__text" itemprop="description">{$comment.text|nl2br}</div>
			{/if}
			{if $reply_allowed}
			<div class="actions">
				<a class="review-reply inline-link" href="#"><b><i>[`reply`]</i></b></a>
			</div>
			{/if}
		</div>
	</article>

	{* @event prepare_comments_frontend.%plugin_id%.before *}
	{if !empty($comment.plugins.before)}
		{foreach $comment.plugins.before as $plugin => $output}{$output}{/foreach}
	{/if}

	{* @event prepare_comments_frontend.%plugin_id%.after *}
	{if !empty($comment.plugins.after)}
		{foreach $comment.plugins.after as $plugin => $output}{$output}{/foreach}
	{/if}
</div>
