<script type="text/javascript">
loadEvents.push(function() {
	$(document).ready(function() {
		var provider_list = $('#user-auth-provider');

		provider_list.find('a').click(function () {
			var self = $(this);
			var provider = self.parents('li:first').attr('data-provider');

			if (provider != 'guest' && provider != 'signup') {
				var left = (screen.width-600)/2;
				var top = (screen.height-400)/2;
				window.open($(this).attr('href'){if !$require_authorization} + "&guest=1"{/if},'oauth', "width=600,height=400,left="+left+",top="+top+",status=no,toolbar=no,menubar=no");
				return false;
			}
		})
	});
});
</script>

<section class="comment-form">
	<a name="comment0"></a>
	<form action="{$post.comment_link}" method="post" class="wa-form comment-form form">
		<h4 class="block-title"><span class="block-title__text">Комментарии</span></h4>
		{$current_user_id = $wa->userId()}
		<div class="">
			{if empty($current_user_id)}
				{if $require_authorization}
					<div class="" data-provider="signup">
						{sprintf('[`To add a comment please <a href="%s">sign up</a> or <a href="%s">login</a>`]',$wa->signupUrl(),$wa->loginUrl())}
					</div>
				{else}
					<div id="user-auth-provider" class="clear-left" data-provider="guest" {if $current_auth_source}style="display:none"{/if}>
						<div class="form-field">
							<input class="inputbox" type="text" name="name" id="comment_name" value="" placeholder="Имя:">
						</div>
						<div class="form-field">
							 <input class="inputbox" type="text" name="email" id="comment_email" placeholder="Email:">
						</div>
					</div>
					<div class="comment-body form-field form-field--large">
						<textarea class="inputbox inputbox--textarea" id="comment_text" name="text" placeholder="Сообщение:"></textarea>
					</div>
				{/if}
			{else}
				<p>
					<label>[`Your name`]</label>
					<img src="{$wa->user()->getPhoto(20)}" class="userpic" alt=""> <strong>{$wa->user('name')}</strong> <a href="{$wa_app_url}logout">[`log out`]</a>
				</p>
				<div class="comment-body form-field form-field--large">
					<textarea class="inputbox inputbox--textarea" id="comment_text" name="text" placeholder="Сообщение:"></textarea>
				</div>
			{/if}
		</div>
		{if empty($current_user_id)}
			{if !$require_authorization}
				<div class="comment-submit">
					{if $request_captcha && empty($current_user_id)}
						{$wa->captcha()}
					{/if}
					<input type="hidden" name="auth_provider" value="{$current_auth_source|default:blogCommentModel::AUTH_GUEST}">
					<input type="hidden" name="parent" value="0">
					<input type="submit" value="Добавить" class="btn">
					<img src="{$wa_static_url}wa-content/img/loading16.gif" style="display: none;" alt="">
				</div>
			{/if}
		{else}
			<div class="comment-submit">
				{if $request_captcha && empty($current_user_id)}
					{$wa->captcha()}
				{/if}
				<input type="hidden" name="auth_provider" value="{$current_auth_source|default:blogCommentModel::AUTH_GUEST}">
				<input type="hidden" name="parent" value="0">
				<input type="submit" value="Добавить" class="btn">
				<img src="{$wa_static_url}wa-content/img/loading16.gif" style="display: none;" alt="">
			</div>
		{/if}
	</form>
</section>
<section class="comments" itemscope itemtype="http://schema.org/UserComments">
	<a name="comments"></a>
	{function comments level=0}
		<ul class="nostyles">
			{foreach $data as $comment}
				<li class="review">
					{include file="comment.html" inline}
					{if $comment.child}
						{comments data=$comment.child level=$comment.depth+1}
					{/if}
				</li>
			{/foreach}
		</ul>
	{/function}
	{comments data=$post.comments}
</section>
<style>

.comment-submit .wa-captcha-refresh {
	margin-left: 15px;
}

.comment-form textarea {
	min-height: 73px;
}

</style>
