<!-- blog css -->
{*<link href="{$wa_active_theme_url}default.blog.css?v{$wa_theme_version}" rel="stylesheet" type="text/css">*}

<!-- blog js -->
<script defer type="text/javascript" src="{$wa_active_theme_url}default.blog.js?v{$wa_theme_version}"></script>
{literal}
<script type="text/javascript">
loadEvents.push(function() {
	$(function() {
		$(document).on("click", ".shop_favorites a.add", function() {
			var t = $(this).closest(".shop_favorites");
			return $.post($(this).attr("href"), {
				product_id: t.data("product-id")
			}, function(o) {
				"ok" == o.status ? (t.html(o.data.html), $(".shop_favorites .count").html(o.data.count), $(".wishlist-count").html(o.data.count), $(".user-row__wishlist .row-wishlist").addClass("row-link--active")) : alert(o.errors)
			}, "json"), !1
		});
		$(document).on("click", ".shop_favorites a.del", function() {
			prod = $(this).parent().attr("data-product-id");
			var t = $("#sf_"+prod);
			return $.post($(this).attr("href"), {
				product_id: t.data("product-id")
			}, function(o) {
				if("ok" == o.status) {
					t.html(o.data.html);
					$(".shop_favorites .count").html(o.data.count);
					$(".wishlist-count").html(o.data.count);
					if(parseInt($(".wishlist-count").html()) < 1) {
						$(".user-row__wishlist .row-wishlist").removeClass("row-link--active");
					}
					$("#sf_"+prod).find("a").attr("title", "Отложить товар");
					if($("#wishlist_page").length) {
						$("#sf_"+prod).closest(".prod").remove();
					}
				} else { alert(o.errors)}
			}, "json"), !1
		});
	});
});
</script>
{/literal}
<!-- next & prev links -->
{foreach $links as $role => $link}
<link rel="{$role}" href="{$link}">
{/foreach}

{* @event (frontend_action_default|frontend_action_post|frontend_action_page|frontend_action_error).%plugin_id%.head *}
{foreach $frontend_action as $plugin => $output}
    {if !empty($output.head)}{$output.head}{/if}
{/foreach}
