{* @event (frontend_action_default|frontend_action_post|frontend_action_page|frontend_action_error).%plugin_id%.nav_before *}
{foreach $frontend_action as $plugin => $output}
{if !empty($output.nav_before)}{$output.nav_before}{/if}
{/foreach}
{* include file="`$wa_active_theme_path`/breadcrumbs.html" inline *}
<div class="content" itemscope itemtype="http://schema.org/WebPage">
	{if empty($posts) && $wa->currentUrl() == $wa_app_url}
	<div class="welcome">
		<h1>[`Welcome to your new blog!`]</h1>
		<p>{sprintf('[`Start by <a href="%s">writing a post</a> in your blog backend.`]', $wa_backend_url|cat:'blog/')}
		</p>
	</div>
	{else}
	{$content}
	{/if}
</div>
