<h1>{$page.name}</h1>

{$subpages = $wa->blog->pages($page.id)}
{if $subpages}
	<ul class="sub-links">
		{foreach $subpages as $p}
			<li><a href="{$p.url}">{$p.name}</a></li>
		{/foreach}
	</ul>
{/if}

<div id="page" role="main">
	{$page.content}
</div>
