{* display all photos of the attached photo album *}

{if $post.album.photos}
	<div class="photo-album-attachment">
		{foreach $post.album.photos as $p}
			<figure itemscope itemtype ="http://schema.org/Photograph" class="photo">
				{if $p.description}
					{if $p.description|strstr:'<p>'}
						<div itemprop="description">{$p.description}</div>
					{else}
						<p itemprop="description">{$p.description}</p>
					{/if}
				{/if}
				<a name="photo{$p.id}"></a>
				<img src="{$p.thumb_big.url}" class="retinify" alt="{$p.name|escape}">
			</figure>
		{/foreach}
	</div>

	{if blogPhotosBridge::is2xEnabled()}
		<script>$(function() { "use strict";
			if ($.Retina) {
				retinify();
			} else {
				$.ajax({ // Load JS script, making sure it WILL get cached in non-debug mode
					  dataType: "script",
					  url: "{$wa_static_url}wa-content/js/jquery-plugins/jquery.retina.min.js?{$wa->version(true)}",
					  cache: true
				}).done(retinify);
			}

			function retinify() {
				$.Retina && $('img.retinify').retina();
			}
		});</script>
	{/if}
{/if}

