{include file="`$wa_active_theme_path`/breadcrumbs.html" inline}
<div itemscope itemtype="http://schema.org/BlogPosting" id="post_page">

	<article class="article post" role="main" id="post-{$post.id}">

		{* @event prepare_posts_frontend.%plugin_id%.post_title
		{if !empty($post.plugins.post_title)}
		{foreach $post.plugins.post_title as $plugin => $output}{$output}{/foreach}
		{/if}
		*}

		{$rec_products = blogRecommendproductsPlugin::displayProducts($post.id)}
		{if $rec_products}
			<div class="article__images show2">
				{$rec_products}
			</div>
		{/if}

		<h1 class="article__title">
			<span itemprop="name">{$post.title}</span>
		</h1>

		{* @event prepare_posts_frontend.%plugin_id%.before *}
		{if !empty($post.plugins.before)}
		<div class="text_before">{foreach $post.plugins.before as $plugin => $output}{$output}{/foreach}</div>
		{/if}

		<div class="article__content" itemprop="articleBody" {if !$rec_products}style="max-width: 100%;"{/if}>
		{$post.text}
		</div>

		{if $rec_products}
		<div class="article__images hide2">
			{$rec_products}
		</div>
		{/if}

		{if $post.album_id && $post.album.id && $post.album.photos}
		{include 'post.album.html' album=$post.album inline}
		{/if}

	</article>

	{$post_announces = blogDlannouncePlugin::getAnnounces($post.id)}
	{if $post_announces > 0}
	<section id="post_announces" class="answers">
		<h4 class="block-title"><span class="block-title__text"><b>С этим читают</b></span></h4>
		{foreach $post_announces as $p_ann}
		<article class="answers__item">
			<div class="answers__img-wrap">
				{if $p_ann.announce_image_text}
				{if $p_ann.announce_link}
				<a href="{$p_ann.announce_link}" class="answers-image-link">
					<img class="thumb answer__img" src="{$p_ann.announce_image_text}"/>
				</a>
				{else}
				<img class="thumb answer__img" src="{$p_ann.announce_image_text}"/>
				{/if}
				{/if}
			</div>
			<h2 class="answers__question">
				{if $p_ann.announce_link}
				<a href="{$p_ann.announce_link}" class="answers-title-link">{$p_ann.header}</a>
				{else}
				{$p_ann.header}
				{/if}
			</h2>
			<div class="answers__answer">
				{$p_ann.text}
				{if $p_ann.announce_link}
				<a href="{$p_ann.announce_link}" class="answers__readon readon">Подробнее >>></a>
				{/if}
			</div>
		</article>
		{/foreach}
	</section>
	{/if}

	{* @event prepare_posts_frontend.%plugin_id%.after *}
	{if !empty($post.plugins.after)}
	<div class="text_after">
		{foreach $post.plugins.after as $plugin => $output}{$output}{/foreach}
	</div>
	{/if}

	{* @event frontend_post.%plugin_id%.footer
	{foreach $frontend_post as $plugin => $output}
	{if !empty($output.footer)}{$output.footer}{/if}
	{/foreach}*}

{if $show_comments && $post.comments_allowed}
	{if $post.status eq blogPostModel::STATUS_PUBLISHED}
		{include 'comments.html' inline}
	{else}
		<h4>[`Comments for non published posts are disabled`]</h4>
	{/if}
{/if}

</div>
