<div id="post_stream_page">
	<div id="post-stream" role="main" class="lazyloading" {if $wa->param('blog_url')}itemscope
		itemtype="http://schema.org/Blog"{/if}>
		<a name="page_{$page}"></a>
		{if $is_search}
		{include file="stream_search.html" inline}
		{else}
		{include file="stream_posts.html" inline}
		{/if}
	</div>
	{if $pages > 1}
	<div class="pagination_block pagination-wrap">
		<ul class="pagination" id="stream-paging">
			{for $p=1 to $pages}
			<li
			{if $p eq $page} class="selected"{/if}><a
				href="{if $p eq $page}#page_{$page}{else}?page={$p}{/if}">{$p}</a></li>
			{/for}
		</ul>
	</div>
	{/if}
</div>
