{* post stream (list): default view mode *}
{foreach $wa->apps() as $app}
	{if $app.url == $wa_app_url}
		{$app_name = $app.name|escape}
	{/if}
{/foreach}
<h1>{$app_name}</h1>

<!-- {$posts|print_r} -->
<section class="answers">
{foreach $posts as $post}
	<article class="answers__item post" id="post-{$post.id}" {if $wa->param('blog_url')}itemprop="blogPosts" {/if}itemscope itemtype="http://schema.org/BlogPosting">

		{* @event prepare_posts_frontend.%plugin_id%.before *}
		{if !empty($post.plugins.before)}
			<div class="text_before">
				{foreach $post.plugins.before as $plugin => $output}{$output}{/foreach}
			</div>
		{/if}

		<div class="answers__img-wrap">{if $post.plugins.post_title}<a href="{$post.link}">{$post.plugins.post_title}</a>{/if}</div>
		<h2 class="answers__question"><a href="{$post.link}">{$post.title}</a></h2>
		<div class="answers__answer">
			{$post.text}
		</div>
		{if $post.cutted}
		<a href="{$post.link}" class="answers__readon readon">{$post.cut_link_label|default:'Подробнее >>>'}</a>
		{/if}

		{* attached album photo thumbs *}
		{if $post.album_id && $post.album.id && $post.album.photos}
			{$photos_loaded = 1} {* required for proper photo thumbs retinification *}
			<div class="photo-album-attachment">
				<ul class="thumbs">
					{foreach $post.album.photos as $p}
						<li><a href="{$post.link}#photo{$p.id}"><img src="{$p.thumb_crop.url}" class="retinify" width="96" height="96" alt="{$p.name|escape}"></a></li>
					{/foreach}
				</ul>
			</div>
		{/if}

		{* @event prepare_posts_frontend.%plugin_id%.after *}
		{if !empty($post.plugins.after)}
			<div class="text_after">
				{foreach $post.plugins.after as $plugin => $output}{$output}{/foreach}
			</div>
		{/if}

	</article>
{foreachelse}
	{if $page lt 2}
		{_w('%d post','%d posts',0)}
	{/if}
{/foreach}
</section>

{if !empty($photos_loaded) && blogPhotosBridge::is2xEnabled()}
	<script defer src="{$wa_static_url}wa-content/js/jquery-plugins/jquery.retina.min.js"></script>
	<script>$(function() { "use strict";
		$.Retina && $('img.retinify').retina();
	});</script>
{/if}
