<link href="/wa-apps/shop/plugins/myreviews/templates/actions/frontend/css/FrontendMyReviews.css?v{$wa_theme_version}" rel="stylesheet" type="text/css"/>

<div style="display: none;">{$wa->myNav('menu-h bottom-padded')}</div>
2222222
{if count($reviews) > 0}
<div id="advanced_reviews">
	{foreach $reviews as $r}
	{$product=$wa->shop->product($r.product_id)}
		<div class="ar_block">
			<div class="ar_img"><img src="/wa-content/img/userpic96.jpg"></div>
			<div class="ar_fields">
				<div class="arf_values">
					<div class="arf_name">{$wa->user('firstname')|default:'[`My account`]'}</div>
					<div class="arf_date">{$r.datetime|wa_datetime:"humandatetime"}</div>
					<div class="arf_item">На товар <a href="{$wa->shop->productUrl($product)}" target="blank">{$product.name|escape}</a></div>
				</div>
				<div class="arf_text">{$r.text|escape}</div>
			</div>
		</div>
	{foreachelse}
		<div class="ar_block">
			<p class="no_items">Вы ещё не оставили ни одного отзыва о товаре</td>
		</div>
    {/foreach}
</div>
{/if}  
