@font-face {
    font-family: "Avenir Next W10 Light";
    src:    url("/wa-data/public/assets/fonts/ec4ee560-36a4-4dd9-bcb9-525be4031d74.eot?#iefix");
    src:    url("/wa-data/public/assets/fonts/ec4ee560-36a4-4dd9-bcb9-525be4031d74.eot?#iefix") format("eot"), 
            url("/wa-data/public/assets/fonts/8803fb56-f951-4b03-ab7b-1b9727872785.woff2") format("woff2"), 
            url("/wa-data/public/assets/fonts/ecd6b4c8-31fa-442b-92a3-a4322c3df4fe.woff") format("woff"), 
            url("/wa-data/public/assets/fonts/a86f3ef5-cd77-4146-91c1-94131b23e843.ttf") format("truetype")
}
