/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700&subset=cyrillic,latin);*/
#shadow {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    opacity: .4;
    display: none;
    z-index: 99
}

.not_auth {
    cursor: pointer
}

.popup_window {
    width: 260px;
    padding: 20px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    border: 3px solid grey;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -150px;
    z-index: 100;
    display: none
}

.close_auth {
    font-style: normal;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer
}

.pseudo_hidden {
    height: 0;
    overflow: hidden
}

.disabled {
    opacity: .7
}

.popup_window p {
    margin: 10px 0
}

.popup_window a {
    color: #1fab6e;
    text-decoration: none
}

.popup_window a:hover {
    color: #000
}

.popup_window b {
    font-weight: 500
}

.pagination_block {
    margin-bottom: 25px
}

.show_more_btn {
    display: block;
    width: 100%;
    height: 36px;
    margin-top: 20px;
    margin-bottom: 25px;
    line-height: 36px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #f5f5f5;
    border: 1px solid #bfc1bf;
    text-align: center;
    cursor: pointer
}

.show_more_btn:hover {
    color: #fff;
    background: #1fab6e;
    border-color: #1fab6e
}

.pseudo_selected {
    background: #1fab6e;
    color: #fff
}

.pseudo_selected a {
    color: #fff !important
}

.standard_link {
    color: #272727
}

.standard_link:hover {
    text-decoration: underine
}

#home_list h5 a span {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

#home_list h5 a:hover span {
    color: #1fab6e
}

.product__aside .add2cart .purchase_block {
    display: none
}

.product__aside .add2cart .purchase_block.single, .product__aside .add2cart .purchase_block.visible {
    display: block
}

.product-list .prod .shop_favorites, .product-aside__actions .shop_favorites {
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    overflow: hidden
}

.product-aside__actions .shop_favorites {
    width: 100px
}

.product-list .prod .shop_favorites a, .product-aside__actions .shop_favorites a {
    display: block;
    width: 26px;
    height: 26px;
    background: url(./img/fav.png) 1px 1px no-repeat;
    color: transparent;
    transition: none;
    text-decoration: none
}

.product-aside__actions .shop_favorites a {
    color: #000;
    width: 100%;
    box-sizing: border-box;
    padding-left: 30px;
    line-height: 26px;
    font-weight: 300
}

.product-list .prod .shop_favorites a:hover, .product-aside__actions .shop_favorites a:hover {
    background-position: 1px -23px;
    text-decoration: underline
}

.product-aside__actions .shop_favorites a:hover {
    color: #1fab6e
}

.product-list .prod .shop_favorites a.del_popup, .product-aside__actions .shop_favorites a.del_popup {
    background-position: 1px -23px;
    cursor: pointer
}

.product-aside__actions .shop_favorites a.del_popup {
    color: #1fab6e
}

.product-list .prod .shop_favorites a.del_popup:hover, .product-aside__actions .shop_favorites a.del_popup:hover {
    background: url(./img/fav.png) 1px 1px no-repeat
}

.product-aside__actions .shop_favorites a.del_popup:hover {
    color: #000
}

.category__filter.filter {
    font-weight: 300;
    letter-spacing: -1px
}

.filters-form-wrapper .filter-param h5.green {
    background: none !important
}

.filters input[type="text"] {
    font-size: 15px !important
}

.fiwex-tooltip-content {
    box-sizing: border-box;
    width: 238px !important;
    margin-left: -17px !important;
    z-index: 2 !important;
    border-top: 1px solid #d8d8d6;
    border-bottom: 1px solid #d8d8d6;
    color: #272727;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.143;
    text-transform: initial;
    cursor: default;
    letter-spacing: .1px;
}

.fiwex-tooltip-body > p {
    margin: 0
}

.fiwex-tooltip-body a {
    color: #272727;
    text-decoration: none;
    float: right;
    margin-top: 10px;
    text-transform: uppercase
}

.fiwex-tooltip-body a:hover {
    color: #1fab6e;
    text-decoration: underline
}

.fiwex-tooltip-close {
    display: none
}

.fiwex-tooltip-body:after {
    content: '';
    display: block;
    clear: both
}

.fiwex-popup-hint {
    background: #f5f5f5
}

.filters .filters-form-wrapper a.filters-reset {
    box-sizing: border-box;
    display: block;
    width: 90%;
    height: 36px;
    min-height: 36px;
    font-size: 14px !important;
    font-weight: 300 !important;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 36px;
    background: #1fab6e;
    border-bottom: 0;
    border: 1px solid #1fab6e;
    margin: 20px auto;
    top: 0;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.filters .filters-form-wrapper .filter-param a.filters-reset {
    width: 204px;
    margin-bottom: 2px
}

.filters .filters-form-wrapper a.filters-reset:hover {
    color: #272727;
    background: none;
    border-color: #d9d8d6
}

.filter-param h5.filter-param__title {
    text-transform: none
}

/*.filters .filters-form-wrapper .filter-param.price_param .filter-param__title {
    padding-left: 0;
}*/

.productsperpage-form {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.productsperpage-form select {
    font-weight: 300;
}

#remove_from_wishlist span {
    display: none
}

body > #galleryplus-product-image .fotorama__arr {
    display: block !important
}

#overview .carousel__item a {
    cursor: zoom-in
}

#contacts_page .custom_margin {
    margin-bottom: 8px
}

#contacts_page .address__map.custom_margin {
    margin-bottom: 24px
}

#contacts_page p {
    line-height: 1.6;
    font-size: 15px;
    font-weight: 300;
    padding: 0;
    margin: 0 0 8px
}

#contacts_page h3, #contacts_page p b {
    font-weight: 500
}

#contacts_page a {
    color: #1fab6e;
    text-decoration: none
}

#contacts_page a:hover {
    color: #000
}

.contacts_adress {
    display: table;
    width: 100%
}

.contacts_adress > div {
    display: table-cell;
    vertical-align: middle
}

.contacts_adress > div.ca_img {
    padding: 0 50px 0 100px;
    text-align: right
}

.singleform-gap-fields .singleform-gap-field > .singleform-gap-name, .singleform-gap-fields .singleform-gap-field > .singleform-gap-value {
    float: none;
    width: 240px
}

.singleform-gap-fields .singleform-gap-name {
    display: none
}

.singleform-gap-fields .singleform-gap-value {
    margin-left: 0
}

.singleform-gap-fields .singleform-gap-field.type-textarea, .singleform-gap-fields .singleform-gap-field.type-textarea .singleform-gap-value, .singleform-gap-fields .singleform-gap-field.type-textarea textarea {
    width: 100%;
    resize: none
}

.singleform-gap-fields .singleform-gap-field.type-textarea textarea {
    box-sizing: border-box;
    padding: 10px
}

.singleform-gap-fields .singleform-submit input[type="submit"] {
    color: #272727;
    display: block;
    width: 240px;
    height: 36px;
    margin: 0;
    line-height: 1;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #f5f5f5;
    border: 1px solid #bfc1bf;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    float: right;
    position: relative;
    top: -13px
}

.singleform-gap-fields .singleform-submit input[type="submit"]:hover {
    color: #fff;
    background: #1fab6e;
    border-color: #1fab6e
}

#contacts_page .singleform-gap-fields .singleform-gap-field input[type="text"], #contacts_page .singleform-gap-fields .singleform-gap-field textarea {
    width: 100%;
    margin-bottom: 14px
}

#contacts_page .singleform-gap-fields .singleform-submit {
    margin: 0;
    max-width: 485px
}

#contacts_page .singleform-gap-fields .singleform-submit:after {
    content: '';
    display: block;
    clear: both
}

#contacts_page .singleform-gap-form {
    width: 100%;
    padding-top: 8px
}

#contacts_page .singleform-gap-form textarea {
    max-width: 485px;
    height: 75px;
    margin-bottom: 0 !important
}

#contacts_page .wa-captcha {
    max-width: 425px;
    padding-left: 60px;
    text-align: left
}

#contacts_page .wa-captcha > p {
    margin-bottom: 0
}

#contacts_page .wa-captcha > p:after {
    content: '';
    display: block;
    clear: both
}

#contacts_page .wa-captcha > p > .wa-captcha-img, #contacts_page .wa-captcha > p > .wa-captcha-input {
    display: inline-block;
    vertical-align: middle
}

#contacts_page .wa-captcha .wa-captcha-refresh {
    color: #000;
    margin-left: 15px;
    font-size: 15px;
    padding-top: 2px
}

#contacts_page .wa-captcha .wa-captcha-refresh:hover {
    color: #1fab6e
}

#contacts_page .wa-captcha > p > strong {
    display: none
}

#contacts_page .wa-captcha > p > .wa-captcha-input {
    float: right
}

#compare_page .compare-diff-all, #compare_page .compare-diff-all li {
    float: none;
    padding: 0
}

#compare_page .compare-diff-all > * {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-right: 5px
}

#compare_page .compare-diff-all li a {
    color: #000;
    padding: 0;
    background: none
}

#compare_page .compare-diff-all li:hover a, #compare_page .compare-diff-all li.selected a {
    color: #1fab6e
}

#compare_page .compare-diff-all li.selected a {
    font-weight: 400
}

#compare_page #compare_overflow {
    max-width: 100%;
    overflow-x: auto;
    margin-bottom: 15px
}

#compare_page table {
    text-align: left;
    vertical-align: top;
    font-size: 14px;
    table-layout: fixed;
    width: 100%
}

#compare_page table tbody {
    padding-left: 255px
}

#compare_page table thead .white_block, #compare_page table tbody th {
    position: absolute;
    background: #fff
}

#compare_page table tr {
    border-bottom: 1px solid #d8d8d6
}

#compare_page table th, #compare_page table td {
    width: 240px;
    padding: 10px 15px 10px 0
}

#compare_page table th {
    vertical-align: middle;
    color: #000;
    font-weight: 500
}

#compare_page table td {
    vertical-align: top;
    border: 0
}

#compare_page table td .name-wrapper {
    max-width: 210px;
    display: block;
    padding-right: 30px;
    position: relative
}

#compare_page table td .image-link {
    box-sizing: border-box;
    display: block;
    width: 240px;
    height: 135px;
    margin-bottom: 15px
}

#compare_page table td .image-link img {
    display: block;
    max-width: 230px;
    max-height: 125px;
    border: 5px solid #d8d8d6
}

#compare_page table td .name-link {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none
}

#compare_page table td .name-link:hover {
    color: #1fab6e
}

#compare_page table td .compare-delete {
    display: block;
    position: absolute;
    right: 0;
    top: 2px
}

#compare_page table td .compare-delete:hover {
    opacity: .7
}

#compare_page table td .compare-delete .icon16.remove {
    display: block;
    margin: 0;
    padding: 0
}

#compare_page table td .price {
    color: #1fab6e;
    font-weight: 600
}

#compare_page .white_block {
    display: block;
    width: 240px;
    z-index: 2;
    background: #fff;
    position: absolute
}

#compare-clear {
    max-width: 320px;
    margin: 0 auto;
    text-transform: uppercase
}

#compare_page #compare-table-fixed {
    display: none !important
}

a.active, a.selected {
    color: #1fab6e
}

.icon--compare.active, .icon--compare.selected, a.active .icon--compare, a.selected .icon--compare {
    background-position: 0 -211px
}

.add2cart input[type="submit"].btn {
    margin: 0;
    padding: 0;
    font-size: 14px
}

/* отзывы на товаре */
.product #reviewsplus-add-form .wa-form .wa-field {
    margin-bottom: 20px
}

.product #reviewsplus-add-form .wa-form .wa-field .wa-value textarea {
    width: 495px;
    resize: none
}

.product #reviewsplus-add-form .wa-captcha {
    box-sizing: border-box;
    max-width: 495px;
    text-align: left;
    padding-left: 60px
}

.product #reviewsplus-add-form .wa-captcha p {
    margin-bottom: 0
}

.product #reviewsplus-add-form .wa-captcha p > * {
    display: inline-block;
    vertical-align: top
}

.product #reviewsplus-add-form .wa-captcha p strong {
    display: none
}

.product #reviewsplus-add-form .wa-captcha .wa-captcha-refresh {
    margin-left: 15px
}

.product #reviewsplus-add-form .wa-captcha p input[type="text"] {
    float: right
}

.product #reviewsplus-form-div .reviewsplus-div-content form input[type="submit"] {
    margin-left: 256px;
    top: -15px;
    position: relative
}

.rate_name {
    margin-right: 15px
}

.recommendproducts {
    max-width: 240px;
    float: right;
    padding-top: 0
}

.recommendproducts .prod {
    margin: 0 0 18px
}

#post_page .text {
    display: block;
    max-width: calc(100% - 258px)
}

#post_announces:before {
    content: '';
    display: block;
    clear: both
}

#post_announces .p_ann {
    min-height: 140px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #bfc1bf
}

#post_announces .answers__answer a {
    display: inline-block;
    margin-top: 18px;
    color: #272727;
    text-decoration: none;
    text-transform: uppercase
}

#post_announces .answers__answer a:hover {
    color: #1fab6e;
    text-decoration: underline
}

.comment-form-fields .wa-field .wa-value input[type='text'] {
    width: 300px;
    min-width: 300px !important
}

.comment-form-fields .wa-field .wa-value textarea {
    width: 495px;
    resize: none
}

.comment-submit .wa-captcha {
    box-sizing: border-box;
    max-width: 495px;
    text-align: left;
    padding-left: 60px
}

.comment-submit .wa-captcha p {
    margin-bottom: 0
}

.comment-submit .wa-captcha p > * {
    display: inline-block;
    vertical-align: top
}

.comment-submit .wa-captcha p strong {
    display: none
}

.comment-submit .wa-captcha p input[type="text"] {
    float: right
}

.comment-submit input[type="submit"] {
    margin-left: 256px;
    top: -15px;
    position: relative
}

.answers__img-wrap .miniature_block img {
    border: 5px solid #d9d8d6;
    box-sizing: border-box;
    width: 240px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

#post_stream_page ul.menu-h li.selected a {
    color: #000
}

.pre_new_comment {
    padding: 0;
    list-style: none
}

.wa-field-tip-klienta4 label {
    margin-right: 10px
}

h2.answers__question a {
    color: inherit;
    text-decoration: none
}

h2.answers__question a:hover {
    color: #1fab6e;
    text-decoration: underline
}

.checkout-options .wa-form .wa-value {
    width: auto
}

.checkout-options .wa-form .wa-value #smart-shipping-wrapper {
    position: relative
}

#login-form .wa-error {
    border-color: #dc0000;
    outline: 0;
    -webkit-box-shadow: 0 0 5px #fb7e7e;
    box-shadow: 0 0 5px #fb7e7e;
    color: #dc0000
}

#login-form .wa-error-msg {
    font-size: 12px;
    line-height: 15px;
    color: #dc0000
}

#my_profile_page .saved_text {
    display: block;
    margin-bottom: 25px;
}

#my_profile_page .saved_text span {
    color: #1FAB6E;
}

#my_profile_page .saved_text i {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    background-position: -228px -112px;
    margin-right: 10px;
}

#wa-my-info-edit-wrapper .wa-form .wa-name,
#wa-my-info-edit-wrapper .wa-form .wa-value .field > span {
    display: block;
    margin-bottom: 5px;
}

#wa-my-info-edit-wrapper .wa-field-address > .wa-name {
    display: none;
}

#wa-my-info-read-wrapper .adress_value em {
    display: none;
}

.wa-signup-form .wa-error {
    border-color: red;
}

.wa-signup-form .wa-error-msg {
    color: red;
    display: block;
    padding-top: 10px;
}

.featurestips_wrapper .featurestips_tip .featurestips_view .tip_view_in p {
    line-height: 120%;
}

.featurestips_wrapper .featurestips_tip .featurestips_view .tip_view_in:after {
    content: '';
    display: block;
    clear: both;
}

.featurestips_wrapper .featurestips_tip .featurestips_view .tip_view_in a {
    display: block;
    margin-top: 18px;
    color: #272727;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 300;
    float: right;
}

.featurestips_wrapper .featurestips_tip .featurestips_view .tip_view_in a:hover {
    color: #1fab6e;
    text-decoration: underline;
}

.wa-form .inline_fields > * {
    display: inline-block !important;
    vertical-align: middle !important;
}

.wa-form .inline_fields > span.name {
    margin-right: 10px;
    margin-bottom: 24px;
}

.checkout__label-in:after {
    content: '';
    display: block;
    clear: both;
}

#checkout-contact-form .wa-field.wa-field-address.wa-field-address-shipping .field.wa-field-address-city > SPAN {
    display: none
}

.step-shipping .delivery-descr .wa-form.wa-address {
    display: none !important
}

.step-shipping .shipping-9 .label {
    display: block
}

.step-shipping .shipping-9 .checkout__label-in {
    position: relative
}

.step-shipping .shipping-9 .delivery-descr {
    float: none;
    max-width: none
}

.step-shipping .shipping-9 .delivery-price {
    float: none;
    position: absolute;
    top: 0;
    right: 0
}

.step-shipping .shipping-9 #smart-shipping-wrapper {
    width: 100%;
    max-width: 100%
}

.step-shipping .shipping-9 #smart-shipping-map {
    width: 100%;
    max-width: 100%
}

.step-shipping .shipping-9 .method-descroption {
    max-width: 65%;
}

@media screen and (min-width: 1024px) {
    .delivery-descr {
        max-width: 65%;
    }
}

@media screen and (max-width: 539px) {
    .product {
        width: 302px;
        margin-right: auto;
        margin-left: auto
    }

    .product #reviewsplus-add-form .wa-form .wa-field .wa-value TEXTAREA {
        width: auto;
        resize: none
    }

    .product #reviewsplus-add-form .wa-captcha {
        box-sizing: border-box;
        max-width: auto;
        text-align: left;
        padding-left: 0
    }

    .product #reviewsplus-add-form .wa-captcha P:after {
        content: "";
        clear: both;
        display: block;
        height: 0
    }

    .product #reviewsplus-add-form .wa-captcha .wa-captcha-img {
        display: block;
        float: left
    }

    .product #reviewsplus-add-form .wa-captcha .wa-captcha-input {
        display: block;
        width: 175px
    }

    .product #reviewsplus-form-div .reviewsplus-div-content form input[type="submit"] {
        margin: 10px 0 0;
        position: static
    }

    #contacts_page .contacts_adress > div {
        display: block;
        max-width: 100%;
        width: 100%
    }

    #contacts_page .contacts_adress > .ca_img {
        display: none
    }

    #contacts_page .address__map > * {
        height: 290px !important
    }

    #contacts_page .singleform-gap-form {
        width: 100%
    }

    #contacts_page .singleform-gap-fields .singleform-gap-field > .singleform-gap-name, #contacts_page .singleform-gap-fields .singleform-gap-field > .singleform-gap-value, #contacts_page .singleform-gap-value input[type='text'], .singleform-gap-value textarea {
        width: 100%
    }

    #contacts_page .wa-captcha, .comment-form .wa-captcha {
        padding-left: 0
    }

    #contacts_page .wa-captcha > p > .wa-captcha-input, .comment-form .wa-captcha > p > .wa-captcha-input {
        width: 57%
    }

    #contacts_page .singleform-gap-fields .singleform-submit {
        top: 0;
        margin-top: 8px;
        float: none
    }

    #contacts_page .singleform-gap-fields .singleform-submit input[type="submit"], .comment-form input[type="submit"].btn {
        width: 100%;
        top: 0
    }

    .comment-form input[type="submit"].btn {
        margin-left: 0;
        top: 7px;
    }

    .feature {
        position: relative;
    }

    .feature .featurestips_wrapper {
        position: static !important;
    }

    .feature__col .featurestips_wrapper .featurestips_view {
        margin-left: 0;
        margin-top: 7px;
        left: 0;
    }

    .feature__col .featurestips_wrapper .tip_view_in {
        width: 302px;
        box-sizing: border-box;
    }

    .feature__col .featurestips_wrapper .tip_view_arrow {
        margin-left: -120px;
    }
}

@media screen and (max-width: 419px) {
    .appnav .pills__item a {
        font-size: 13px;
    }
}