/*
 * Webasyst Default 3.0 theme family
 *
 * Core CSS file
 *
 * @link http://www.webasyst.com/
 * @author Webasyst LLC
 * @copyright 2015 Webasyst LLC
 * @package Webasyst
 */

/* Reset
-------- */
/*
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, !* ol, ul, li, *! fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, credentials, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; }
article, aside, credentials, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }*/

/* Common HTML elements, fonts, and colors
------------------------------------------ */
/*html,
body { width: 100%; min-height: 100%; font-size: 14px; min-width:320px;margin:0;color:#272727;font-family:Roboto,sans-serif;
    font-weight:300;line-height:1.143;background:#fff;overflow-x:hidden
}*/
/*a { color: #006bd8; outline:0 none; text-decoration: none; }*/
a:focus { outline:none; outline-offset:-4px; }
/*a:visited { color: #85c; }*/
a.not-visited:visited { color: #006bd8; }
/*a:hover { color: red; }*/
input[type="button"]::-moz-focus-inner { border: 0; }
input[type="submit"]::-moz-focus-inner { border: 0; }
/*a img { border: 0; }*/
/*p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset, blockquote { margin-bottom: 20px; }
h1 { font-size: 2.6em; }
h1 a { text-decoration:none; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.45em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1em; }
h1, h2, h3 { line-height:1.2em; }*/
ul, ol { padding-top:0; }
ol { list-style: decimal; }
/*input, textarea, select { margin:0; }
input, textarea { font-size: 1em; color: #000; }*/
input[type="button"]:focus { outline:none; outline-offset:-2px; }
fieldset { border:1px solid #bbb; padding:10px; position:relative; background:#e9e9e9; margin-bottom:10px; }
fieldset p label { width:98%; }
fieldset p input[type="text"] { width:98%; }
fieldset p select { width:99%; }
blockquote { color: #555; font-size:0.9em; padding:20px; background: #f3f3f3; }
blockquote cite { font-size: 0.9em; }
hr { background-color: rgba(0,0,0,0.15); height: 1px; border: 0; }
/*p { font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Helvetica Neue', Arial, sans-serif; line-height: 1.4em; }*/
p a { text-decoration: underline; }
/*input::-webkit-input-placeholder { color: #bbb; }
input:-moz-placeholder,
input::-moz-placeholder { color: #bbb; }
input:-ms-input-placeholder { color: #bbb; }*/

/* Misc elements
---------------- */

.block { padding: 25px 30px; }
.inline { display: inline !important; }
.inline-link { text-decoration: none !important; }
.inline-link b { border-bottom: 1px dotted; font-weight: normal; position: relative; top: -0.13em;}
.inline-link b i { font-style: normal; position: relative; top: 0.13em;}
.small { font-size: 0.9em; }
.large { font-size: 1.1em; }
.bold { font-weight: bold; }
.strike { text-decoration: line-through; }
.highlighted { background:  #ffc; }
.hint { color: #aaa; font-size: 0.9em; }
.hint a,
.hint:visited,
.hint a:visited { color: #888; }
.gray .dropdown ul
.gray a,
.gray:visited,
.gray a:visited { color: #888; }
.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }
.clear-left { clear: left; }
.clear-right { clear: right; }
.clear-both { clear: both; }
.shadowed { -moz-box-shadow: 0 5px 15px #aaa; -webkit-box-shadow: 0 5px 15px #aaa; box-shadow: 0 5px 15px #aaa; }
.nowrap { white-space: nowrap; }
.hr { border-top: 1px solid #ccc; margin-bottom: 15px; }
.uppercase { text-transform: uppercase; }
.blurred { -webkit-filter: blur(5px); -moz-filter: blur(5px); -o-filter: blur(5px); -ms-filter: blur(5px); filter: blur(5px); }
.userpic { border-radius: 50%; background-size: auto; }

.container { min-width: 650px; max-width: 970px; margin: 0 auto; padding: 0; }
.container:before,
.container:after { content: " "; clear: both; }

/*.breadcrumbs { padding: 5px 0; font-size: 0.9em; }
.breadcrumbs a { color: #aaa; }
.breadcrumbs span.rarr { color: #ccc; margin: 0 3px; }*/

.tags { line-height: 1.6em; }
.tags a { color: green !important; display: inline !important; padding: 0 4px !important; }
.tags a:hover { color: red !important; }

.welcome { text-align: center; background: url('img/welcome.png') no-repeat; background-position: top center; padding-top: 300px; background-size: 256px 256px; margin-bottom: 30px; }
.welcome h1 { font-weight: normal; font-size: 2em; }

.staff { background: #eeb; padding: 1px 4px !important; color: #345; font-size: 0.9em; border: 1px solid rgba(0,0,0,0.1); border-radius: 3px; white-space: nowrap; }

/* Buttons
---------- */

/*
input[type=button],
input[type=submit] { background: #fcd630; color: #000; outline: 0; padding: 5px 10px 6px; font-size: 1.1em; border: 1px solid rgba(0,0,0,0.3); border-color: rgba(0,0,0,0.2) rgba(0,0,0,0.3) rgba(0,0,0,0.3) rgba(0,0,0,0.3); -webkit-appearance: none; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); border-radius: 3px; text-shadow: 0 1px 0px rgba(255,255,255,0.5);
background: #fcd630 -moz-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.0) 100%);
background: #fcd630 -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0.0)));
background: #fcd630 -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.0) 100%);
background: #fcd630 -o-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.0) 100%);
background: #fcd630 -ms-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.0) 100%);
background: #fcd630 linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fde992', endColorstr='#fcd630',GradientType=0 ); }
input[type=button]:hover,
input[type=submit]:hover { cursor: pointer; background: #fcd630 linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.3) 100%); }
input[type=button]:active,
input[type=submit]:active { background: #f3cd27; text-shadow: none; box-shadow: none; }
input[type=button]:disabled,
input[type=submit]:disabled { background: #eee; color: #999; text-shadow: 0 1px 1px #fff; cursor: pointer; }
input[type=button].small,
input[type=submit].small { font-size: 0.9em; padding: 3px 5px; }
input[type=button].large,
input[type=submit].large { font-size: 1.6em; padding: 7px 10px; font-weight: bold; }
input[type=button].gray,
input[type=submit].gray { background: #eee linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.0) 100%); }
*/

/* Navigation menus
------------------- */

/*ul.menu-v { margin: 0; padding: 0; font-family: 'Helvetica Neue', 'Trebuchet MS', Arial, sans-serif; }
ul.menu-v li { list-style: none; padding: 0; line-height: 1.3em; border-bottom: 1px solid rgba(0,0,0,0.1); }
ul.menu-v li a { padding: 13px 30px 13px 16px; display: block; text-decoration: none; }
ul.menu-v li.collapsible { background: url('img/rarr.png') no-repeat; background-position: right center; background-size: 32px 16px; }
ul.menu-v.bottom-padded { margin-bottom: 20px; }
ul.menu-v li .count { float: right; color: #aaa; }
ul.menu-v li .count i.icon16 { margin: 0 -5px; }*/

ul.menu-h { margin: 0; padding: 0; }
ul.menu-h li { list-style: none; display: inline-block; padding: 0 10px 0 0; line-height: 1.3em; display:block\9; float:left\9; }
ul.menu-h li a { display: inline-block; padding: 13px 16px 13px 16px; display:block\9; float:left\9; text-decoration: none; }

ul.tree { list-style: none; padding-left: 0; }
ul.tree li { border: none; }
ul.tree li a { padding: 5px 16px; display: block; text-decoration: none;}
ul.tree li.selected a { background: transparent; }
ul.tree ul { padding-left: 20px; list-style: none; }
ul.tree ul a { padding: 3px 6px; font-size: 90%; }

.paging-nav { text-align: center; }
.paging-nav ul li { display: inline-block; list-style: none; margin-right: 10px; }
.paging-nav ul li a { padding: 8px 10px; }
.paging-nav ul li.selected a { background: #eee; }

/* Sign up & Login forms
------------------------ */

/*.wa-auth-adapters ul { padding: 0; min-height: 16px; }
.wa-auth-adapters ul li { list-style: none; float: left; padding: 0 15px 0 0; }
.wa-auth-adapters ul li a,
.wa-auth-adapters ul li span { display: block; padding: 0px 5px; }
.wa-auth-adapters ul li a img,
.wa-auth-adapters ul li span img { position: relative; top: 4px; margin-right: 3px; }
.wa-auth-adapters p { color: #888; font-size: 0.9em; width: 80%; }*/
.wa-auth-adapters.wa-connect { margin-top: 20px; }

/*.wa-form { float: left; margin: 10px 0; overflow: visible; }
.wa-form .wa-field { clear: left; margin: 0; padding-top: 3px; }
.wa-form .wa-field .wa-name { float: left; width: 155px; padding-top: 0.05em; padding-bottom: 10px; font-size: 0.95em; color: #888; }
.wa-form .wa-field.wa-separator { height: 10px; }
.wa-form .wa-field .wa-value { margin-left: 180px; margin-bottom: 5px; position: relative; }
.wa-form .wa-field .wa-value input.wa-error { border: 2px solid red; }
.wa-form .wa-field .wa-value .wa-error-msg { font-size: 0.9em; color: red; display: block; }
.wa-form .wa-field .wa-value input[type="text"],
.wa-form .wa-field .wa-value input[type="email"],
.wa-form .wa-field .wa-value input[type="password"] { width: 30%; min-width: 260px;  margin:0;}
.wa-form .wa-field .wa-value textarea { min-width: 300px; height: 70px; }
.wa-form .wa-field .wa-value input.wa-captcha-input { width: 100px; min-width: 0; }
.wa-form .wa-field .wa-value label { display: block; }
.wa-form .wa-field .wa-value .wa-captcha img { margin-left: 0; }
.wa-form .wa-field .wa-value .errormsg { margin-left: 0; }
.wa-form .wa-field .wa-value.wa-submit { margin-top: 10px; }
.wa-form .wa-field .wa-value p label { display: block; margin: 0; }
.wa-form .wa-field .wa-value p { line-height: 1.6em; margin-bottom: 23px; position: relative; }
.wa-form .wa-field .wa-value p span { color: #777; font-size: 0.9em; display: block; }
.wa-form .wa-field .wa-value p i.icon16 { float: left; left: -20px; margin-top: 2px; position: absolute; }
.wa-form .wa-field .wa-value p input { display: block; margin-bottom: 2px; }
.wa-form .wa-field .wa-value p input[type="radio"],
.wa-form .wa-field .wa-value p input[type="checkbox"] { display: inline; }
.wa-form .wa-field .wa-value p .field.wa-required span:after { content: " *"; color: #faa; }
.wa-form .wa-field.wa-required .wa-name:after { content: " *"; color: #faa; }
.wa-signup-form .wa-form .wa-field.wa-field-email { margin-top: 20px; }
.wa-signup-form .wa-form .wa-field.wa-field-email .wa-value input { min-width: 300px; }
.wa-signup-form .wa-form .wa-field.wa-field-password .wa-value input,
.wa-signup-form .wa-form .wa-field.wa-field-password_confirm .wa-value input { min-width: 200px; width: 200px; }

.wa-captcha { padding: 7px 0 10px; }
.wa-captcha p { margin: 0; }
.wa-captcha strong { font-size: 1.2em; }
.wa-captcha p img { float: left !important; margin-right: 5px; margin-top: -8px; }
.wa-captcha .wa-captcha-refresh { font-size: 0.8em; text-decoration: underline; color: #aaa; }
.wa-captcha .wa-captcha-input { display: inline !important; }
.wa-captcha .errormsg { display: inline-block; margin-left: 10px; display:block\9; float:left\9; }
*/

/*input.error, textarea.error { border: 2px solid red; }
.errormsg { color: red; margin-left: 170px; display: block; }*/

/* Multi-column layout
---------------------- */

/*.row { clear: both; border-top: 1px solid #eee; padding: 20px 0; }*/
.row.no-border { border: none; }
.col { float: left; }
.col.w1 { width: 6%; }
.col.w2 { width: 12%; }
.col.w3 { width: 18%; }
.col.w4 { width: 24%; }
.col.w5 { width: 30%; }
.col.w6 { width: 36%; }
.col.w7 { width: 42%; }
.col.w8 { width: 48%; }
.col.w9 { width: 54%; }
.col.w10 { width: 60%; }
.col.w11 { width: 66%; }
.col.w12 { width: 72%; }
.col.w13 { width: 78%; }
.col.w14 { width: 84%; }
.col.w15 { width: 90%; }
.col.w16 { width: 96%; }

/* Tables
--------- */

table { border-collapse: collapse; border-spacing: 0; }
table th { color: #aaa; padding: 0px 10px 7px; }
table td { padding: 10px; border: 1px solid rgba(0,0,0,0.1); }
table.not-bordered td { border: none; }

table.lined { margin-top: 25px; width: 100%; border-spacing:0; border-collapse:collapse; }
table.lined th { padding-left: 7px; padding-right: 7px; }
table.lined td { padding: 15px 7px; border-bottom: 1px solid #ddd; }
table.lined td.min-width { width: 1%; }
table.lined td p { margin: 0; }
table.lined td input.numerical { width: 50px; margin-right: 5px; text-align: right; }
table.lined tr.no-border td { border: none; }
table.lined tr.thin td { padding-top: 13px; padding-bottom: 0; }
table.lined tr.service td { padding-top: 5px; padding-bottom: 5px; padding-left: 25px; font-size: 0.8em; color: #555; }

/* Customized search input look
------------------------------- */
/*
.search {  }
.search-wrapper { position: relative; width: 100%; height: 30px; padding: 0 10px 0 10px; float: left; border: 0; border-radius: 3px; -webkit-appearance: none; margin-right: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background: #fff; }
.search input { width: 100%; float: left; height: 27px; padding-top: 0; margin-top: 1px; background: transparent; border: 0; -webkit-appearance: none; margin-right: 0; padding-left: 0; padding-right: 32px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.search input:focus { outline: 0; }

.search input::-webkit-input-placeholder { color: #aaa; font-weight: normal; }
.search input:-moz-placeholder,
.search input::-moz-placeholder { color: #aaa; font-weight: normal; }
.search input:-ms-input-placeholder { color: #aaa; font-weight: normal; }
 
.search button { min-width: 32px; overflow: visible; position: absolute; right: 0px; float: left; border: none; padding: 0; cursor: pointer; height: 32px; color: #fff; background-color: transparent; background-image: url(img/search16black.png); background-repeat: no-repeat; background-position: 8px 6px; background-size: 16px 16px; border-radius: 0 3px 3px 0; font-size: 1.0em; }
.search button:hover { background-color: rgba(100,100,100,0.1); }
.search button:active,
.search button:focus { background-color: rgba(100,100,100,0.2); outline: 0; }
.search button::-moz-focus-inner { border: 0; padding: 0; }
*/

/* Header: global navigation
---------------------------- */

header.globalheader { background: #c22; position: relative; }
header a { text-decoration: none; }

header #globalnav { background: #000; }
header h2 { float: left; padding: 11px 15px 9px; margin: 0 20px 0 -15px; font-size: 1.3em; }
header h2 a { color: #eee !important; }
header h2 a span { display: none; }
header h2 a:hover { color: #eea !important; }

header .apps { padding: 0; margin: 0 0 0 -15px; }
header .apps li { float: left; list-style: none; }
header .apps li a { display: block; padding: 13px 14px 11px; margin-right: 0px; color: #999; font-size: 1.1em; }
header .apps li a:hover { color: #eea; }
header .apps li.selected a { color: #fff; background: #000; }

header .auth { float: right; margin-bottom: 0; margin-top: 12px; padding-left: 10px; }
header .auth li { list-style: none; float: left; }
header .auth li a { font-size: 0.9em; padding: 5px 6px; color: #777; }
header .auth li a:hover { color: #eea !important; }
header .auth li a:visited { color: #777; }

header .cart { float: right; }
header .cart a { padding: 12px 16px 11px 13px; display: block; background: #444; color: #fff; font-size: 1.5em; }
header .cart a strong { color: #ff7; }
header .cart a:hover { background: #555 !important; }
header .cart .cart-just-added { display: none; padding: 9px 18px; font-size: 0.9em; }
header .cart a.cart-to-checkout { display: none !important; text-align: center; font-weight: bold; padding: 11px 18px; color: #006bd8; font-size: 1.1em; }
header .cart a.cart-to-checkout:hover { background: #fff !important; }
header .cart i.cart-icon { background-repeat:no-repeat; height:24px; width:24px; display: block; float: left; text-indent:-9999px; text-decoration:none!important; background-image: url('img/icons.png'); background-size: 260px 160px; background-position: -216px -50px; margin: -3px 10px 0 0; }
header .cart a .ruble { line-height: 1em; }

header .cart.empty a { background: #333 !important; color: #006bd8; }
header .cart.empty a:hover { background: #444 !important; }
header .cart.empty a:visited,
header .cart.empty a strong { color: #aaa; }
header .cart.empty i.cart-icon { background-position: -192px -50px; }

header .cart.fixed { position: fixed; top: 0; right: 80px; min-width: 220px; max-width: 320px; z-index: 999; padding: 0; box-shadow: 0 2px 5px rgba(0,0,0,0.1); }
header .cart.fixed a { text-align: center; border-top: none; background: #c22; }
header .cart.fixed a:hover { background: #d33 !important; }
header .cart.fixed .cart-just-added { display: block; background: #fafaf1; }
header .cart.fixed a.cart-to-checkout { display: block; border: none; background: #fff; box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.2); }
header .cart.fixed a.cart-to-checkout:hover { color: red !important; }

/*
header #mobile-nav-toggle { !* mobile only *! display: none; background: url('img/mobile-nav-toggle.png') no-repeat center center; border: none; padding: 5px; background-size: 37px 31px; width: 37px; height: 31px; }
*/

header #globalnav.light { background: #fff; }
header #globalnav.light h2 a { color: #000 !important; }
header #globalnav.light h2 a:hover { color: red !important; }
header #globalnav.light .apps li a { color: #888; }
header #globalnav.light .apps li a:hover { color: red !important; }
header #globalnav.light .apps li.selected a { color: #444; background: transparent; }
header #globalnav.light .auth li a:hover { color: red !important; }
header #globalnav.light .cart a { background: #ffc600; }
header #globalnav.light .cart a:hover { background: #ffba00 !important; }
header #globalnav.light .cart a strong { color: #fff; }
header #globalnav.light .cart.empty a { background: transparent !important; }
header #globalnav.light .cart.empty a:hover { background: #e7e7e7 !important; }
header #globalnav.light .cart.empty a strong { color: #aaa !important; }

/* Header: app navigation
------------------------- */

header .appnav { padding-top: 5px; padding-bottom: 4px; min-height: 60px; }

/*header .search { float: right; padding: 14px 0; margin-left: 20px; }*/

header .pages { padding: 0; margin: 14px 0 16px -15px; }
header .pages li { display: inline-block; list-style: none; margin-right: 10px; margin-left: 10px; }
header .pages li a { display: block; color: #fff; text-transform: uppercase; padding: 5px 7px; margin-right: 0px; font-size: 1.1em; font-weight: bold; }
header .pages li a:hover { color: #ffa !important; }
header .pages li.selected a { font-weight: bold; color: #ff7; border-radius: 3px; background: transparent; }

header ul.flyout-nav li.collapsible { background: url('img/darr.png') no-repeat; background-position: right center; background-size: 16px 16px; }
header ul.flyout-nav li.collapsible a { padding-right: 20px; }
header ul.flyout-nav li .flyout { display: none; position: absolute; top: 100%; left: 0; right: 0; box-shadow: 0 5px 20px rgba(0,0,0,0.2); min-height: 150px; padding: 15px 30px; text-align: left; z-index: 101; background: #ffffff; }
header ul.flyout-nav li.submenu-is-shown .flyout { display: block }

/*header ul.flyout-nav li .flyout a { color: inherit; text-transform: none; }
header ul.flyout-nav li .flyout a:hover { color: red !important; }
header ul.flyout-nav li .flyout ul.menu-v li { border: none; vertical-align: top; text-align: left; margin: 0 20px 20px 0; }
header ul.flyout-nav li .flyout ul.menu-v li.collapsible { background: none; }
header ul.flyout-nav li .flyout ul.menu-v li a { font-weight: bold; padding-left: 0; font-size: 1.1em; }
header ul.flyout-nav li .flyout ul.menu-v li ul.menu-v li { display: block; margin: 0; font-size: 0.9em; }
header ul.flyout-nav li .flyout ul.menu-v li ul.menu-v li a { font-weight: normal; }
header ul.flyout-nav li .flyout ul.menu-v li ul.menu-v li ul { display: none; }
header ul.flyout-nav li .flyout .departments ul.menu-v li { width: 173px; }
header ul.flyout-nav li .flyout .tags { font-size: 120%; }
header ul.flyout-nav li .flyout ul.menu-v.brands { text-align: center; }
header ul.flyout-nav li .flyout ul.menu-v.brands a { font-size: 1.2em; font-weight: normal; }*/

body.is-shadow-shown { position: relative; }
body.is-shadow-shown:after { display: block; content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,.25); z-index: 99;}
body.is-shadow-shown .globalheader { position: relative; z-index: 100; }

/* Main
------- */

main.maincontent { display: block; clear: both; margin: 0; background: #fff; }
main.maincontent .container { padding-top: 20px; padding-bottom: 20px; }

.sidebar { float: right; width: 260px; }
/*.content { background: #fff; position: relative; min-height: 250px; }
.content.with-sidebar { margin-right: 290px; }*/

.sub-links { margin-bottom: 20px; padding-left: 0; }
.sub-links li { list-style: none; line-height: 1.5em; }
.sub-links li a { text-decoration: none; }

.likebox { margin-bottom: 25px; overflow: hidden; }
.connect.inline .likebox { width: 260px; display: inline-block; vertical-align: top; margin-right: 50px; }

.leadbox { background: #fafadf; border: 1px solid rgba(0,0,0,0.07); box-shadow: 0 3px 8px -4px rgba(0,0,0,0.1); }
.leadbox h4 { font-size: 1.5em; line-height: 1.2em; }

.olives { background: #f3f3f3; padding: 20px; margin-bottom: 40px; }
.olives-left { background: transparent url('img/olives-left.png') no-repeat center left; background-size: 50px 105px; min-height: 105px; }
.olives-right { background: transparent url('img/olives-right.png') no-repeat center right; background-size: 50px 105px; min-height: 105px; }
.olives-content { margin: 0 80px; font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Helvetica Neue', Arial, sans-serif; text-align: center; font-size: 1.1em; line-height: 1.4em; padding: 20px; }

/* Footer
--------- */

/*footer.globalfooter { clear: both; background: #eee; z-index: 0; padding-top: 25px; min-height: 40px; color: #888; }
footer a,
footer a:visited { color: #888 !important;  }
footer a:hover { color: red !important; }*/

.footer-block { display: inline-block; margin-right: 40px; vertical-align: top; margin-bottom: 20px; overflow-x: hidden; display:block\9; float:left\9; max-width: 170px; }
.footer-block.mailer-subscribe { max-width: 500px; width: auto; overflow-x: visible; }
.footer-block a,
.footer-block strong { display: block; padding: 1px 0; }
.footer-block a.top { font-weight: bold; margin-bottom: 10px; color: #888; }
.footer-block.contact-us { max-width: 270px; }
.footer-block.contact-us .social { margin-bottom: 4px; }
.footer-block.contact-us .social a { display: inline; margin-right: 5px; }

.appfooter { position: relative; text-align: center; padding: 20px; color: #aaa; border-top: 1px solid #ddd; min-height: 1.5em; margin-top: 20px; }
.appfooter .copyright { position: absolute; left: 0; }
.appfooter .poweredby { position: absolute; right: 0; }
.appfooter .dots { font-size: 0.8em; text-decoration: none; display: inline-block; width: 54px; height: 9px; background: url("/wa-content/img/dots/all-dots-default-order@2x.png") no-repeat 0 3px; padding-top: 3px; margin-right: 10px; background-size: 54px 9px; }

/* 16x16 Icons
-------------- */

/*i.icon16 { background-repeat:no-repeat; height:16px; width:16px; display:inline-block; text-indent:-9999px; text-decoration:none!important; background-image: url("img/icons.png"); background-size: 260px 160px !* 50% of the original size for auto @2x optimization *!; }
* i.icon16 { text-decoration:none!important; vertical-align:top; margin: 0.2em 0.25em 0 0; }
.icon16.rss { background-position: -16px 0; }
.icon16.facebook { background-position: -32px 0; }
.icon16.twitter { background-position: -48px 0; }
.icon16.vk { background-position: -64px 0; }
.icon16.gplus { background-position: -80px 0; }
.icon16.pinterest { background-position: -96px 0; }
.icon16.youtube { background-position: -112px 0; }
.icon16.instagram { background-position: -128px 0; }

.icon16.userpic20 { background-position: -2px -2px; border-radius: 50%; background-size: 20px 20px; }
.icon16.color { border-radius: 50%; border: 1px solid rgba(0,0,0,0.2); width: 12px; height: 12px; background-image: none; }

.icon16.like { background-position:0 -16px; margin-top: 0; }
.icon16.star,
.icon16.star-full { background-position:-16px -16px; }
.icon16.star-half { background-position:-32px -16px; }
.icon16.star-empty { background-position:-48px -16px; }
.icon16.star-hover { background-position:-64px -16px; }

!*.icon16.remove { background-position:-96px -16px; }*!
.icon16.saved { background-position:-112px -16px; }
.icon16.stock-red { background-position:-128px -16px; }
.icon16.stock-yellow { background-position:-144px -16px; }
.icon16.stock-green { background-position:-160px -16px; }
.icon16.stock-transparent { background-position:-176px -16px; }
.icon16.checkmark { background-position:-192px -16px; }
.icon16.compare { background-position:-208px -16px; }
.icon16.compare.active { background-position:-224px -16px; }

.icon16.uarr { background: url('img/uarr.png'); background-position: 0 0; background-size: 16px 16px; }*/

.icon16.loading { background-image: url('img/loading16.gif'); background-position: 0 0; background-size: 16px 16px; }
.icon24.loading { background-image: url('img/loading.gif'); background-size: 24px 24px; height:24px; width:24px; display:inline-block; }
.icon32.loading { background-image: url('img/loading.gif'); background-size: 32px 32px; height:32px; width:32px; display:inline-block; }

/* 10x10 Icons
-------------- */

i.icon10 { background-repeat:no-repeat; height:10px; width:10px; display:inline-block; text-indent:-9999px; text-decoration:none!important; background-image: url("img/icons.png"); background-size: 260px 160px; }
* i.icon10 { text-decoration:none!important; vertical-align:top; margin: 0.3em 0.1em 0 0; }
.icon10.darr { background-image: url('img/darr.png'); background-size: 16px 16px; }

.icon10.star,
.icon10.star-full { background-position:0 -100px; }
.icon10.star-half { background-position:-10px -100px; }
.icon10.star-empty { background-position:-20px -100px; }

/* 24x24 Icons
-------------- */

/*i.icon24 { background-repeat:no-repeat; height:24px; width:24px; display:inline-block; text-indent:-9999px; text-decoration:none!important; background-image: url("img/icons.png"); background-size: 260px 160px; }
* i.icon16 { text-decoration:none!important; vertical-align:top; margin: 0.2em 0.25em 0 0; }
.icon24.rss { background-position: 0 -50px; }
.icon24.facebook { background-position: -24px -50px; }
.icon24.twitter { background-position: -48px -50px; }
.icon24.vk { background-position: -72px -50px; }
.icon24.instagram { background-position: -96px -50px; }
.icon24.youtube { background-position: -120px -50px; }
.icon24.pinterest { background-position: -144px -50px; }
.icon24.gplus { background-position: -168px -50px; }*/

/* My account (hide core app nav elements)
------------------------------------------ */

html.my ul.menu-h li a { padding: 5px 7px; }
html.my ul.menu-h li.selected a { color: #fff; }

html.my .sidebar { display: none; }

/* Custom styling
----------------- */

/*.color_scheme_yellow header.globalheader { background: #fb0; }
.color_scheme_green header.globalheader { background: #6fb541; }
.color_scheme_blue header.globalheader { background: #4e81cc; }
.color_scheme_purple header.globalheader { background: #9a81b3; }
.color_scheme_gray header.globalheader { background: #9c9c9c; }
.color_scheme_pink header.globalheader { background: #e871b1; }
.color_scheme_cyan header.globalheader { background: #3ac1bf; }
.color_scheme_lime header.globalheader { background: #b5ce10; }
.color_scheme_brown header.globalheader { background: #a45e1a; }

.color_scheme_white header.globalheader { background: #fff; }
.color_scheme_white header.globalheader .appnav { border-top: 1px solid rgba(0,0,0,0.13); border-bottom: 1px solid rgba(0,0,0,0.13); margin-top: -1px; padding-bottom: 3px; }
.color_scheme_white header .pages li a { color: #777; }
.color_scheme_white header .pages li a:hover { color: red !important; }
.color_scheme_white header ul.flyout-nav li .flyout { box-shadow: none; }
.color_scheme_white .search-wrapper { border: 1px solid #ccc; }*/
/*.color_scheme_white .search input { margin-top: 0; }*/

/*html.font_size_12,
html.font_size_12 body { font-size: 12px; }
html.font_size_13,
html.font_size_13 body { font-size: 13px; }
html.font_size_14,
html.font_size_14 body { font-size: 14px; }
html.font_size_15,
html.font_size_15 body { font-size: 15px; }
html.font_size_16,
html.font_size_16 body { font-size: 16px; }

.font_family_trebuchet,
.font_family_trebuchet * { font-family: "Trebuchet MS", sans-serif; }
.font_family_verdana,
.font_family_verdana * { font-family: Verdana, sans-serif; }
.font_family_georgia,
.font_family_georgia * { font-family: Georgia, Times, serif; }
.font_family_opensans,
.font_family_opensans * { font-family: 'Open Sans', sans-serif; }
.font_family_ptsans,
.font_family_ptsans * { font-family: 'PT Sans', sans-serif; }*/

/* Mobile
--------- */

/*.nav-negative { display: none; !* mobile-only slide-out navigation *! padding-left: 0; margin: -1px 0 0; border-bottom: 1px solid #777; background: #888; }
.nav-negative li { list-style: none; display: block; border-top: 1px solid #777; }
.nav-negative li a { font-size: 1.2em; text-decoration: none; color: #ddd !important; display: block; padding: 15px 26px 15px 16px; }
.nav-negative li.selected a { color: #fff !important; text-shadow: 0 1px 0 #000; background: transparent; font-weight: bold; }
.nav-negative.auth li { background: #666; }
.nav-negative.search { padding: 0; background: #fff; height: 52px; }
.nav-negative.search .search-wrapper { height: 52px; border-radius: 0; border: none; }
.nav-negative.search input { height: 52px; font-size: 1.3em; padding-left: 5px; margin-top: 4px; padding-right: 52px; }
.nav-negative.search button { background-size: 24px 24px; height: 52px; width: 52px; background-position: 3px 15px; }*/

/* TABLET
========= */

@media screen and (min-width: 760px) and (max-width: 1024px) {

    /*body { -webkit-text-size-adjust: 100%; }*/

    /*.container { padding: 0 25px; }*/
    .sidebar { width: 200px; }
    /*.content.with-sidebar { margin-right: 220px; }*/

    header h2 { margin-right: 10px; }
    header .apps { margin-left: -10px; }
    header .apps li a { padding: 12px 10px; }
    .search-wrapper { max-width: 150px; }

    .color_scheme_white header.globalheader .appnav { padding-left: 0; padding-right: 0; margin-left: 25px; margin-right: 25px; }

    /* @media screen and (orientation : portrait) { */
    @media screen and (max-width: 850px) {


    }

}


/* MOBILE
========= */

@media screen and (max-width: 760px) {

    /*body { -webkit-text-size-adjust: 100%; padding-top: 52px /!* fixed #globalnav *!/; }*/

    /*h1 { font-size: 2em; }
    h2 { font-size: 1.5em; }
    h3 { font-size: 1.3em; }*/

    .container { min-width: 0; padding: 0; }
    /*.breadcrumbs { font-size: 1.0em; line-height: 1.5em; margin-bottom: 10px; }*/

    .sidebar { float: none !important; width: auto !important; padding: 0 !important; }
    /*.content { padding: 0px 15px; overflow-x: hidden; }
    .content.with-sidebar { margin-left: 0 !important; margin-right: 0 !important; }*/

    .nav-negative { display: block; /* mobile-only slide-out navigation */ }

    /*header #globalnav { position: fixed; top: 0; left: 0; right: 0; z-index: 9999; height: 52px; padding-top: 0 !important; }
    header #globalnav.light { box-shadow: 0 2px 5px rgba(0,0,0,0.1); }
    header #globalnav.light .cart.empty a { background: #f3f3f3 !important; }
    .color_scheme_white header #globalnav.light { box-shadow: none; border-bottom: 1px solid rgba(0,0,0,0.13); }

    header h2 { margin: 9px 50px 10px 0 !important; float: left; font-size: 1.2em !important; position: fixed; top: 7px; left: 15px; z-index: 9999; font-weight: normal !important; padding: 0 !important; display: block !important; }
    header h2 a img { display: none; }
    header h2 a span { display: inline; }
    header .appnav { padding: 0; }
    !*header #mobile-nav-toggle { display: block; float: right; margin-right: 10px; margin-top: 13px; outline: 0; margin-bottom: 9px; }*!
    header .apps { display: none; }
    header .pages { margin: 0; padding: 20px 0; }
    header .auth { float: left; padding-left: 0; display: none; }
    header .auth li a { font-size: 1em; }
    header .auth li a i.icon16 { margin-top: 0; }
    header .apps.unfolded { display: block; }
    header .cart,
    header .cart.fixed { position: absolute; right: 58px !important; min-width: 0 !important; max-width: 64px; }
    header .cart a { height: 1em; padding: 16px 9px 15px 17px; background: #ffba00; }
    header .cart.fixed a { background: #ffba00; }
    header .cart a strong { display: none; }
    header .cart #cart-content { display: none; }

    header ul.flyout-nav li.submenu-is-shown > a { background: rgba(0,0,0,.33); border-radius: 3px; }*/

    /*.content img { max-width: 100%; }*/

    /*.search { display: none; }*/
    .search-wrapper { padding-right: 0; }

   /* footer.globalfooter { top: 0; padding-top: 10px; }
    .footer-block { width: 120px; margin: 10px 15px !important; }
    .footer-block#copyright { width: auto; display: block; }
    .footer-block a { margin-bottom: 3px; }
    .footer-note { margin: 10px 15px; }
    .appfooter { padding: 10px 15px; }
    .appfooter .copyright,
    .appfooter .poweredby { position: static; padding: 10px; }*/

    /*.wa-form .wa-field .wa-name { float: none; padding-bottom: 0; }
    .wa-form .wa-field .wa-value { margin-left: 0; }
    .wa-form .wa-field .wa-value p span { display: block; }
    .wa-form .wa-field .wa-value input[type="text"],
    .wa-form .wa-field .wa-value input[type="email"],
    .wa-form .wa-field .wa-value input[type="password"] { min-width: 200px; }
    .wa-auth-adapters p { width: 80%; }
    .wa-captcha input.wa-captcha-input { width: 100px; }*/
    .errormsg { margin-left: 0; }

    table td { padding: 5px; }
    html.my ul.menu-h li a { padding: 10px; }
    .comment-form-fields label { float: left; }
    .sub-links li { font-size: 110%; margin-bottom: 5px; }
    .sidebar .likebox { display: none; }
    .connect.inline .likebox { display: block; width: auto; }

    /*.wa-signup-form .wa-form .wa-field.wa-field-email .wa-value input { min-width: 240px; }
    .wa-signup-form .wa-form .wa-field.wa-field-password .wa-value input,
    .wa-signup-form .wa-form .wa-field.wa-field-password_confirm .wa-value input { min-width: 160px; width: 160px; }*/

    .olives { padding: 10px; }
    .olives-left,
    .olives-right { background-size: 25px auto; min-height: 55px; }
    .olives-content { margin: 0 20px; font-size: 0.9em; padding: 10px; }

    .footer-block.contact-us { max-width: 999px; display: block; width: auto; }

}

/* WIDE
========= */
/*

@media screen and (min-width: 1300px) {

    .container { max-width: 1200px; }

}*/
