<div class="errors">
    <div class="errors__logo logo-small errors__box"></div>
    <h1 class="errors__title errors__box">Ошибка 404</h1>
    <p class="errors__text error__box">
        К сожалению, мы не можем найти запрашиваемую вами страницу.
        Возможно она была удалена, переименована или же была допущена ошибка
        при вводе адреса страницы в адресной строке браузера.
        Вы можете попробовать найти интересующий вас товар,
        используя <a class="errors__link" href="/sitemap/">Карту сайта</a> или перейти на

    </p>
    <div class="errors__box"><a href="{$wa_url}" class="errors__link">Главную страницу</a></div>
</div>
<!-- {literal} -->
<script>
ga('send', 'pageview', '404.html?page='+ document.location.pathname + document.location.search +'&from=' + document.referrer);
</script>
<!-- {/literal} -->