<div id="page" role="main">
    {if !empty($set_password)}
        <h1>[s`Recover password for`] {$login}</h1>
        {$wa->setPasswordForm($error, true)}
    {else}
        <h1>[s`Password recovery`]</h1>
        {if !empty($sent)}
            <p>[s`Password recovery instructions have been sent to your email address.`]</p>
            <br /><br />
            <a href="{$wa->loginUrl()}">[s`Back to login page`]</a>
        {else}
            {$wa->forgotPasswordForm($error, true)}
        {/if}
    {/if}
</div>
