
{$categories = $wa->shop->categories(0, 0, true)}
{if count($categories)}

{if isset($category)}
    {$selected_category = $category.id}
{else}
    {$selected_category = null}
{/if}
<ul class="leftmenu nostyles">
    {foreach $categories as $cat}
    <li class="leftmenu__item">
        <a class="leftmenu__link{if $cat.id == $selected_category} current{/if}" href="{$cat.url}">{$cat.name}</a>
        {if $category.subcategories}
        <ul class="leftmenu__submenu submenu-list">
            {foreach $category.subcategories as $sc}
            <li class="submenu-list__item">
                <a href="{$sc.url}" class="submenu-list__link{if $sc.id == $selected_category} current{/if}">{$sc.name|escape}</a>
            </li>
            {/foreach}
        </ul>
        {/if}
    </li>
    {/foreach}
</ul>
{/if}