
{$categories = $wa->shop->categories(0, null, true, true)}
{if count($categories)}
    {$current_category = 0}
    {if isset($category)}
        {$current_category = $category.id}
    {else if isset($product)}
        {$current_category = $product.category_id}
    {/if}
    {wa_print_tree tree=$categories elem='<a class="lmenu__link" href=":url">:name</a>' class="lmenu menu-v" collapsible_class="parent" selected=$current_category}
{/if}
{$lmenu_items =
[
'О нас' => 'about/',
'Установка' => 'installation/',
'Под заказ' => 'blog/custom-production/'
]
}
<ul class="lmenu lmenu--addon nostyles">
    {$url = ''}
    {foreach from=$lmenu_items key=title item=url}
	{if isset($url) && ((isset($page) && $page.url == $url) || ($wa_app == 'blog' && $url == 'blog/'))}
	    {$menu_class = ' lmenu__link--active'}
        {else}
	    {$menu_class = ''}
        {/if}
    <li><a href="/{if isset($url)}{$url}{/if}" class="lmenu__link{$menu_class}">{$title}</a></li>
    {/foreach}
</ul>

<ul class="lmenu lmenu--discounts nostyles">
	{$url = 'discounts/'}
	{if $page.url == $url}
	    {$menu_class = ' lmenu__link--active'}
    {else}
	    {$menu_class = ''}
    {/if}
    <li><a href="/{$url}" class="lmenu__link{$menu_class}">Товары со скидками</a></li>
</ul>
