<div id="page" role="main" class="page-login">
    {* $breadcrumb_simple_text = "Вход"}
    {include file="breadcrumbs.simple.html" inline *}
    <h1>Вход</h1>
    {$wa->authAdapters()}
    {$wa->loginForm($error, empty($without_form), true, true)}
</div>