<div id="my_profile_page">

{if $saved}
    <strong class="saved_text"><i class="icon16 saved"></i><span>[s`Contact information successfully updated!`]</span></strong>
{/if}
{if isset($smarty.get.emailconfirmed) && $smarty.get.emailconfirmed == 1}
    <strong class="saved_text"><i class="icon16 saved"></i><span>[s`Contact information successfully updated!`]</span></strong>
{/if}
<section class="profile" id="wa-my-info-wrapper">
    <div id="wa-my-info-read-wrapper"{if !empty($form->errors)} style="display: none;"{/if}>
		{foreach $user_info as $id => $info}
			{$info_value = $info.value}
			<dl class="profile__row data">
				<dt class="profile__label profile__col">{$info.name}</dt>
				<dt class="profile__value profile__col {if $id == address}adress_value{/if}">
					{if is_array($info_value)}
						{implode(', ', $info_value)}
					{else}
						{$info_value}
					{/if}
				</dt>
			</dl>
        {/foreach}
        <div class="profile__action">
            <input type="button" class="btn btn--edit-profile" id="wa-my-info-edit" value="[s`Edit`]"/>
        </div>
    </div>
    <form action="" enctype="multipart/form-data" method="post"{if empty($form->errors)} style="display: none;"{/if} id="wa-my-info-edit-wrapper">
        <div class="wa-form">
            {$form->html()}
            <div class="wa-field">
                <div class="wa-value">
                    <input class="btn btn--primary" type="submit" value="[s`Save`]">
                </div>
            </div>
            <div class="wa-field">
                <div class="wa-value">
                    <a class="btn" href="#" id="wa-my-info-cancel">[s`cancel`]</a>
                </div>
            </div>
        </div>
    </form>
</section>
{$auth_adapters = $wa->authAdapters(true)}
{if $auth_adapters}
    <section class="profile-social">
		<div class="wa-auth-adapters wa-connect form-field form-field--large">
			<h3>[s`Connected accounts`]</h3> 
			{$linked_adapters = []}
			{$other_adapters = []}
			{foreach $auth_adapters as $a}
				{if $wa->user("{$a->getId()}_id")}
					{$linked_adapters[] = $a}
				{else}
					{$other_adapters[] = $a}
				{/if}
			{/foreach}
			{if $linked_adapters}
				<ul>
				{foreach $linked_adapters as $a}
					<li class="socicons__item wa-auth-adapter-{$a->getId()}">
						<a class="socicon socicon__{$a->getId()}" href="{$a->getUrl()}" title="{$a->getName()}"></a>
					</li>
				{/foreach}
				</ul>
			{/if}
			{if $other_adapters}
				<p class="wa-auth-adapters__message">[s`Connect this account to your social network accounts so next time you can log in without entering your password:`]</p>
					<ul class="wa-auth-adapters__list">
					{foreach $other_adapters as $a}
					<!--<li><a href="{$a->getUrl()}"><img alt="{$a->getName()}" src="{$a->getIcon()}"/>{$a->getName()}</a></li>-->
					<li class="socicons__item wa-auth-adapter-{$a->getId()}">
						<a class="socicon socicon__{$a->getId()}" href="{$a->getUrl()}" title="{$a->getName()}"></a>
					</li>
					{/foreach}
				</ul>
				<script type="text/javascript">
					loadEvents.push(function() {
						$("div.wa-auth-adapters a").click(function () {
							var left = (screen.width - 600) / 2;
							var top = (screen.height - 400) / 2;
							window.open($(this).attr('href'),'oauth', "width=600,height=400,left="+left+",top="+top+",status=no,toolbar=no,menubar=no");
							return false;
						});
					});
				</script>
			{/if}
		</div>
    </section>
{/if}
<script>
loadEvents.push(function() {
    (function () {
        var $wrapper = $('#wa-my-info-wrapper'),
            $form = $wrapper.find('#wa-my-info-edit-wrapper'),
            $info = $wrapper.find('#wa-my-info-read-wrapper'),
            $password = $form.find('.wa-field-password'),
            $photo = $form.find('.wa-field-photo');
        if ($password.length) {
            var $change_link = $('<span><a href="#">[s`Change password`]</a></span>'),
                $password_inputs = $password.find('p');
            $password.find('.wa-value').prepend($change_link);
            $change_link.on('click', 'a', function(e) {
                e.preventDefault();
                $change_link.hide();
                $password_inputs.slideDown();
            });
        }
        if ($photo.length) {
            var $delete_photo = $('<span><a href="#">[s`Delete photo`]</a></span>'),
                $photo_input = $photo.find('[name="profile[photo]"]'),
                $user_photo = $photo.find('img:first'),
                $default_photo = $photo.find('img:last');
            if ($user_photo[0] != $default_photo[0]) {
                $default_photo
                        .hide()
                        .after($delete_photo);
                $delete_photo.on('click', 'a', function(e) {
                    e.preventDefault();
                    $default_photo.show();
                    $user_photo.hide();
                    $delete_photo.hide();
                    $photo_input.val('');
                });
            } else {
                $default_photo.show();
            }
        }
        $wrapper
                .on('click', '#wa-my-info-edit', function (e) {
                    e.preventDefault();
                    if ($password.length) {
                        $change_link.show();
                        $password_inputs.hide();
                    }
                    if ($photo.length) {
                        if ($user_photo[0] != $default_photo[0]) {
                            $delete_photo.show();
                            $default_photo.hide();
                        }
                    }
                    $form.show();
                    $info.hide();
                })
                .on('click', '#wa-my-info-cancel', function(e){
                    e.preventDefault();
                    $form.hide();
                    $info.show();
                });
    })();
});
</script>
{$wa->globals('isMyAccount', true)}
</div>