

<ul class="leftmenu__submenu submenu-list">
    {foreach $category.subcategories as $sc}
    <li class="submenu-list__item"><a href="{$sc.url}" class="submenu-list__link">{$sc.name|escape}</a></li>
    {/foreach}
</ul>