{* $breadcrumb_simple_text = "Регистрация"}
{include file="breadcrumbs.simple.html" inline *}
<div id="page" role="main" class="wa-signup-form">
    <h1><span class="page-title">[s`Sign up`]</span></h1>
    {if !empty($confirmed_email)}    
        <h2>[s`Thank you!`]</h2>
        <p>[s`You have successfully confirmed your email.`]</p>
    {else if !empty($contact)}
        <h2>[s`Thank you!`]</h2>
        <p>[s`You have successfully signed up.`]</p>
        {if !empty($email_confirmation_hash)}
            <p><em>[s`A confirmation link has been sent to you by email. Please click this link to confirm your signup and to sign in.`]</em></p>
        {/if}
    {else}
        {$wa->authAdapters()}
        {$wa->signupForm($errors)}
        <div class="signup-note">
            <h2 class="signup-note__title">Что вам будет доступно после авторизации:</h2>
            <ul class="signup-note-list">
                <li class="signup-note-list__item">Индивидуальная программа скидок</li>
                <li class="signup-note-list__item">Сохранение всех отложенных товаров в Личном кабинете</li>
                <li class="signup-note-list__item">Новости о снижении цен</li>
                <li class="signup-note-list__item">Управление списками сравнения товаров</li>
                <li class="signup-note-list__item">Добавление комментариев и обсуждение товаров</li>
                 <li class="signup-note-list__item">Доступность истории Ваших покупок и незавершенных заказов.</li>
            </ul>
        </div>
		<script>
		loadEvents.push(function() {
			function hideFields() {
				$('.wa-field.wa-field-firstname').hide();
				$('.wa-field.wa-field-firstname INPUT[name="data[firstname]"]').val("");
				$('.wa-field.wa-field-lastname').hide();
				$('.wa-field.wa-field-lastname INPUT[name="data[lastname]"]').val("");
				$('.wa-field.wa-field-phone').hide();
				$('.wa-field.wa-field-phone INPUT[name="data[phone]"]').val("");
				$('.wa-field.wa-field-company').hide();
				$('.wa-field.wa-field-company INPUT[name="data[company]"]').val("");
				$('.wa-field.wa-field-inn').hide();
				$('.wa-field.wa-field-inn INPUT[name="data[inn]"]').val("");
				$('.wa-field.wa-field-kpp').hide();
				$('.wa-field.wa-field-kpp INPUT[name="data[kpp]"]').val("");
				$('.wa-field.wa-field-yur-adres').hide();
				$('.wa-field.wa-field-yur-adres INPUT[name="data[yur-adres]"]').val("");
				$('.wa-field.wa-field-raschetnyy-sche').hide();
				$('.wa-field.wa-field-raschetnyy-sche INPUT[name="data[raschetnyy-sche]"]').val("");
				$('.wa-field.wa-field-naimbanka').hide();
				$('.wa-field.wa-field-naimbanka INPUT[name="data[naimbanka]"]').val("");
				$('.wa-field.wa-field-gorod-nakhozhd-').hide();
				$('.wa-field.wa-field-gorod-nakhozhd- INPUT[name="data[gorod-nakhozhd-]"]').val("");
				$('.wa-field.wa-field-bik-banka').hide();
				$('.wa-field.wa-field-bik-banka INPUT[name="data[bik-banka]"]').val("");
			}
			function showFields(type) {
				if (type == 1) {
					$('.wa-field.wa-field-firstname').show();
					$('.wa-field.wa-field-lastname').show();
					$('.wa-field.wa-field-phone').show();
					$('.wa-field.wa-field-company').hide();
					$('.wa-field.wa-field-company INPUT[name="data[company]"]').val("");
					$('.wa-field.wa-field-inn').hide();
					$('.wa-field.wa-field-inn INPUT[name="data[inn]"]').val("");
					$('.wa-field.wa-field-kpp').hide();
					$('.wa-field.wa-field-kpp INPUT[name="data[kpp]"]').val("");
					$('.wa-field.wa-field-yur-adres').hide();
					$('.wa-field.wa-field-yur-adres INPUT[name="data[yur-adres]"]').val("");
					$('.wa-field.wa-field-raschetnyy-sche').hide();
					$('.wa-field.wa-field-raschetnyy-sche INPUT[name="data[raschetnyy-sche]"]').val("");
					$('.wa-field.wa-field-naimbanka').hide();
					$('.wa-field.wa-field-naimbanka INPUT[name="data[naimbanka]"]').val("");
					$('.wa-field.wa-field-gorod-nakhozhd-').hide();
					$('.wa-field.wa-field-gorod-nakhozhd- INPUT[name="data[gorod-nakhozhd-]"]').val("");
					$('.wa-field.wa-field-bik-banka').hide();
					$('.wa-field.wa-field-bik-banka INPUT[name="data[bik-banka]"]').val("");					
				} else if (type == 2) {
					$('.wa-field.wa-field-firstname').hide();
					$('.wa-field.wa-field-firstname INPUT[name="data[firstname]"]').val("");
					$('.wa-field.wa-field-lastname').hide();
					$('.wa-field.wa-field-lastname INPUT[name="data[lastname]"]').val("");
					$('.wa-field.wa-field-phone').show();
					$('.wa-field.wa-field-company').show();
					$('.wa-field.wa-field-inn').show();
					$('.wa-field.wa-field-kpp').show();
					$('.wa-field.wa-field-yur-adres').show();
					$('.wa-field.wa-field-raschetnyy-sche').show();
					$('.wa-field.wa-field-naimbanka').show();
					$('.wa-field.wa-field-gorod-nakhozhd-').show();
					$('.wa-field.wa-field-bik-banka').show();			
				}
			}
			$(document).ready(function(){
				$('.wa-field.wa-field-tip-klienta').find('select option:first-child').text("-- тип учетной записи --");
				$('.wa-field.wa-field-tip-klienta').find('select').on('change', function(){
					if ($(this).val() == "Физ. лицо") {
						showFields(1);
					} else if ($(this).val() == "Юр. лицо") {
						showFields(2);
					} else {
						hideFields();
					}
				}).change();
			});
			$(".wa-form FORM INPUT").add(".wa-form FORM SELECT").on('focus', function(){
				$(this).removeClass('error');
			});
			$(".wa-form FORM").on('submit', function(){
				var no_errors = true;
				if ($('.wa-field.wa-field-email INPUT[name="data[email]"]').val() == "") {
					$('.wa-field.wa-field-email INPUT[name="data[email]"]').addClass('error');
					no_errors = false;
				} else {
					var email_pattern = /^([a-zA-Z0-9])+([a-zA-Z0-9\._-])*@([a-zA-Z0-9_-])+([a-zA-Z0-9\._-]+)+$/;
					if($('.wa-field.wa-field-email INPUT[name="data[email]"]').val().search(email_pattern) == 0){
					} else {
						$('.wa-field.wa-field-email INPUT[name="data[email]"]').addClass('error');
						no_errors = false;
					}
				}
				if ($('.wa-field.wa-field-password INPUT[name="data[password]"]').val() == "") {
					$('.wa-field.wa-field-password INPUT[name="data[password]"]').addClass('error');
					no_errors = false;
				}
				if ($('.wa-field.wa-field-password_confirm INPUT[name="data[password_confirm]"]').val() == "") {
					$('.wa-field.wa-field-password_confirm INPUT[name="data[password_confirm]"]').addClass('error');
					no_errors = false;
				}
				if ($('.wa-field.wa-field-password INPUT[name="data[password]"]').val() != $('.wa-field.wa-field-password_confirm INPUT[name="data[password_confirm]"]').val()) {
					$('.wa-field.wa-field-password INPUT[name="data[password]"]').addClass('error');
					$('.wa-field.wa-field-password_confirm INPUT[name="data[password_confirm]"]').addClass('error');
					no_errors = false;
				}
				if ($('.wa-field.wa-field-tip-klienta SELECT[name="data[tip-klienta]"]').val() == "") {
					$('.wa-field.wa-field-tip-klienta SELECT[name="data[tip-klienta]"]').addClass('error');
					no_errors = false;
				} else {
					if ($('.wa-field.wa-field-tip-klienta SELECT[name="data[tip-klienta]"]').val() == "Физ. лицо") {
						if ($('.wa-field.wa-field-firstname INPUT[name="data[firstname]"]').val() == "") {
							$('.wa-field.wa-field-firstname INPUT[name="data[firstname]"]').addClass('error');
							no_errors = false;
						}
						if ($('.wa-field.wa-field-lastname INPUT[name="data[lastname]"]').val() == "") {
							$('.wa-field.wa-field-lastname INPUT[name="data[lastname]"]').addClass('error');
							no_errors = false;
						}
						if ($('.wa-field.wa-field-phone INPUT[name="data[phone]"]').val() == "") {
							$('.wa-field.wa-field-phone INPUT[name="data[phone]"]').addClass('error');
							no_errors = false;
						}
					} else if ($('.wa-field.wa-field-tip-klienta SELECT[name="data[tip-klienta]"]').val() == "Юр. лицо") {					
						if ($('.wa-field.wa-field-phone INPUT[name="data[phone]"]').val() == "") {
							$('.wa-field.wa-field-phone INPUT[name="data[phone]"]').addClass('error');
							no_errors = false;
						}
						if ($('.wa-field.wa-field-company INPUT[name="data[company]"]').val() == "") {
							$('.wa-field.wa-field-company INPUT[name="data[company]"]').addClass('error');
							no_errors = false;
						}
						if ($('.wa-field.wa-field-inn INPUT[name="data[inn]"]').val() == "") {
							$('.wa-field.wa-field-inn INPUT[name="data[inn]"]').addClass('error');
							no_errors = false;
						}
						if ($('.wa-field.wa-field-kpp INPUT[name="data[kpp]"]').val() == "") {
							$('.wa-field.wa-field-kpp INPUT[name="data[kpp]"]').addClass('error');
							no_errors = false;
						}
						if ($('.wa-field.wa-field-yur-adres INPUT[name="data[yur-adres]"]').val() == "") {
							$('.wa-field.wa-field-yur-adres INPUT[name="data[yur-adres]"]').addClass('error');
							no_errors = false;
						}
						if ($('.wa-field.wa-field-raschetnyy-sche INPUT[name="data[raschetnyy-sche]"]').val() == "") {
							$('.wa-field.wa-field-raschetnyy-sche INPUT[name="data[raschetnyy-sche]"]').addClass('error');
							no_errors = false;
						}
						if ($('.wa-field.wa-field-naimbanka INPUT[name="data[naimbanka]"]').val() == "") {
							$('.wa-field.wa-field-naimbanka INPUT[name="data[naimbanka]"]').addClass('error');
							no_errors = false;
						}
						if ($('.wa-field.wa-field-gorod-nakhozhd- INPUT[name="data[gorod-nakhozhd-]"]').val() == "") {
							$('.wa-field.wa-field-gorod-nakhozhd- INPUT[name="data[gorod-nakhozhd-]"]').addClass('error');
							no_errors = false;
						}
						if ($('.wa-field.wa-field-bik-banka INPUT[name="data[bik-banka]"]').val() == "") {
							$('.wa-field.wa-field-bik-banka INPUT[name="data[bik-banka]"]').addClass('error');
							no_errors = false;
						}
					}
				}
				if ($('.wa-field .wa-captcha .wa-captcha-input').val() == "") {
					$('.wa-field .wa-captcha .wa-captcha-input').addClass('error');
					no_errors = false;
				}				
				if (no_errors) {
					if ($('.wa-field.wa-field-tip-klienta SELECT[name="data[tip-klienta]"]').val() == "Юр. лицо") {
						$('.wa-field.wa-field-firstname INPUT[name="data[firstname]"]').val($('.wa-field.wa-field-company INPUT[name="data[company]"]').val());
					}
					return true;
				}
				return false;
			});
		});
		</script>
    {/if}
</div>