<div class="user-row{if $user_row_opened} user-row--open{/if}">
    <div class="wrapper">
        <div class="user-row__account row-account">
            <i class="row-link__icon icon icon--user"></i>
            <ul class="menu user-row-menu">
                {if $wa->user()->isAuth()}
                <li class="menu__item">
                    <a href="{$wa->myUrl()}" class="row-link menu__link">
                        <span class="row-link__text">Личный кабинет</span>
                    </a>
                </li>
                {else}
                <li class="menu__item">
                    <a href="{$wa->loginUrl()}" class="row-link menu__link">
                        <span class="row-link__text">Войти</span>
                    </a>
                </li>
                <li class="menu__item">
                    <a href="{$wa->signupUrl()}" class="row-link menu__link">
                        <span class="row-link__text">Зарегистрироваться</span>
                    </a>
                </li>
                {/if}
            </ul>
        </div>

        <div class="user-row__wishlist">
            <a href="/my/favorites/" class="row-link row-wishlist{if $fav_count > 0} row-link--active{/if}{if !$wa->user()->isAuth()} not_auth{/if}">
                <i class="row-link__icon icon icon--wishlist"></i>
                <span class="row-link__text">Отложенные</span>
                <span class="row-link__count wishlist-count">{$fav_count}</span>
            </a>
            <span id="compare-leash">
                <a class="row-link row-compare{if $in_comparison} row-link--active{/if}" href="/compare/">
                    <i class="row-link__icon icon icon--compare"></i>
                    <span class="row-link__text">В сравнении</span>
                    <span class="row-link__count compare-count">{count($in_comparison)}</span>
                </a>
            </span>
        </div>

        <div class="user-row__cart" id="cart">
            <a href="/onestep/" class="row-link row-cart cart-summary {if $cart_products_count} row-link--active{/if}">
                <i class="row-link__icon icon icon--cart"></i>
                <span class="row-link__text">В КОРЗИНЕ:</span>
                <span class="row-link__count row-link__count--cart">{$cart_products_count}</span>
                <span class="row-cart__total cart-total">{$wa->shop->cart->total()} руб.</span>
            </a>
        </div>
    </div>
</div>
