<ul class="pages">
    <li {if $wa->currentUrl() == $wa_app_url} class="selected"{/if}>
        <a href="{$wa_app_url}">[`All photos`]</a>
    </li>
    <li {if $wa->param('action') neq 'page' && $wa->param('action') neq 'album' && $wa->param('hash') == 'favorites'} class="selected"{/if}>
        <a href="{$wa_app_url}favorites/">[`Editors’ choice`]</a>
    </li>
    
    <!-- plugins -->
    {* @event frontend_sidebar.%plugin_id%.menu *}
    {foreach $frontend_sidebar as $plugin_id => $item}{if !empty($item.menu)}
        <li>{$item.menu}</li>
    {/if}{/foreach}

    
    {if $theme_settings.header_links != 'photos-pages'}
        {* display static page list in case it was not yet displayed in the core index.html layout template *}
        {foreach $wa->photos->pages() as $page}
            <li{if strlen($page.url)>1 && $wa->currentUrl()|strstr:$page.url} class="selected"{/if}><a href="{$page.url}">{$page.name}</a></li>
        {/foreach}
    {/if}
</ul>
