<!-- image -->
<section class="slideshow">

    {$photoMeta = photosPmPlugin::photoMeta()}
    <div class="photo">
        <div class="image">
            <div class="corner top left">
                {* @event frontend_photo.%plugin_id%.top_left *}
                {foreach $frontend_photo as $plugin_id => $item}{if !empty($item.top_left)}
                    {$item.top_left}
                {/if}{/foreach}
            </div>
            <div class="corner top right">
                {* @event frontend_photo.%plugin_id%.top_right *}
                {foreach $frontend_photo as $plugin_id => $item}{if !empty($item.top_right)}
                    {$item.top_right}
                {/if}{/foreach}
            </div>
            <i class="image-nav rewind" title="[`← Previous`]"></i>
            <i class="image-nav ff" title="[`Next →`]"></i>
            <div class="stack">
                <div id="stack-nav">{$stack_nav}</div>
            </div>
            <a href="{$photo.next_photo_url}" title="[`Next →`]">
                {$wa->photos->getImgHtml($photo, '970x0', ['id' => 'photo','itemprop' => 'image', 'title' => $photoMeta['img_title'], 'alt' => $photoMeta['img_alt']])}
            </a>
        </div>
    </div>
    
    <nav class="slideshow-navigator">
        <div class="photostream-container">
            <!-- stream navigation -->
            {$photo_stream}
        </div>
    </nav>
</section>

<div>
    <!-- photo info -->
    {if $photo.name}
    <h4 id="photo-name" itemprop="name">{$photo.name}</h4>
    {/if}
    {if $photo.description}
        <p id="photo-description" itemprop="description">{$photo.description}</p>
    {/if}
    {* if $exif}
        <p class="exif hint" id="photo-exif">
            {$exif}
        </p>
    {/if *}
    {* if $author || $albums || $tags}
        <p class="hint">
            {if $author}
                <span id="photo-author">
                    [`Uploaded by`] <span class="photo-info">{$author}</span><br>
                </span>
            {/if}
            {if $albums}
                <span id="photo-albums">
                [`Albums`]: <span class="photo-info">{$albums}</span><br>
                </span>
            {/if}
            {if $tags}
                <span class="tags" id="photo-tags">
                    [`Tags`]: <span class="photo-info">{$tags}</span>
                </span>
            {/if}
        </p>
    {/if *}

    {* @event frontend_photo.%plugin_id%.content *}
    {foreach $frontend_photo as $plugin_id => $item}{if !empty($item.content)}{$item.content}{/if}{/foreach}

    <div class="clear-both"></div>

    <div id="photo-hook-bottom">
        {* @event frontend_photo.%plugin_id%.bottom *}
        {foreach $frontend_photo as $plugin_id => $item}{if !empty($item.bottom)}{$item.bottom}{/if}{/foreach}
    </div>
</div>