@charset "UTF-8";
.table,
table {
    border-collapse: collapse
}
.breadcrumb__item,
.nowrap,
.pager-arrow .bx-next,
.pager-arrow .bx-prev,
.row-cart,
.socicons,
.submenu__link {
    white-space: nowrap
}
.select,
.table td,
.table th {
    border: 1px solid #d9d8d6
}
.answers__item,
.feature,
.stock {
    border-bottom: 1px solid #d9d8d6
}
img,
legend {
    border: 0
}
.clearfix:after {
    display: table;
    content: '';
    clear: both
}
.text-center {
    text-align: center
}
.text-left {
    text-align: left
}
.align-right,
.text-right {
    text-align: right
}
@media screen and (max-width: 539px) {
    .show1 {
        display: none!important
    }
}
@media screen and (max-width: 799px) {
    .show2 {
        display: none!important
    }
}
@media screen and (min-width: 540px) {
    .hide1 {
        display: none!important
    }
}
@media screen and (min-width: 800px) {
    .hide2 {
        display: none!important
    }
}
@font-face {
    font-family: "Avenir Next W10 Light";
    src:    url("../fonts/ec4ee560-36a4-4dd9-bcb9-525be4031d74.eot?#iefix");
    src:    url("../fonts/ec4ee560-36a4-4dd9-bcb9-525be4031d74.eot?#iefix") format("eot"), 
            url("../fonts/8803fb56-f951-4b03-ab7b-1b9727872785.woff2") format("woff2"), 
            url("../fonts/ecd6b4c8-31fa-442b-92a3-a4322c3df4fe.woff") format("woff"), 
            url("../fonts/a86f3ef5-cd77-4146-91c1-94131b23e843.ttf") format("truetype")
}
.icon16 {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../images/sprite-icon-hlxifd6ge.png);
    background-repeat: no-repeat
}
.icon16.remove {
    background-position: -208px -69px;
    width: 13px;
    height: 13px
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}
audio:not([controls]) {
    display: none;
    height: 0
}
[hidden],
template {
    display: none
}
a {
    background-color: transparent;
    color: #1fab6e
}
abbr[title] {
    border-bottom: 1px dotted
}
b,
optgroup,
strong {
    font-weight: 700
}
dfn {
    font-style: italic
}
h1 {
    margin: .67em 0
}
mark {
    background: #ff0;
    color: #000
}
small {
    font-size: 80%
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sup {
    top: -.5em
}
sub {
    bottom: -.25em
}
svg:not(:root) {
    overflow: hidden
}
figure {
    margin: 1em 40px
}
hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}
pre,
textarea {
    overflow: auto
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}
button {
    overflow: visible
}
button,
select {
    text-transform: none
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}
button[disabled],
html input[disabled] {
    cursor: default
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}
input {
    line-height: normal
}
input[type=checkbox],
input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}
fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}
table {
    border-spacing: 0
}
button:-moz-placeholder,
input:-moz-placeholder,
textarea:-moz-placeholder {
    opacity: 1;
    -webkit-transition: opacity .25s;
    -o-transition: opacity .25s;
    transition: opacity .25s
}
button::-moz-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    -webkit-transition: opacity .25s;
    -o-transition: opacity .25s;
    transition: opacity .25s
}
button:-ms-input-placeholder,
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    opacity: 1;
    -webkit-transition: opacity .25s;
    -o-transition: opacity .25s;
    transition: opacity .25s
}
button::-webkit-input-placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    opacity: 1;
    -webkit-transition: opacity .25s;
    -o-transition: opacity .25s;
    transition: opacity .25s
}
button:focus:-moz-placeholder,
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
    opacity: 0
}
button:focus::-moz-placeholder,
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    opacity: 0
}
button:focus:-ms-input-placeholder,
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
    opacity: 0
}
button:focus::-webkit-input-placeholder,
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    opacity: 0
}
a,
button,
input {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}
a:hover {
    text-decoration: underline
}
p {
    margin-top: 0;
    margin-bottom: 15px
}
.icon,
.socicon,
[class^=wa-auth-adapter-]>a {
    -webkit-transition: background 0s;
    -o-transition: background 0s;
    transition: background 0s
}
.browserupgrade {
    margin: .2em 0;
    background: #ccc;
    color: #000;
    padding: .2em 0
}
.article h2,
.subtitle {
    font-size: 16px
}
.content img {
    height: auto;
    max-width: 100%
}
span.loading {
    position: relative;
    top: 4px;
    left: 10px
}
a[href^=tel] {
    color: #272727;
    text-decoration: none
}
@media print {
    blockquote,
    img,
    pre,
    tr {
        page-break-inside: avoid
    }
    *,
    :after,
    :before {
        background: 0 0!important;
        color: #000!important;
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
        text-shadow: none!important
    }
    a,
    a:visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href) ")"
    }
    abbr[title]:after {
        content: " (" attr(title) ")"
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: ""
    }
    blockquote,
    pre {
        border: 1px solid #999
    }
    thead {
        display: table-header-group
    }
    img {
        max-width: 100%!important
    }
    h2,
    h3,
    p {
        orphans: 3;
        widows: 3
    }
    h2,
    h3 {
        page-break-after: avoid
    }
}
.block-section:after,
.row:after {
    display: table;
    content: '';
    clear: both
}
.offers--aside {
    margin-top: 21px
}
.offers--aside .block-title,
.offers--aside .category-title,
.offers--aside .title,
.offers--aside h1 {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase
}
.block-section+.block-section,
.block-section+.block-title {
    margin-top: 18px
}
@media screen and (min-width: 540px) and (min-width: 756px) and (max-width: 799px) {
    .row {
        margin-left: -9px
    }
}
@media screen and (min-width: 540px) and (min-width: 1024px) and (max-width: 1069px) {
    .row {
        margin-left: -9px
    }
}
@media screen and (min-width: 540px) and (min-width: 1280px) and (max-width: 1349px) {
    .row {
        margin-left: -9px
    }
}
.col {
    display: block
}
@media screen and (min-width: 540px) {
    .col {
        margin-left: 18px;
        float: left;
        width: 240px
    }
}
@media screen and (min-width: 540px) and (min-width: 756px) and (max-width: 799px) {
    .col {
        margin-left: 9px
    }
}
@media screen and (min-width: 540px) and (min-width: 1024px) and (max-width: 1069px) {
    .col {
        margin-left: 9px
    }
}
@media screen and (min-width: 540px) and (min-width: 1280px) and (max-width: 1349px) {
    .col {
        margin-left: 9px
    }
}
.box {
    margin-bottom: 9px
}
@media screen and (min-width: 540px) {
    .box {
        margin-bottom: 18px
    }
}
@media screen and (min-width: 800px) {
    .btn--edit-profile {
        float: right
    }
}
.breadcrumb {
    padding: 0;
    margin: -2px 0 16px;
    list-style: none
}
.breadcrumb__item {
    display: inline-block
}
.breadcrumb__item:not(:last-child):after,
.category .breadcrumb__item:last-child:after {
    display: inline;
    padding: 0 4px;
    content: '>'
}
.breadcrumb__link {
    font-size: 14px;
    color: #272727;
    text-decoration: none
}
.breadcrumb__link:hover:not(span) {
    color: #1fab6e;
    text-decoration: underline
}
.breadcrumb__link--current {
    font-weight: 500;
    color: #1fab6e
}
.page-cart .breadcrumb {
    margin-bottom: 11px
}
.btn,
.plugin_arrived-value input[type=submit],
.wa-submit input[type=submit] {
    display: inline-block;
    width: 100%;
    height: 36px;
    min-height: 36px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 300;
    color: #272727;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 36px;
    background: #f5f5f5;
    border: 1px solid #d9d8d6;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}
.btn--buy,
.btn--filter-toggle,
.btn--primary {
    border-color: #1fab6e
}
@media screen and (min-width: 540px) {
    .page-cart .breadcrumb {
        margin-bottom: 16px
    }
    .btn,
    .plugin_arrived-value input[type=submit],
    .wa-submit input[type=submit] {
        width: 240px
    }
}
.btn:hover,
.plugin_arrived-value input[type=submit]:hover,
.wa-submit input[type=submit]:hover {
    color: #fff;
    background: #1fab6e;
    border-color: #1fab6e;
    text-decoration: none
}
.btn--primary {
    font-weight: 500;
    color: #fff;
    background: #1fab6e
}
.btn--large {
    height: 38px;
    line-height: 38px
}
.btn--filter-toggle {
    width: 100%
}
.readon {
    color: #272727;
    text-decoration: none;
    text-transform: uppercase
}
.readon:hover {
    color: #1fab6e;
    text-decoration: underline
}
.form .wa-field,
.wa-form .wa-field {
    display: block;
    padding-top: 0
}
.form .field,
.form .wa-value,
.form-field,
.wa-auth-adapters,
.wa-form .field,
.wa-form .wa-value,
.wa-form-field {
    display: block;
    width: 100%;
    margin-bottom: 9px
}
@media screen and (min-width: 540px) {
    .form .field,
    .form .wa-value,
    .form-field,
    .wa-auth-adapters,
    .wa-form .field,
    .wa-form .wa-value,
    .wa-form-field {
        width: 240px;
        margin-bottom: 24px
    }
    .form-field--large,
    .wa-auth-adapters,
    .wa-form-field--large {
        width: 498px
    }
}
@media screen and (min-width: 1024px) and (max-width: 1070px) {
    .form-field--large,
    .wa-auth-adapters,
    .wa-form-field--large {
        width: 489px
    }
}
@media screen and (min-width: 1280px) and (max-width: 1350px) {
    .form-field--large,
    .wa-auth-adapters,
    .wa-form-field--large {
        width: 489px
    }
}
.form-field--full,
.wa-form-field--full {
    width: 100%
}
.inputbox--textarea,
textarea {
    width: 100%;
    height: 73px;
    max-width: 498px;
    padding: 6px 9px
}
select {
    border: 1px solid #d9d8d6;
    display: inline-block;
    width: 100%;
    height: 29px;
    padding: 4px 9px;
    font-size: 14px;
    color: #272727;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
.signup-note {
    margin-top: 13px
}
@media screen and (min-width: 540px) {
    select {
        width: 240px
    }
    .signup-note {
        margin-top: -5px
    }
}
.signup-note__title {
    margin: 0;
    font-size: 16px
}
.signup-note-list {
    padding: 7px 0 0;
    margin: 0;
    list-style: none
}
.signup-note-list__item {
    padding-bottom: 8px
}
@media screen and (min-width: 540px) {
    .signup-note-list {
        padding-top: 20px
    }
    .signup-note-list__item {
        padding-bottom: 20px
    }
}
.comment-form {
    margin-top: 23px
}
@media screen and (max-width: 539px) {
    .wa-signup-form .inputbox,
    .wa-signup-form input[type=text],
    .wa-signup-form input[type=email],
    .wa-signup-form input[type=password],
    .wa-signup-form textarea {
        max-width: none
    }
    .comment-form {
        margin-bottom: 9px
    }
    .col .wa-captcha {
        float: left;
        width: 120px
    }
}
.wa-captcha {
    display: block;
    padding: 0;
    margin: 0;
    text-align: center
}
.wa-captcha-img {
    display: block;
    width: 120px;
    height: 40px;
    margin: auto
}
.wa-captcha-img--tmp {
    background: url("../images/tmp-captcha.png") no-repeat
}
.wa-captcha-refresh {
    display: block;
    padding-top: 7px;
    color: #272727;
    text-decoration: none
}
.select,
.select option {
    padding: 2px 4px;
    font-weight: 300
}
.select {
    text-align: left;
    background: #f5f5f5
}
.company-phone--hidden {
    opacity: 0;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s
}
.logo-small {
    background: url(../images/sprite-icon-hlxifd6ge.png) -74px -93px no-repeat;
    width: 45px;
    height: 45px
}
.minicart--active.empty:not(:hover) {
    background: url(../images/sprite-icon-hlxifd6ge.png) -121px -93px no-repeat;
    width: 32px;
    height: 30px
}
.footer__right,
.load-more,
.row-link__count {
    text-align: center
}
.footer__logo,
.icon,
.row-link__count {
    vertical-align: middle
}
@media screen and (min-width: 1024px) {
    .subcategory {
        position: relative
    }
    .subcategory--2col {
        width: 480px;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2
    }
    .subcategory--3col {
        width: 720px;
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3
    }
    .subcategory--4col {
        width: 960px;
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4
    }
    .subcategory--5col {
        width: 1200px;
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5
    }
}
.menu-gutter {
    position: absolute;
    top: 0;
    display: block;
    width: 1px;
    height: 100%;
    background: #d9d8d6
}
.menu-gutter--2 {
    left: 239px
}
.menu-gutter--3 {
    left: 479px
}
.menu-gutter--4 {
    left: 719px
}
.menu-gutter--5 {
    left: 959px
}
.mobile-nav--open {
    max-height: 9999px;
    opacity: 1;
    overflow-y: auto
}
.mobile-nav-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 7;
    display: none;
    width: 100%;
    background: #fff
}
.link-position {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 20;
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc
}
.category-text {
    display: none;
    margin-top: 16px;
    line-height: 1.21
}
@media screen and (min-width: 1024px) {
    .category-text {
        display: block;
        margin-top: 2px
    }
}
.product .block-title,
h1 {
    font-weight: 700
}
.block-title__text,
.title__text,
h1 .page-title {
    display: inline-block;
    padding-right: 16px;
    color: #272727;
    background: #fff;
    text-decoration: none
}
.title--aside .block-title__text,
.title--aside .title__text,
.title--aside h1 .page-title,
h1 .title--aside .page-title {
    padding-right: 4px
}
.block-title {
    line-height: 1;
    text-transform: uppercase
}
.block-title:after {
    -webkit-transition: background .2s;
    -o-transition: background .2s;
    transition: background .2s
}
h1 {
    margin-top: 0
}
.product h1 {
    text-transform: none
}
.category h1 {
    margin-bottom: 11px
}
.category h1:after,
.product h1:after {
    display: none
}
@media screen and (max-width: 799px) {
    .category h1 {
        margin-bottom: 18px
    }
}
@media screen and (min-width: 1024px) {
    .category h1 {
        margin-top: -4px
    }
}
@media screen and (max-width: 539px) {
    .page-login h1 {
        margin-bottom: 15px
    }
}
.load-more,
.pages a,
.pages__link,
.pills a,
.pills__link {
    height: 36px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-decoration: none
}
.table td,
.table th {
    padding: 10px
}
.load-more-wrap {
    margin-top: 9px;
    margin-bottom: 18px
}
.load-more {
    color: #272727;
    display: block;
    width: 100%;
    line-height: 36px;
    box-sizing: border-box;
    background: #f5f5f5;
    border: 1px solid #d9d8d6;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    cursor: pointer
}
.load-more:hover {
    text-decoration: none
}
@media screen and (min-width: 1024px) {
    .load-more {
        margin-bottom: 25px
    }
}
.load-more:active,
.load-more:hover {
    color: #fff;
    background: #1fab6e;
    border-color: #1fab6e
}
.footer,
.user-row {
    border-top: 1px solid #d9d8d6
}
.table {
    display: table;
    margin-top: 18px;
    margin-bottom: 18px;
    line-height: 1.2
}
.table th {
    font-weight: 300;
    color: inherit;
    border-bottom: 0;
    background: #f5f5f5
}
.instock,
.prod__price-wrap,
.submenu2__link--current,
.submenu__link--current,
.submenu__link--second {
    font-weight: 500
}
.table-row {
    display: table-row
}
.table-cell {
    display: table-cell
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .table--services {
        width: 100%
    }
    .table--services td,
    .table--services th {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
    .table--services td:nth-child(2),
    .table--services td:nth-child(5),
    .table--services th:nth-child(2),
    .table--services th:nth-child(5) {
        width: 94px;
        white-space: nowrap
    }
    .table--services td:nth-child(3),
    .table--services td:nth-child(6),
    .table--services th:nth-child(3),
    .table--services th:nth-child(6) {
        width: 92px;
        white-space: nowrap
    }
}
.pages,
.pills {
    padding: 0 0 6px;
    margin: 0;
    list-style: none;
    font-size: 0.001px
}
.pages .mailer,
.pills .mailer {
    display: none
}
.pages li,
.pages__item,
.pills li,
.pills__item {
    display: inline-block;
    width: 50%;
    text-align: center
}
.pages li:nth-child(odd),
.pages__item:nth-child(odd),
.pills li:nth-child(odd),
.pills__item:nth-child(odd) {
    margin-right: -1px
}
.pages a,
.pages__link,
.pills a,
.pills__link {
    border: 1px solid #d9d8d6;
    display: block;
    margin-bottom: -1px;
    font-size: 14px;
    line-height: 36px;
    letter-spacing: normal;
    color: #272727;
    box-sizing: border-box
}
.row-link__count,
.user-row {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}
.pages a:hover,
.pages__link:hover,
.pills a:hover,
.pills__link:hover {
    text-decoration: none;
    color: #1fab6e
}
@media screen and (min-width: 800px) {
    .pages li,
    .pages__item,
    .pills li,
    .pills__item {
        width: auto;
        margin-right: -1px
    }
    .pages a,
    .pages__link,
    .pills a,
    .pills__link {
        padding: 0 41px
    }
}
.pages .selected a,
.pages__link--active,
.pills .selected a,
.pills__link--active {
    color: #fff;
    cursor: default;
    background: #1fab6e
}
.pages .selected a:hover,
.pages__link--active:hover,
.pills .selected a:hover,
.pills__link--active:hover {
    color: #fff
}
.user-row {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 48px;
    max-height: 0;
    overflow: hidden;
    line-height: 47px;
    background: #f5f5f5;
    border-bottom: 1px solid #d9d8d6;
    box-sizing: border-box;
    -webkit-transition: max-height .25s;
    -o-transition: max-height .25s;
    transition: max-height .25s
}
.user-row:after {
    display: table;
    content: '';
    clear: both
}
@media screen and (min-width: 1024px) {
    .user-row--open {
        max-height: 50px;
        overflow: visible
    }
    .user-row--open:before {
        position: absolute;
        top: -25px;
        left: 0;
        display: block;
        width: 100%;
        height: 24px;
        content: '';
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#fff));
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #fff);
        background: -o-linear-gradient(top, rgba(255, 255, 255, 0), #fff);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff)
    }
}
.user-row__account {
    float: left;
    width: 240px
}
.user-row__wishlist {
    float: left;
    width: 498px;
    margin-left: 18px
}
@media screen and (min-width: 756px) and (max-width: 799px) {
    .user-row__wishlist {
        margin-left: 9px
    }
}
@media screen and (min-width: 1024px) and (max-width: 1069px) {
    .user-row__wishlist {
        margin-left: 9px
    }
}
@media screen and (min-width: 1280px) and (max-width: 1349px) {
    .user-row__wishlist {
        margin-left: 9px
    }
}
.user-row__cart {
    float: right;
    width: 240px
}
.row-link,
.row-link:hover {
    text-decoration: none
}
.row-link__icon {
    position: relative;
    top: -1px;
    margin-right: 9px
}
.row-link__icon.icon--cart {
    position: relative;
    top: -3px;
    margin-right: 7px
}
.row-link__text {
    color: #272727
}
.row-cart .row-link__text {
    text-decoration: none
}
.row-link:hover .row-link__text {
    color: #1fab6e;
    text-decoration: none
}
.row-link--active:not(.row-cart) .row-link__text {
    font-weight: 500;
    color: #1fab6e
}
.row-link__count {
    position: relative;
    top: -1px;
    display: inline;
    padding: 3px 8px;
    margin-left: 9px;
    color: #272727;
    line-height: 1;
    background: #d8d8d6;
    border-radius: 50%;
    box-sizing: border-box
}
.row-link__count--cart {
    margin-right: 10px
}
.row-link--active .row-link__count {
    color: #fff;
    background: #1fab6e
}
.row-compare {
    margin-left: 22px
}
.row-cart__total {
    color: #272727
}
.user-menu__link {
    color: #272727;
    letter-spacing: normal;
    text-decoration: underline
}
.user-menu__link:hover {
    color: #1fab6e;
    text-decoration: none
}
@-webkit-keyframes counter-added {
    0% {
        background: #d8d8d6
    }
    100% {
        background: #1fab6e
    }
}
@-o-keyframes counter-added {
    0% {
        background: #d8d8d6
    }
    100% {
        background: #1fab6e
    }
}
@keyframes counter-added {
    0% {
        background: #d8d8d6
    }
    100% {
        background: #1fab6e
    }
}
.compare-count--added {
    -webkit-animation-name: counter-added;
    -o-animation-name: counter-added;
    animation-name: counter-added;
    -webkit-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s
}
.icon {
    display: inline-block;
    background-image: url(../images/sprite-icon-hlxifd6ge.png)
}
.product-aside__action .icon {
    margin-right: 5px
}
.icon--user {
    width: 26px;
    height: 26px;
    background-position: -149px -181px
}
a:hover .icon--user {
    background-position: -177px -181px
}
.icon--cart {
    width: 32px;
    height: 30px;
    background-position: -155px -93px
}
.icon--cart:hover,
.row-link--active .icon--cart,
a:hover .icon--cart {
    background-position: -121px -93px
}
.icon--compare {
    width: 26px;
    height: 26px;
    background-position: 0 -211px
}
.icon--compare.active,
.icon--compare.selected,
.icon--compare:hover,
.row-link--active .icon--compare,
a.selected .icon--compare,
a:hover .icon--compare {
    background-position: -205px -181px
}
.icon--wishlist {
    width: 26px;
    height: 26px;
    background-position: -93px -181px
}
.icon--dealers,
.icon--payment,
.icon--return,
.icon--warranty,
.icon--work {
    width: 22px;
    height: 22px
}
.icon--wishlist.active,
.icon--wishlist.selected,
.icon--wishlist:hover,
.row-link--active .icon--wishlist,
a.selected .icon--wishlist,
a:hover .icon--wishlist {
    background-position: -121px -181px
}
.icon--payment {
    background-position: -52px -211px
}
.icon--payment:hover {
    background-position: -160px -69px
}
.icon--warranty {
    background-position: -228px -136px
}
.icon--warranty:hover {
    background-position: -228px -112px
}
.icon--dealers {
    background-position: -148px -211px
}
.icon--dealers:hover {
    background-position: -124px -211px
}
.icon--return {
    background-position: -100px -211px
}
.icon--return:hover {
    background-position: -76px -211px
}
.icon--work {
    background-position: -28px -211px
}
.icon--work:hover {
    background-position: -184px -69px
}
.icons-wrap .icon {
    margin: 5px
}
.footer {
    height: 95px;
    padding: 2px 0 15px;
    margin-top: 24px;
    line-height: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
@media screen and (min-width: 1024px) {
    .footer {
        height: 80px;
        padding: 0;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box
    }
    .footer:after {
        display: table;
        content: '';
        clear: both
    }
    .user-row-opened .footer {
        padding-bottom: 48px
    }
}
.footer__left {
    display: none
}
@media screen and (min-width: 1024px) {
    .footer__left {
        display: table;
        height: 80px;
        float: left;
        vertical-align: middle
    }
    .footer__left:after {
        display: table;
        content: '';
        clear: both
    }
    .footer__right {
        display: table;
        height: 100%;
        float: right;
        text-align: right;
        vertical-align: middle
    }
    .footer__right:after {
        display: table;
        content: '';
        clear: both
    }
    .footer__right-in {
        padding-left: 18px;
        display: table-cell;
        width: 240px;
        text-align: right;
        vertical-align: middle
    }
    .footer__info {
        margin-top: -2px
    }
}
@media screen and (min-width: 1024px) and (min-width: 756px) and (max-width: 799px) {
    .footer__right-in {
        padding-left: 9px
    }
}
@media screen and (min-width: 1024px) and (min-width: 1024px) and (max-width: 1069px) {
    .footer__right-in {
        padding-left: 9px
    }
}
@media screen and (min-width: 1024px) and (min-width: 1280px) and (max-width: 1349px) {
    .footer__right-in {
        padding-left: 9px
    }
}
@media screen and (min-width: 1920px) {
    .footer__right-in {
        padding-left: 100px
    }
}
.footer__logo {
    display: table-cell;
    padding-right: 16px
}
.footer__logo-link {
    display: block;
    width: 45px;
    height: 45px;
    background: url("../images/logo_mini.png") 50% 50% no-repeat;
    -webkit-background-size: contain;
    background-size: contain
}
.footer__info,
.footer__phone {
    display: table-cell;
    vertical-align: middle
}
.footer__info {
    padding-right: 33px;
    line-height: 24px
}
.footer__phone {
    line-height: 1;
    font-size: 19px
}
.footer__menu {
    padding-top: 9px;
    padding-bottom: 6px;
    text-align: center
}
@media screen and (min-width: 1024px) {
    .footer__menu {
        padding-top: 1px;
        padding-bottom: 11px;
        text-align: right
    }
}
.footer__copyright {
    text-align: center
}
@media screen and (min-width: 1024px) {
    .footer__copyright {
        text-align: right
    }
}
.footer__social {
    padding-top: 7px;
    text-align: center
}
@media screen and (min-width: 1024px) {
    .footer__social {
        display: table-cell;
        padding-top: 0;
        text-align: left;
        vertical-align: middle
    }
}
@media screen and (min-width: 1280px) {
    .footer__social {
        width: 240px;
        text-align: center
    }
}
.socicons {
    width: 100%;
    letter-spacing: -4px
}
.socicons:after {
    display: table;
    content: '';
    clear: both
}
.socicons__item,
[class^=wa-auth-adapter-] {
    display: inline-block;
    margin-left: 8px;
    letter-spacing: normal
}
.socicons__item:first-child,
[class^=wa-auth-adapter-]:first-child {
    margin-left: 0
}
.socicon,
[class^=wa-auth-adapter-]>a {
    display: block;
    width: 29px;
    height: 28px;
    background-image: url(../images/sprite-icon-hlxifd6ge.png)
}
.socicon__facebook,
.socicon__fb,
.wa-auth-adapter-facebook a {
    background-position: -179px -145px
}
.socicon__facebook:hover,
.socicon__fb:hover,
.wa-auth-adapter-facebook a:hover {
    background-position: 0 -181px
}
.socicon__tw,
.socicon__twitter,
.wa-auth-adapter-twitter a {
    background-position: -31px -181px
}
.socicon__tw:hover,
.socicon__twitter:hover,
.wa-auth-adapter-twitter a:hover {
    background-position: -62px -181px
}
.socicon__inst {
    background-position: -86px -145px
}
.socicon__inst:hover {
    background-position: -55px -145px
}
.socicon__vk,
.socicon__vkontakte,
.wa-auth-adapter-google a,
.wa-auth-adapter-vkontakte a {
    background-position: -189px -93px
}
.socicon__vk:hover,
.socicon__vkontakte:hover,
.wa-auth-adapter-google a:hover,
.wa-auth-adapter-vkontakte a:hover {
    background-position: -24px -145px
}
.socicon__ok {
    background-position: -117px -145px
}
.socicon__ok:hover {
    background-position: -148px -145px
}
.wishlist .thumbs {
    padding-top: 0;
    padding-bottom: 6px
}
.article__images .thumbs {
    padding-top: 0;
    margin: 0 auto;
    float: none
}
.category .thumbs:first-of-type {
    padding-top: 0
}
@media screen and (max-width: 539px) {
    .related-products .thumbs {
        text-align: center
    }
}
@media screen and (min-width: 540px) {
    .article.post .prod:last-child {
        margin-bottom: 0
    }
    .submenu {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-width: 240px;
        -moz-column-width: 240px;
        column-width: 240px
    }
}
.wishlist .prod {
    margin-bottom: 9px
}
@media screen and (min-width: 1024px) {
    .wishlist .prod {
        margin-bottom: 18px
    }
}
.prod__link {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    color: #272727;
    text-decoration: none;
    border: 0
}
.checkbox_icon,
.filter-param__name,
.submenu2__item,
.submenu__item {
    vertical-align: top
}
.prod__info,
.prod__price-wrap {
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}
.prod__price-wrap {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: block;
    height: 27px;
    padding: 0 5px;
    line-height: 27px;
    box-sizing: border-box
}
.prod__price-wrap:after {
    display: table;
    content: '';
    clear: both
}
.pagination,
.prod__name {
    display: block;
    text-align: center
}
.prod__price-wrap:not(.prod--offer) {
    text-align: center
}
.prod--offer .prod__price-wrap {
    top: 5px;
    right: 5px;
    left: 5px;
    color: #272727;
    background: rgba(245, 245, 245, .8)
}
.prod__discount {
    float: left;
    padding-left: 5px;
    text-decoration: line-through
}
.filters .filters-reset,
.page-link,
.page-link:hover,
.pagination a,
.pagination a:hover,
.popup__link,
.popup__link:hover,
.product-aside__action,
.rate,
.review__product-link,
.review__product-link:hover,
.reviews__more-link,
.reviews__more-link:hover,
.sort a,
.submenu2__link,
.submenu2__link--child,
.submenu2__link--child:hover,
.submenu2__link:hover,
.submenu__link,
.submenu__link--child,
.submenu__link--child:hover,
.submenu__link--current:hover,
.submenu__link:hover,
.tab__link,
.tab__link:hover {
    text-decoration: none
}
.prod__discount-percent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center
}
.prod__bottom,
.prod__info {
    bottom: 5px;
    left: 5px;
    right: 5px
}
.prod__price {
    float: right;
    padding-right: 5px;
    color: #1fab6e
}
.pagination,
.submenu {
    padding: 0;
    list-style: none
}
.prod__info,
.prod__name {
    color: #272727;
    position: absolute
}
.prod__info {
    top: 100%;
    max-height: 0;
    box-sizing: border-box;
    background: rgba(245, 245, 245, .8);
    overflow: hidden;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: top .3s ease-in-out, max-height .3s ease-in-out;
    -o-transition: top .3s ease-in-out, max-height .3s ease-in-out;
    transition: top .3s ease-in-out, max-height .3s ease-in-out
}
.category__filter,
.page-link,
.pagination a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}
.prod.active .prod__info,
.prod.hover .prod__info,
.prod:active .prod__info,
.prod:hover .prod__info {
    top: 5px;
    max-height: 227px
}
.page-main .prod.active .prod__info,
.page-main .prod.hover .prod__info,
.page-main .prod:active .prod__info,
.page-main .prod:hover .prod__info {
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s
}
.prod--offer.active .prod__info,
.prod--offer.hover .prod__info,
.prod--offer:active .prod__info,
.prod--offer:hover .prod__info {
    top: 32px;
    max-height: 200px
}
.page-main .prod--offer.active .prod__info,
.page-main .prod--offer.hover .prod__info,
.page-main .prod--offer:active .prod__info,
.page-main .prod--offer:hover .prod__info {
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s
}
.prod__name {
    top: 50%;
    width: 100%;
    font-size: 16px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}
.instock,
.prod__link:hover .prod__name {
    color: #1fab6e
}
.prod--offer .prod__name {
    margin-top: -13px
}
.prod__bottom {
    position: absolute;
    height: 26px
}
.prod__instock {
    position: absolute;
    bottom: -3px;
    line-height: 1
}
.prod__actions {
    position: absolute;
    right: 5px;
    bottom: 5px
}
.prod__actions .icon {
    margin-left: 5px
}
.instock--none {
    color: #000
}
.pagination {
    margin: 0
}
.pagination-wrap {
    font-size: 0.001px;
    letter-spacing: -4px
}
.pagination li,
.pagination__item {
    display: inline-block;
    letter-spacing: normal;
    text-align: center
}
.pagination li:first-child,
.pagination__item:first-child {
    margin-left: -1px
}
.page-link,
.pagination a {
    color: #272727;
    display: block;
    width: 34px;
    height: 37px;
    margin-right: -1px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 37px;
    border: 1px solid #d9d8d6
}
.category:after,
.category__products:after {
    display: table;
    clear: both;
    content: ''
}
.page-link:hover,
.pagination a:hover {
    background: #1fab6e;
    color: #fff
}
.page-link--active,
.pagination .page-link--active,
.pagination .pagination a--active,
.pagination .selected a,
.pagination a--active {
    background: #1fab6e;
    color: #fff;
    cursor: default
}
.category__submenu-wrap {
    margin-top: -2px;
    margin-bottom: 18px
}
@media screen and (min-width: 1024px) {
    .category__products--w-filter {
        width: 489px;
        float: left
    }
}
@media screen and (min-width: 1070px) {
    .category__products--w-filter {
        width: 498px
    }
}
@media screen and (min-width: 1280px) {
    .category__products--w-filter {
        width: 738px
    }
}
@media screen and (min-width: 1350px) {
    .category__products--w-filter {
        width: 756px
    }
}
@media screen and (min-width: 1590px) {
    .category__products--w-filter {
        width: 1014px
    }
}
@media screen and (min-width: 1830px) {
    .category__products--w-filter {
        width: 1272px
    }
}
.category__filter {
    display: none;
    width: 240px;
    box-sizing: border-box
}
.checkbox_icon,
.filters {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}
@media screen and (min-width: 1024px) {
    .category__filter {
        float: right;
        display: block
    }
}
.product-search__head {
    margin-bottom: 20px
}
.category-submenu {
    display: none
}
.category-submenu--mobile {
    display: block;
    margin-top: 18px;
    margin-bottom: 0
}
@media screen and (min-width: 800px) {
    .category-submenu {
        display: block
    }
    .category-submenu--mobile {
        display: none
    }
}
.extra.hidden {
    display: none
}
.prod.extra {
    margin-left: 0
}
.prod.extra p:last-child {
    margin-bottom: 0
}
.submenu {
    margin: 0 0 0 -18px;
    font-size: 0.001px;
    letter-spacing: -4px
}
.submenu:after {
    display: table;
    content: '';
    clear: both
}
@media screen and (min-width: 756px) and (max-width: 799px) {
    .submenu {
        margin-left: -9px
    }
}
@media screen and (min-width: 1024px) and (max-width: 1069px) {
    .submenu {
        margin-left: -9px
    }
}
@media screen and (min-width: 1280px) and (max-width: 1349px) {
    .submenu {
        margin-left: -9px
    }
}
@media screen and (min-width: 800px) {
    .submenu {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3
    }
}
@media screen and (min-width: 1024px) {
    .submenu {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4
    }
}
@media screen and (min-width: 1280px) {
    .submenu {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5
    }
}
@media screen and (min-width: 1590px) {
    .submenu {
        -webkit-column-count: 6;
        -moz-column-count: 6;
        column-count: 6
    }
}
.submenu__in {
    padding: 0 0 4px;
    margin: 0;
    list-style: none;
    display: block
}
.submenu__item {
    margin-left: 18px;
    display: block;
    width: 240px;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: normal;
    overflow: hidden
}
@media screen and (min-width: 756px) and (max-width: 799px) {
    .submenu__item {
        margin-left: 9px
    }
}
@media screen and (min-width: 1024px) and (max-width: 1069px) {
    .submenu__item {
        margin-left: 9px
    }
}
@media screen and (min-width: 1280px) and (max-width: 1349px) {
    .submenu__item {
        margin-left: 9px
    }
}
.submenu__item--child {
    width: 100%;
    margin-left: 0;
    text-transform: none
}
.submenu__link {
    color: #272727;
    display: block
}
.submenu__link:hover {
    color: #1fab6e
}
.submenu__link:before {
    position: relative;
    top: 0;
    padding-right: 8px;
    font-size: 15px;
    content: '\003E'
}
.submenu__link--child:before,
.submenu__link--third:before {
    position: relative;
    top: -2px;
    content: '\25CF'
}
.submenu__link--child {
    padding-left: 27px
}
.submenu__link--child:before {
    font-size: 10px
}
.submenu__link--third:before {
    font-size: 12px
}
.submenu__link--current {
    color: #1fab6e
}
.submenu2 {
    padding: 0;
    margin: 0 0 0 -18px;
    list-style: none;
    font-size: 0.001px;
    letter-spacing: -4px
}
.submenu2:after {
    display: table;
    content: '';
    clear: both
}
@media screen and (min-width: 756px) and (max-width: 799px) {
    .submenu2 {
        margin-left: -9px
    }
}
@media screen and (min-width: 1024px) and (max-width: 1069px) {
    .submenu2 {
        margin-left: -9px
    }
}
@media screen and (min-width: 1280px) and (max-width: 1349px) {
    .submenu2 {
        margin-left: -9px
    }
}
@media screen and (min-width: 540px) {
    .submenu2 {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-width: 240px;
        -moz-column-width: 240px;
        column-width: 240px
    }
}
@media screen and (min-width: 756px) {
    .submenu2 {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3
    }
}
@media screen and (min-width: 1024px) {
    .submenu2 {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4
    }
}
@media screen and (min-width: 1280px) {
    .submenu2 {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5
    }
}
@media screen and (min-width: 1590px) {
    .submenu2 {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5
    }
}
.submenu2__item {
    margin-left: 18px;
    display: inline-block;
    width: 240px;
    font-size: 14px;
    letter-spacing: normal
}
@media screen and (min-width: 756px) and (max-width: 799px) {
    .submenu2__item {
        margin-left: 9px
    }
}
@media screen and (min-width: 1024px) and (max-width: 1069px) {
    .submenu2__item {
        margin-left: 9px
    }
}
@media screen and (min-width: 1280px) and (max-width: 1349px) {
    .submenu2__item {
        margin-left: 9px
    }
}
.submenu2__item--child {
    width: 100%;
    margin-left: 0;
    text-transform: none
}
.answers__title,
.article__title,
.cart__total,
.ct__label--total,
.errors__title,
.filter-param__title,
.filters .filters-reset,
.product-aside__price-wrap,
.product__old-price,
.reviews__more-link,
.sorting__title,
.wa-signup-form .wa-submit a {
    text-transform: uppercase
}
.submenu2__item--parent~.submenu2__item--child {
    margin-left: 18px
}
@media screen and (min-width: 756px) and (max-width: 799px) {
    .submenu2__item--parent~.submenu2__item--child {
        margin-left: 9px
    }
}
@media screen and (min-width: 1024px) and (max-width: 1069px) {
    .submenu2__item--parent~.submenu2__item--child {
        margin-left: 9px
    }
}
@media screen and (min-width: 1280px) and (max-width: 1349px) {
    .submenu2__item--parent~.submenu2__item--child {
        margin-left: 9px
    }
}
.submenu2__item--parent~.submenu2__item--child>.submenu2__item__link {
    padding-left: 20px
}
.submenu2__item--parent~.submenu2__item--child>.submenu2__item__link:before {
    left: 0
}
.submenu2__item--parent>.submenu2__link--third {
    padding-left: 15px
}
.submenu2__item--parent>.submenu2__link--third:before {
    position: absolute;
    top: 13px;
    left: 0;
    font-size: 10px
}
.submenu2__link {
    color: #272727;
    position: relative;
    display: block;
    padding-top: 12px;
    padding-left: 20px;
    line-height: 1.3
}
.filters .filter-arrow:hover:before,
.filters .filters-reset:hover,
.filters .label_checked,
.submenu2__link--current,
.submenu2__link:before,
.submenu2__link:hover {
    color: #1fab6e
}
.submenu2__link:before {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 15px;
    content: '\003E'
}
.submenu2__link--child {
    padding-left: 44px
}
.submenu2__link--child:before {
    top: 18px;
    left: 29px;
    display: block;
    width: 4px;
    height: 4px;
    background: url("../images/circle__hover.svg") 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    content: ''
}
.filter-mobile__wrap .filters,
.filters {
    width: 100%
}
.submenu2__link--third:before {
    position: relative;
    top: -2px;
    font-size: 12px;
    content: '\25CF'
}
.submenu2__link--current:hover {
    text-decoration: none
}
.filter-mobile {
    margin-bottom: 19px
}
@media screen and (min-width: 1024px) {
    .filter-mobile {
        display: none
    }
}
@media screen and (max-width: 799px) {
    .filter-mobile__wrap {
        display: block;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition: max-height .5s ease-in-out, opacity .4s;
        -o-transition: max-height .5s ease-in-out, opacity .4s;
        transition: max-height .5s ease-in-out, opacity .4s
    }
    .filter-mobile__wrap.is-shown {
        max-height: 9999px;
        overflow: visible;
        opacity: 1
    }
}
.filters {
    margin-bottom: 24px;
    border-right: 1px solid #d9d8d6;
    border-left: 1px solid #d9d8d6;
    box-sizing: border-box
}
@media screen and (min-width: 800px) {
    .filters {
        width: 240px;
        margin-bottom: 10px;
        border-top: 1px solid #d9d8d6
    }
}
.filters .btn,
.filters .plugin_arrived-value input[type=submit],
.filters .wa-submit input[type=submit],
.plugin_arrived-value .filters input[type=submit],
.wa-submit .filters input[type=submit] {
    width: 100%
}
.filters .apply {
    margin-top: 6px
}
.filters .filter-arrow {
    position: absolute;
    top: 3px;
    left: 0;
    display: block;
    width: 12px;
    margin: 0;
    background: 0 0!important;
    line-height: 1;
    cursor: pointer;
    text-indent: 0
}
.filters .filter-arrow:before {
    position: relative;
    display: block;
    font-size: 14px;
    font-style: normal;
    content: 'V';
    line-height: 1;
    text-align: center;
    color: #1fab6e;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: -webkit-transform .2s;
    -o-transition: -o-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s, -o-transform .2s
}
.filters .filters-reset {
    position: relative;
    top: 2px;
    display: inline-block;
    padding-bottom: 0;
    line-height: 1
}
.filters .slider {
    margin-bottom: -3px
}
.filters .slider a {
    margin-bottom: 0
}
.filters .filter-slider {
    margin-bottom: 11px!important
}
.filters .filter-slider .ui-slider-handle {
    height: 16px!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important
}
.filters .filter-slider.ui-widget.ui-widget-content {
    background: #272727
}
.filters .filter-slider .ui-widget-header {
    background: #1fab6e!important
}
.collapsed .filter-arrow:before {
    color: inherit;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0)
}
.collapsed label {
    display: block!important
}
.filter-param {
    padding: 12px 17px 17px;
    border-bottom: 1px solid #d9d8d6
}
.filter-param__label,
.filter-param__title {
    position: relative;
    padding-left: 20px;
    cursor: pointer
}
.filter-param.collapsed {
    padding-bottom: 12px
}
.filter-param__title {
    padding-bottom: 14px;
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    -webkit-transition: padding-bottom .3s;
    -o-transition: padding-bottom .3s;
    transition: padding-bottom .3s
}
.collapsed .filter-param__title {
    padding-bottom: 0;
    margin-bottom: -2px
}
.filter-param__block {
    max-height: 9999px;
    overflow: visible;
    opacity: 1;
    -webkit-transition: max-height .3s ease-in-out, opacity .2s;
    -o-transition: max-height .3s ease-in-out, opacity .2s;
    transition: max-height .3s ease-in-out, opacity .2s
}
.collapsed .filter-param__block {
    max-height: 0;
    overflow: hidden;
    opacity: 0
}
.filter-param__block.opened .btn,
.filter-param__block.opened .plugin_arrived-value input[type=submit],
.filter-param__block.opened .wa-submit input[type=submit],
.plugin_arrived-value .filter-param__block.opened input[type=submit],
.wa-submit .filter-param__block.opened input[type=submit] {
    border-color: #1fab6e
}
.filter-param .fiwex-feat {
    cursor: pointer
}
.filter-param span,
.filter-param__name {
    line-height: 1
}
.filter-param__label {
    display: block;
    margin-bottom: 16px
}
.filter-param__label:hover {
    color: #1fab6e
}
.filter-param__label:last-of-type,
.filter-param__label:nth-child(5) {
    margin-bottom: 0
}
.filter-param__label+.btn,
.plugin_arrived-value .filter-param__label+input[type=submit],
.wa-submit .filter-param__label+input[type=submit] {
    margin-top: 18px
}
.collapsed .filter-param__label:nth-child(5),
.opened .filter-param__label:nth-child(5) {
    margin-bottom: 16px
}
.collapsed .filter-param__label:last-of-type,
.opened .filter-param__label:last-of-type {
    margin-bottom: 0
}
.filter-param input[type=checkbox] {
    display: none
}
.checkbox_icon {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: block;
    width: 14px;
    height: 14px;
    border: 1px solid #d8d8d6;
    cursor: pointer
}
.feature__name,
.tab__item {
    -moz-box-sizing: border-box
}
.feature__col,
.plugin_arrived-loading,
.rating__label,
.sort__item,
.tab__link:before {
    vertical-align: middle
}
.label_checked .checkbox_icon {
    background: url(../images/sprite-icon-hlxifd6ge.png) -121px -125px no-repeat
}
#filters-count {
    padding: 15px 26px!important;
    font-size: 15px;
    font-weight: 700
}
.sorting {
    margin-bottom: 21px;
    text-align: center
}
.sorting__title {
    margin: 0 0 8px;
    font-size: 16px;
    font-weight: 700
}
.sorting--mobile {
    margin-top: 21px;
    margin-bottom: 18px
}
.sort {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0.001px;
    letter-spacing: -4px
}
.sort a {
    color: #272727;
    padding: 2px 3px;
    font-size: 14px
}
.product__price--new,
.sort a:hover,
.sort__item--active a {
    color: #1fab6e
}
.sort a:hover {
    text-decoration: underline
}
.sort__item {
    display: inline-block;
    padding-right: 4px;
    font-size: 13px;
    letter-spacing: normal
}
.sort__item:last-child {
    padding-right: 0
}
.sort [class^=sort-] {
    position: relative;
    top: -1px;
    display: inline-block;
    margin: 0 2px 0 0
}
.product__features:after,
.product__top:after {
    display: table;
    clear: both;
    content: ''
}
.product__top {
    margin-bottom: 9px
}
@media screen and (min-width: 540px) {
    .product__top {
        margin-bottom: 24px
    }
    .product__top-slider {
        float: left
    }
}
.product__top-slider {
    width: 240px;
    margin: auto
}
@media screen and (min-width: 756px) and (max-width: 799px) {
    .product__top-slider {
        width: 738px;
        float: none
    }
}
@media screen and (min-width: 800px) and (max-width: 1279px) {
    .product__top-slider {
        width: 756px;
        loat: none
    }
}
@media screen and (min-width: 1024px) and (max-width: 1069px) {
    .product__top-slider {
        width: 738px;
        loat: none
    }
}
.product__production {
    margin-bottom: 19px
}
@media screen and (min-width: 1280px) {
    .product__features {
        margin-left: 18px
    }
}
@media screen and (min-width: 1280px) and (min-width: 756px) and (max-width: 799px) {
    .product__features {
        margin-left: 9px
    }
}
@media screen and (min-width: 1280px) and (min-width: 1024px) and (max-width: 1069px) {
    .product__features {
        margin-left: 9px
    }
}
@media screen and (min-width: 1280px) and (min-width: 1280px) and (max-width: 1349px) {
    .product__features {
        margin-left: 9px
    }
}
.product__aside {
    display: block;
    margin: 22px auto 0;
    width: 240px
}
@media screen and (min-width: 756px) {
    .product__aside {
        margin-top: 0;
        margin-bottom: 24px;
        float: right
    }
}
.product__description {
    line-height: 1.6
}
.product__description>.block-title,
.product__description>.category-title,
.product__description>.title,
.product__description>h1 {
    margin-bottom: 17px
}
.product__price {
    display: inline-block
}
.product__old-price {
    display: block;
    margin-bottom: 8px;
    line-height: 1
}
.product__oldprice-value {
    text-decoration: line-through
}
.product__description+.related-products {
    margin-top: 13px
}
@media screen and (max-width: 799px) and (min-width: 756px) {
    .related-products {
        padding-bottom: 9px
    }
}
@media screen and (max-width: 1069px) and (min-width: 1024px) {
    .related-products {
        padding-bottom: 9px
    }
}
.related-products .thumbs {
    padding-top: 0
}
@media screen and (max-width: 539px) {
    .related-products .thumbs {
        display: inline-block
    }
    .feature {
        width: 100%
    }
}
.related-products .block-title {
    text-align: center
}
.related-products .block-title__text {
    padding-left: 16px
}
.related-products .block-title:after {
    left: 0
}
.features {
    display: block;
    clear: left
}
.feature,
.feature:after {
    display: table
}
.features:before {
    display: table;
    content: ''
}
@media screen and (min-width: 756px) {
    .features {
        float: left;
        clear: none
    }
}
.feature:after,
.product-aside__size:after {
    content: '';
    clear: both
}
@media screen and (min-width: 1280px) {
    .features {
        margin-top: -9px
    }
}
.feature {
    margin: 0;
    line-height: 1.6;
    background: #fff;
    -webkit-transition: background .3s;
    -o-transition: background .3s;
    transition: background .3s
}
.feature:hover,
.tab__content-wrap,
.tab__link {
    background: #f5f5f5
}
.feature__col {
    display: table-cell;
    width: 50%
}
@media screen and (min-width: 540px) {
    .feature {
        padding: 6px 0 5px
    }
    .feature__col {
        width: 240px
    }
    .feature__value {
        margin-left: 18px
    }
}
@media screen and (min-width: 1830px) {
    .submenu2 {
        -webkit-column-count: 6;
        -moz-column-count: 6;
        column-count: 6
    }
    .feature__col {
        width: 498px
    }
}
.feature__name {
    color: #272727;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s
}
@media screen and (max-width: 539px) {
    .feature__name {
        padding: 8px 5px 8px 0;
        line-height: 18px
    }
}
@media screen and (min-width: 800px) {
    .feature__name {
        padding-left: 10px;
        padding-right: 10px
    }
}
@media screen and (min-width: 1590px) and (max-width: 1830px) {
    .feature__name {
        width: 498px
    }
}
.feature:hover .feature__name {
    color: #1fab6e
}
@media screen and (max-width: 539px) {
    .feature__value {
        padding: 8px 0;
        line-height: 18px
    }
}
@media screen and (min-width: 540px) and (min-width: 756px) and (max-width: 799px) {
    .feature__value {
        margin-left: 9px
    }
}
@media screen and (min-width: 540px) and (min-width: 1024px) and (max-width: 1069px) {
    .feature__value {
        margin-left: 9px
    }
}
@media screen and (min-width: 540px) and (min-width: 1280px) and (max-width: 1349px) {
    .feature__value {
        margin-left: 9px
    }
}
.feature .featurestips_wrapper {
    margin-top: 0;
    font-size: 0.001px;
    line-height: 1;
    vertical-align: middle
}
.feature .featurestips_wrapper .featurestips_icon img {
    width: 13px!important;
    height: 13px!important;
    padding-bottom: 1px;
    opacity: 1!important
}
.tab__content-wrap,
.tab__item {
    width: 240px;
    -webkit-box-sizing: border-box
}
.feature .featurestips_wrapper .featurestips_view .tip_view_in {
    color: #272727!important
}
.feature .featurestips_view {
    font-size: 14px;
    font-weight: 300
}
.feature .featurestips_view p:last-child {
    margin-bottom: 0
}
.tabs {
    margin-left: -18px
}
@media screen and (max-width: 539px) {
    .tabs {
        width: 240px;
        margin: 0 auto 9px
    }
}
@media screen and (min-width: 1024px) and (max-width: 1070px) {
    .tabs {
        margin-left: -9px
    }
}
@media screen and (min-width: 1280px) and (max-width: 1350px) {
    .tabs {
        margin-left: -9px
    }
}
.tab {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0.001px;
    letter-spacing: -4px
}
.tab__item {
    position: relative;
    display: inline-block;
    height: 36px;
    margin-bottom: 9px;
    letter-spacing: normal;
    box-sizing: border-box
}
@media screen and (min-width: 540px) {
    .tab__item {
        margin-bottom: 24px;
        margin-left: 18px
    }
    .carousel-wrap {
        float: left
    }
}
@media screen and (min-width: 756px) and (max-width: 799px) {
    .tab__item {
        margin-left: 9px
    }
}
@media screen and (min-width: 1024px) and (max-width: 1069px) {
    .tab__item {
        margin-left: 9px
    }
}
@media screen and (min-width: 1280px) and (max-width: 1349px) {
    .tab__item {
        margin-left: 9px
    }
}
.tab__content-wrap {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 3;
    max-height: 0;
    margin-top: -1px;
    border: 1px solid #d9d8d6;
    border-top-width: 0;
    border-bottom-width: 0;
    opacity: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    -webkit-transition: max-height .5s, opacity .1s;
    -o-transition: max-height .5s, opacity .1s;
    transition: max-height .5s, opacity .1s
}
.review__name,
.tab__link {
    -webkit-box-sizing: border-box
}
.active+.tab__content-wrap {
    max-height: 999px;
    border-bottom-width: 1px;
    opacity: 1;
    overflow: visible
}
.tab__content {
    padding: 12px 14px 8px;
    font-size: 14px;
    line-height: 1.26
}
.tab__readon {
    display: block;
    text-align: right
}
.tab__link {
    position: relative;
    display: block;
    width: 100%;
    height: 36px;
    padding-left: 7px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 300;
    color: #272727;
    line-height: 36px;
    border: 1px solid #d9d8d6
}
.carousel-wrap,
.rate {
    font-size: 0.001px;
    letter-spacing: -4px
}
.tab__link:before {
    position: relative;
    top: -1px;
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 6px;
    content: '';
    background-image: url(../images/sprite-icon-hlxifd6ge.png)
}
.tab__link:after {
    position: absolute;
    top: 14px;
    right: 13px;
    display: inline-block;
    background: url(../images/sprite-icon-hlxifd6ge.png) -135px -125px no-repeat;
    width: 15px;
    height: 9px;
    content: ''
}
.tab__link.active:after {
    background: url(../images/sprite-icon-hlxifd6ge.png) -152px -125px no-repeat
}
.tab__link.active:hover:after {
    background: url(../images/sprite-icon-hlxifd6ge.png) -169px -125px no-repeat
}
.tab__link:hover {
    color: #1fab6e
}
.tab__link:hover:after {
    background-position: -186px -125px
}
.tab__link--work:before {
    background-position: -28px -211px
}
.tab__link--work:hover:before {
    background-position: -184px -69px
}
.tab__link--payment:before {
    top: -2px;
    background-position: -52px -211px
}
.tab__link--payment:hover:before {
    background-position: -160px -69px
}
.tab__link--warranty:before {
    background-position: -228px -136px
}
.tab__link--warranty:hover:before {
    background-position: -228px -112px
}
.tab__link--install:before {
    background-position: -136px -69px
}
.tab__link--install:hover:before {
    background-position: -172px -211px
}
.tab__link--dealers:before {
    background-position: -148px -211px
}
.tab__link--dealers:hover:before {
    background-position: -124px -211px
}
.tab__link--return:before {
    background-position: -100px -211px
}
.tab__link--return:hover:before {
    background-position: -76px -211px
}
.bx-wrapper {
    margin-left: 0!important
}
.carousel-wrap {
    position: relative;
    width: 100%;
    max-height: 441px;
    margin: 0 auto 24px;
    overflow: hidden
}
@media screen and (min-width: 1024px) and (max-width: 1069px) {
    .carousel-wrap {
        height: 135px
    }
}
.carousel {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden
}
@media screen and (min-width: 800px) and (max-width: 1279px) {
    .carousel-wrap {
        height: 135px
    }
    .carousel {
        white-space: nowrap
    }
}
.carousel-wrap--full {
    height: 441px
}
.carousel__item {
    display: inline-block;
    width: 240px;
    margin-bottom: 18px
}
@media screen and (min-width: 800px) and (max-width: 1279px) {
    .carousel__item {
        margin-right: 18px;
        margin-bottom: 0
    }
}
@media screen and (min-width: 1024px) and (max-width: 1069px) {
    .carousel__item {
        margin-right: 9px
    }
}
.pager-arrow {
    position: absolute;
    right: 0;
    left: 0;
    display: block;
    height: 26px
}
@media screen and (min-width: 800px) and (max-width: 1279px) {
    .pager-arrow {
        bottom: 0;
        width: 26px;
        height: auto
    }
}
.pager-arrow .bx-next,
.pager-arrow .bx-prev {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-indent: 100%;
    background: rgba(191, 193, 191, .8)
}
.pager-arrow .bx-next:before,
.pager-arrow .bx-prev:before {
    background: url(../images/sprite-icon-hlxifd6ge.png) -24px -69px no-repeat;
    width: 110px;
    height: 22px;
    position: absolute;
    left: 50%;
    display: block;
    margin-left: -55px;
    content: '';
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: .5
}
@media screen and (min-width: 800px) and (max-width: 1279px) {
    .pager-arrow .bx-next:before,
    .pager-arrow .bx-prev:before {
        background: url(../images/sprite-icon-hlxifd6ge.png) 0 -69px no-repeat;
        width: 22px;
        height: 110px;
        top: 50%;
        margin-top: -55px;
        margin-left: 0
    }
}
.pager-arrow .bx-next:hover:before,
.pager-arrow .bx-prev:hover:before {
    opacity: 1
}
.pager-arrow .bx-next.disabled,
.pager-arrow .bx-prev.disabled {
    display: none
}
.pager-arrow--prev {
    top: 0;
    border: 5px solid #d9d8d6;
    border-bottom-width: 0
}
.pager-arrow--prev .bx-prev:not(.disabled):before {
    top: 0
}
@media screen and (min-width: 800px) and (max-width: 1279px) {
    .pager-arrow--prev {
        border-right-width: 0;
        border-bottom-width: 5px
    }
    .pager-arrow--prev .bx-prev:not(.disabled):before {
        top: 50%;
        right: auto;
        left: 0
    }
}
.pager-arrow--prev .bx-prev:not(.disabled):hover:before {
    top: -3px
}
.pager-arrow--next {
    bottom: 0;
    border: 5px solid #d9d8d6;
    border-top-width: 0
}
.pager-arrow--next .bx-next:not(.disabled):before {
    background-position: -112px -43px;
    bottom: 0
}
.pager-arrow--next .bx-next:not(.disabled):hover:before {
    bottom: -3px
}
@media screen and (min-width: 800px) and (max-width: 1279px) {
    .pager-arrow--prev .bx-prev:not(.disabled):hover:before {
        top: 50%;
        left: -3px
    }
    .pager-arrow--next {
        top: 0;
        right: 0;
        left: auto;
        border-top-width: 5px;
        border-left-width: 0
    }
    .pager-arrow--next .bx-next:not(.disabled) {
        right: 0
    }
    .pager-arrow--next .bx-next:not(.disabled):before {
        background-position: -228px 0;
        right: 0;
        left: auto
    }
    .pager-arrow--next .bx-next:not(.disabled):hover:before {
        top: 50%;
        right: -3px
    }
}
.bx-wrapper {
    position: relative
}
.rating__label {
    display: inline-block;
    padding-right: 15px
}
.rate,
.rating__stars,
.star,
.star-empty,
.star-hover {
    display: inline-block;
    height: 15px;
    vertical-align: top
}
.rate {
    padding: 0
}
.star,
.star-empty,
.star-hover {
    width: 16px;
    margin-right: 3px;
    background-image: url("../images/stars.png");
    background-repeat: no-repeat;
    -webkit-background-size: 16px 45px;
    background-size: 16px 45px
}
.star {
    background-position: 0 -15px
}
.star-empty {
    background-position: 0 0
}
.star-hover {
    background-position: 0 -30px
}
.product-aside {
    font-weight: 500
}
.product-aside__size:after {
    display: table
}
.product-aside__size-value {
    float: right;
    display: block;
    padding-top: 5px
}
.product-aside option,
.product-aside select {
    font-weight: 300
}
.product-aside__price-wrap {
    margin-bottom: 4px;
    font-weight: 700;
    line-height: 24px;
    text-align: center
}
.product-aside__stock {
    margin-bottom: 23px
}
.product-aside__actions {
    text-align: center
}
.product-aside__action {
    display: inline-block;
    font-weight: 300;
    color: #272727
}
.product-aside__action+.product-aside__action {
    margin-left: 18px
}
.product-aside__action:hover {
    color: #1fab6e
}
.product-aside__action.compare-add {
    display: none
}
@media screen and (min-width: 800px) {
    .product-aside__actions {
        text-align: left
    }
    .product-aside__action.compare-add {
        display: inline-block
    }
}
@media screen and (max-width: 1024px) {
    .product-aside__action.compare {
        display: none
    }
}
.review:after,
.stock:after {
    display: table;
    content: '';
    clear: both
}
.stock {
    margin: 0;
    line-height: 35px
}
.stock:last-child {
    border-bottom: 0
}
.stock__name {
    float: left;
    font-weight: 700
}
.stock__value {
    margin: 0;
    float: right;
    font-weight: 700
}
.reviews {
    padding: 0;
    margin: 0;
    list-style: none
}
.review__avatar,
.review__avatar-wrap {
    display: block;
    width: 48px;
    height: 48px
}
.review+.review {
    margin-top: 18px
}
@media screen and (min-width: 1024px) {
    .review+.review {
        margin-top: 24px
    }
}
.review__avatar-wrap {
    float: left;
    padding-right: 16px
}
.review__avatar {
    border-radius: 2px
}
.review__date,
.review__name {
    display: inline-block
}
.review__avatar-none {
    background: url(../images/sprite-icon-hlxifd6ge.png) -24px -93px no-repeat
}
.review__wrap {
    padding-top: 2px;
    margin-left: 64px
}
.review__name {
    min-width: 90px;
    padding-right: 15px;
    font-weight: 500;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.review__product {
    display: none
}
@media screen and (min-width: 540px) {
    .review__date {
        padding-right: 24px
    }
    .review__product {
        display: inline-block
    }
}
.review__product-link {
    color: #272727
}
.review__product-link:hover {
    color: #1fab6e
}
.review__text {
    margin-top: 10px
}
.reviews__more {
    margin-top: 24px;
    text-align: right
}
.reviews__more-link {
    color: #272727
}
.reviews__more-link:hover {
    color: #1fab6e
}
.select-size__label {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    text-align: left
}
.skus {
    padding: 0;
    margin-top: 18px;
    margin-bottom: 15px;
    list-style: none
}
.product-sku {
    padding-bottom: 11px;
    text-align: left
}
.product-sku:last-child {
    padding-bottom: 0
}
.product-sku__label {
    position: relative;
    padding-left: 21px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer
}
.product-sku__radio {
    position: absolute;
    top: 4px;
    left: 0
}
.product-sku__radio:checked+.product-sku__value {
    font-weight: 500;
    color: #1fab6e
}
.plugin_arrived-overlay {
    display: block;
    height: 100%;
    width: 100%;
    bottom: 0;
    position: fixed;
    right: 0;
    z-index: 8010;
    background: rgba(0, 0, 0, .5)
}
.plugin_arrived-popup input[type=text],
.plugin_arrived-popup select {
    padding: 4px 14px;
    width: 100%;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #d9d8d6
}
#question-window,
.plugin_arrived-box {
    z-index: 8011;
    -moz-box-sizing: border-box;
    max-width: 96%
}
.plugin_arrived-box {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 395px;
    min-height: 226px;
    padding: 23px 24px 24px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 16px 4px rgba(21, 17, 3, .5);
    box-shadow: 0 3px 16px 4px rgba(21, 17, 3, .5)
}
@media screen and (max-width: 419px) {
    .plugin_arrived-box {
        left: 2%;
        right: 2%;
        margin-left: 0!important
    }
}
.plugin_arrived-popup .plugin_arrived-box {
    display: block
}
.plugin_arrived-box .msg_errors {
    display: none;
    color: red;
    padding-bottom: 18px
}
.plugin_arrived-header {
    margin-bottom: 22px;
    color: #1fab6e;
    font-size: 16px;
    font-weight: 500;
    line-height: 1
}
.plugin_arrived-header span {
    padding: 0
}
.plugin_arrived-close {
    position: relative;
    float: right;
    color: #272727;
    cursor: pointer
}
.plugin_arrived-close:after {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    content: '✖'
}
.plugin_arrived-close:hover {
    color: #1fab6e
}
.plugin_arrived-body {
    overflow: auto
}
.plugin_arrived-body .errormsg {
    display: block;
    color: red;
    font-size: 12px
}
.plugin_arrived-success {
    display: none;
    line-height: 18px
}
.plugin_arrived-field:after {
    display: table;
    content: '';
    clear: both
}
.plugin_arrived-field~.plugin_arrived-field {
    margin-top: 24px
}
.plugin_arrived-name {
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 14px;
    text-align: left
}
.plugin_arrived-name.not_bold {
    font-weight: 400;
    padding-bottom: 10px
}
.plugin_arrived-value {
    width: 100%
}
@media screen and (min-width: 420px) {
    .plugin_arrived-name {
        float: left;
        margin-top: 8px
    }
    .plugin_arrived-value {
        width: 240px;
        float: right
    }
}
.plugin_arrived-value.submit {
    margin-bottom: 0;
    text-align: center
}
.plugin_arrived-loading {
    background: url("../wa-content/img/loading16.gif") no-repeat;
    min-width: 16px;
    height: 16px;
    padding-left: 20px;
    font: normal normal 12px/16px Tahoma;
    color: #333;
    display: none
}
#question-window,
.popup {
    padding: 23px 24px 24px;
    vertical-align: middle
}
#question-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    overflow-y: auto
}
#question-container:before {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    content: ''
}
#question-window {
    position: relative;
    top: 0!important;
    display: inline-block;
    width: 396px;
    min-height: 350px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 16px 4px rgba(21, 17, 3, .5);
    box-shadow: 0 3px 16px 4px rgba(21, 17, 3, .5)
}
.popup-overlay,
.question-bckgr {
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    right: 0
}
.question-bckgr {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed
}
.question-close {
    position: relative;
    float: right;
    color: #272727;
    cursor: pointer
}
.question-close:after {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    content: '✖'
}
.question-close:hover {
    color: #1fab6e
}
.question-title {
    margin-top: 0;
    margin-bottom: 22px;
    color: #1fab6e;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
    text-align: left
}
.question-product {
    display: block
}
.question-field:after {
    display: table;
    content: '';
    clear: both
}
.question-field~.question-field {
    margin-top: 24px
}
.question-caption {
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 14px;
    text-align: left
}
.article__images,
.errors,
.popup-container,
.wa-submit {
    text-align: center
}
.question-submit,
:root .question-txt {
    width: 100%
}
@media screen and (min-width: 420px) {
    .question-caption {
        float: left;
        margin-top: 8px
    }
    .question-submit,
    :root .question-txt {
        width: 240px;
        float: right
    }
}
.popup-container,
.popup-overlay {
    height: 100%;
    width: 100%;
    position: fixed
}
.question-text {
    min-height: 82px
}
.question-result {
    clear: both
}
.question-result-field {
    display: block;
    margin-top: 24px
}
.question-email-warning,
.question-warning {
    color: red
}
.question-success {
    color: #1fab6e
}
.popup-container {
    display: none;
    top: 0;
    left: 0;
    z-index: 99;
    overflow-y: auto
}
.popup-container:before {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    content: ''
}
.popup-overlay {
    display: block;
    z-index: 8010
}
.answers__title,
.popup,
.popup__close:after,
.popup__link {
    display: inline-block
}
.popup {
    position: relative;
    z-index: 8011;
    width: 396px;
    max-width: 96%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 16px 4px rgba(21, 17, 3, .5);
    box-shadow: 0 3px 16px 4px rgba(21, 17, 3, .5)
}
.popup__close {
    position: relative;
    float: right;
    color: #272727;
    cursor: pointer
}
.popup__close:hover,
.popup__title {
    color: #1fab6e
}
.popup__close:after {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    content: '✖'
}
.answers__item:after,
.article:after,
.profile__action:after,
.profile__row:after,
.wa-auth-adapters:after {
    content: '';
    clear: both
}
.popup__title {
    margin-top: 0;
    margin-bottom: 22px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1
}
.popup__controls {
    margin-top: 30px;
    margin-bottom: 20px
}
.popup__link {
    margin: 10px 8px;
    color: #272727;
    text-transform: uppercase
}
.popup__link:hover {
    color: #1fab6e
}
.answers {
    margin-top: 20px
}
.answers__item {
    padding-bottom: 23px;
    margin-top: -4px;
    margin-bottom: 24px
}
.answers__item:after {
    display: table
}
.answers__item:last-child {
    border-bottom: 0;
    margin-bottom: 0
}
.answers__item p {
    line-height: 1.6
}
.answers__item p:last-of-type {
    margin-bottom: 0
}
.answers__question {
    margin-top: 0;
    margin-bottom: 18px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1
}
.answers__answer {
    line-height: 1
}
.answers__img-wrap {
    display: none
}
@media screen and (min-width: 800px) {
    .answers__img-wrap {
        display: block;
        float: right;
        margin: 4px 0 0 18px;
        font-size: 0.001px
    }
    .article__images {
        margin-left: 18px;
        float: right
    }
}
.answers__readon {
    display: inline-block;
    margin-top: 18px
}
.answers__readon:hover {
    color: #1fab6e;
    text-decoration: underline
}
.errors__logo,
.order-table__num-link:hover {
    text-decoration: none
}
.article:after {
    display: table
}
.article__title:after {
    display: none
}
.article h2 {
    margin-top: 1.25em;
    margin-bottom: 1em
}
.article p {
    margin-bottom: 15px;
    line-height: 1.6
}
@media screen and (min-width: 800px) and (min-width: 756px) and (max-width: 799px) {
    .article__images {
        margin-left: 9px
    }
}
@media screen and (min-width: 800px) and (min-width: 1024px) and (max-width: 1069px) {
    .article__images {
        margin-left: 9px
    }
}
@media screen and (min-width: 800px) and (min-width: 1280px) and (max-width: 1349px) {
    .article__images {
        margin-left: 9px
    }
}
.article__images .prod__img-wrap,
.article__images .thumb {
    display: block;
    margin: 0 auto 18px
}
.address__map {
    width: 100%;
    max-width: 100%;
    height: 290px
}
@media screen and (min-width: 540px) {
    .address__map {
        height: 401px
    }
}
.address__map>ymaps,
.address__map>ymaps>ymaps {
    width: 100%!important
}
.address__note {
    display: none
}
@media screen and (min-width: 800px) {
    .address__note {
        display: block;
        margin-top: 16px
    }
    .order-table {
        border-collapse: collapse
    }
}
.order-table {
    display: table
}
.order-table__row {
    display: block;
    padding: 4px 0;
    border-bottom: 1px solid #d9d8d6
}
.order-table__row:last-child {
    border-bottom: 0
}
@media screen and (min-width: 800px) {
    .order-table__row {
        display: table-row;
        border-bottom: 0
    }
}
.order-table__cell {
    display: inline-block
}
.order-table__status {
    color: #1fab6e
}
.order-num {
    font-size: 95%
}
.errors__title,
.order-title {
    font-size: 16px
}
@media screen and (min-width: 800px) {
    .order-table__cell {
        display: table-cell;
        padding: 9px 7px;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #d9d8d6;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
    .order-table__number {
        min-width: 76px
    }
    .order-table__status {
        min-width: 107px
    }
    .order-table__product {
        min-width: 185px
    }
    .order-table__delivery,
    .order-table__payment {
        min-width: 123px
    }
    .order-table__date {
        min-width: 123px;
        white-space: nowrap
    }
    .separator {
        display: none
    }
    .profile {
        width: 498px
    }
}
.profile {
    display: block;
    margin-bottom: 18px;
    vertical-align: top
}
@media screen and (min-width: 1024px) and (max-width: 1069px) {
    .profile {
        width: 489px
    }
}
@media screen and (min-width: 1280px) and (max-width: 1349px) {
    .profile {
        width: 489px
    }
}
.profile__row {
    display: block;
    width: 100%;
    min-height: 36px;
    padding: 10px 0 7px;
    margin: 0;
    border-bottom: 1px solid #d9d8d6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.profile__row:after {
    display: table
}
.profile__label {
    display: block;
    width: 50%;
    float: left
}
@media screen and (min-width: 800px) {
    .profile__label {
        width: 240px
    }
}
.profile__value {
    display: block;
    width: 50%;
    float: left
}
@media screen and (min-width: 800px) {
    .profile__value {
        padding-left: 18px;
        width: 240px
    }
}
@media screen and (min-width: 800px) and (min-width: 756px) and (max-width: 799px) {
    .profile__value {
        padding-left: 9px
    }
}
@media screen and (min-width: 800px) and (min-width: 1024px) and (max-width: 1069px) {
    .profile__value {
        padding-left: 9px
    }
}
@media screen and (min-width: 800px) and (min-width: 1280px) and (max-width: 1349px) {
    .profile__value {
        padding-left: 9px
    }
}
.profile__action {
    margin-top: 18px
}
.profile__action:after {
    display: table
}
.profile .field>span {
    display: none
}
.errors {
    max-width: 530px;
    margin: auto
}
.errors__box {
    margin-bottom: 18px
}
.errors__logo {
    display: block;
    margin-right: auto;
    margin-left: auto
}
.errors__title:after,
.wa-form .wa-name {
    display: none
}
.errors__logo:hover {
    text-decoration: underline
}
@media screen and (min-width: 1024px) {
    .errors {
        padding-top: 73px
    }
    .errors__logo {
        margin-bottom: 22px
    }
}
.errors__title {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 300
}
@media screen and (min-width: 1024px) {
    .errors__title {
        margin-bottom: 18px
    }
}
.errors__text {
    padding: 0 9px;
    margin-top: 0
}
.errors__link {
    line-height: 1;
    color: #1fab6e;
    text-decoration: none
}
.errors__link:hover {
    text-decoration: underline
}
@media screen and (max-width: 539px) {
    .wa-signup-form .wa-submit input[type=submit] {
        width: 100%;
        margin-bottom: 8px
    }
    .wa-signup-form .wa-submit {
        text-align: left;
        width: 100%
    }
}
.wa-submit input[type=submit] {
    margin-bottom: 20px
}
.wa-submit a {
    color: #272727;
    text-decoration: none
}
.wa-submit a:hover {
    text-decoration: none;
    color: #1fab6e
}
.wa-submit a:hover:before {
    color: #272727
}
.wa-signup-form .wa-submit a {
    color: #272727;
    text-decoration: none;
    display: inline-block;
    margin-left: 5px
}
.wa-signup-form .wa-submit a:hover {
    color: #1fab6e;
    text-decoration: underline
}
@media screen and (max-width: 539px) {
    .auth-message {
        padding: 7px 0;
        text-align: left
    }
}
.productsperpage-form {
    font-size: 15px
}
@media screen and (max-width: 799px) {
    .productsperpage-form {
        text-align: center
    }
}
.productsperpage-form select {
    width: 53px;
    padding-right: 0;
    padding-left: 3px;
    margin: 0 1px;
    font-size: inherit;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    vertical-align: middle
}
.wa-value p {
    margin-bottom: 0
}
.errormsg {
    display: block;
    padding-top: 3px;
    font-size: 13px;
    color: red
}
input.error,
textarea.error {
    border-color: #dc0000;
    outline: 0;
    -webkit-box-shadow: 0 0 5px #fb7e7e;
    box-shadow: 0 0 5px #fb7e7e;
    color: #dc0000
}
.wa-auth-adapters:after {
    display: table
}
@media screen and (max-width: 539px) {
    .wa-auth-adapters {
        width: 100%;
        margin-bottom: 9px
    }
}
.wa-auth-adapters ul {
    padding: 0;
    margin: 0 0 0 18px;
    list-style: none;
    width: 240px;
    float: right;
    font-size: 0.001px;
    letter-spacing: -4px
}
.cart__prod-name,
.cart__total,
.ct-row--total,
.delivery-price,
.radio-title,
.step-confirmation .large td {
    font-size: 16px;
    font-weight: 500
}
@media screen and (min-width: 756px) and (max-width: 799px) {
    .wa-auth-adapters ul {
        margin-left: 9px
    }
}
@media screen and (min-width: 1024px) and (max-width: 1069px) {
    .wa-auth-adapters ul {
        margin-left: 9px
    }
}
@media screen and (min-width: 1280px) and (max-width: 1349px) {
    .wa-auth-adapters ul {
        margin-left: 9px
    }
}
@media screen and (max-width: 539px) {
    .wa-auth-adapters ul {
        width: 100%;
        margin-bottom: 9px;
        margin-left: 0
    }
}
.wa-auth-adapters__message {
    position: relative;
    display: block;
    width: 240px;
    margin: 0;
    float: left;
    text-align: left
}
@media screen and (max-width: 539px) {
    .wa-auth-adapters__message {
        margin-bottom: 11px
    }
    .checkout .btn,
    .checkout .plugin_arrived-value input[type=submit],
    .checkout .wa-submit input[type=submit],
    .plugin_arrived-value .checkout input[type=submit],
    .wa-submit .checkout input[type=submit] {
        width: 100%
    }
}
.page-login .wa-auth-adapters__message,
.wa-signup-form .wa-auth-adapters__message {
    max-height: 32px;
    overflow: hidden;
    color: #fff
}
.wa-auth-adapters__message:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline;
    color: #272727
}
.page-login .wa-auth-adapters__message:before {
    content: "Войдите с помощью социальной сети или формы ниже"
}
.wa-signup-form .wa-auth-adapters__message:before {
    content: 'Зарегистрируйтесь с помощью социальной сети или формы ниже:'
}
[class^=wa-auth-adapter-]>a {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden
}
.wa-auth-adapter-google,
.wa-auth-adapter-yandex,
[class^=wa-auth-adapter-] img {
    display: none
}
.checkout .menu-v,
.checkout ul {
    padding: 0;
    margin: 0;
    list-style: none
}
.checkout .menu-v li {
    display: block;
    padding-bottom: 7px
}
.cart:after,
.cart__row--footer:after,
.checkout .menu-v li:after {
    display: table;
    content: '';
    clear: both
}
@media screen and (min-width: 1024px) {
    .checkout .menu-v li {
        padding-bottom: 12px
    }
    .delivery-descr {
        float: left
    }
}
.checkout .menu-v li:last-child {
    padding-bottom: 0
}
.checkout .label {
    cursor: pointer
}
.checkout .radio {
    float: left;
    margin-right: 9px
}
.checkout__client-type {
    width: 100%;
    height: 29px;
    background: 0 0
}
.checkout__label-in {
    margin-left: 22px
}
.checkout .block-title__text {
    position: relative
}
.checkout .loading:not(.icon16) {
    position: absolute;
    top: -1px;
    left: auto;
    padding-left: 13px;
    padding-right: 16px;
    background: #fff
}
.checkout .loading:not(.icon16) .loading {
    margin: 0
}
.checkout-step .radio {
    margin-top: 1px
}
.step-delivery .radio {
    margin-top: 2px
}
.step-contactinfo .checkbox {
    float: left;
    margin-top: 1px;
    margin-right: 9px
}
.step-delivery .menu-v li {
    padding-bottom: 16px
}
.step-delivery .menu-v li:last-child {
    padding-bottom: 0
}
.step-confirmation .large td:last-child {
    color: #1fab6e
}
.step-confirmation .inputbox--textarea,
.step-confirmation textarea {
    width: 100%;
    max-width: 100%;
    min-height: 141px;
    margin-bottom: 24px
}
.radio-title {
    padding-bottom: 9px
}
.delivery-price {
    height: auto;
    letter-spacing: normal
}
.checkout-step {
    margin-bottom: 24px
}
@media screen and (min-width: 540px) {
    .checkout-step {
        margin-bottom: 0
    }
    .cart__row:after {
        display: table;
        content: '';
        clear: both
    }
}
.onestep-cart h1 {
    margin-bottom: 14px;
    color: #1fab6e
}
@media screen and (min-width: 1024px) {
    .delivery-price {
        width: 240px;
        float: right;
        text-align: center
    }
    .onestep-cart h1 {
        margin-bottom: 22px
    }
}
.cart {
    width: 100%;
    margin-top: 0;
    text-align: center
}
.cart .row {
    margin-left: 0
}
.cart__row {
    padding-top: 18px;
    padding-bottom: 18px;
    border-bottom: 1px solid #d9d8d6
}
.cart__total,
.ct-row:last-child {
    border-bottom: 0
}
.cart__row:first-child,
.cart__row:first-child .cart-cell {
    padding-top: 0
}
@media screen and (min-width: 1024px) {
    .cart__row {
        padding-top: 24px;
        padding-bottom: 24px
    }
}
.cart__row--footer {
    padding-top: 15px;
    padding-bottom: 15px
}
.cart-cell {
    display: inline-block
}
.cart-cell+.cart-cell {
    margin-top: 9px
}
@media screen and (min-width: 540px) {
    .cart-cell+.cart-cell {
        margin-top: 14px
    }
    .cart-cell {
        display: block;
        float: left;
        width: 240px
    }
}
.cart__img {
    width: 240px
}
.cart__img .prod__img-wrap,
.cart__img .thumb {
    display: block
}
.cart__product {
    display: inline-block;
    width: 240px
}
@media screen and (min-width: 540px) {
    .cart__product {
        padding-left: 18px;
        display: block;
        text-align: left
    }
}
@media screen and (min-width: 540px) and (min-width: 756px) and (max-width: 799px) {
    .cart__product {
        padding-left: 9px
    }
}
@media screen and (min-width: 540px) and (min-width: 1024px) and (max-width: 1069px) {
    .cart__product {
        padding-left: 9px
    }
}
@media screen and (min-width: 540px) and (min-width: 1280px) and (max-width: 1349px) {
    .cart__product {
        padding-left: 9px
    }
}
@media screen and (min-width: 1280px) {
    .cart__product {
        width: 489px
    }
}
@media screen and (min-width: 1350px) {
    .cart__product {
        width: 498px
    }
}
@media screen and (min-width: 1590px) {
    .cart__product {
        width: 756px
    }
}
@media screen and (min-width: 1830px) {
    .cart__product {
        width: 1014px
    }
}
.cart__prod-link {
    color: #272727;
    text-decoration: none
}
.cart__prod-link:hover {
    color: #1fab6e;
    text-decoration: underline
}
.cart-cell+.cart__price {
    margin-top: 13px
}
@media screen and (min-width: 540px) {
    .cart-cell+.cart__price {
        margin-top: 16px
    }
}
.cart__prod-note {
    margin-top: 11px;
    line-height: 1.26
}
.cart__price-wrap {
    font-weight: 500
}
.cart__price-old {
    text-decoration: line-through
}
.cart__discount {
    padding: 0 13px
}
.cart__price-note {
    margin-bottom: 15px
}
.cart__count-wrap {
    margin-top: 15px
}
.cart__count-wrap .remove {
    margin: 0 0 2px 3px;
    vertical-align: middle
}
.cart .cart__count-input {
    width: 56px;
    margin-right: 9px;
    margin-left: 5px;
    text-align: center;
    vertical-align: middle
}
.cart__footer-label {
    float: left
}
@media screen and (min-width: 540px) {
    .cart__footer-label {
        width: 240px;
        text-align: center;
        margin-left: 258px
    }
}
@media screen and (min-width: 1024px) and (max-width: 1069px) {
    .cart__footer-label {
        margin-left: 249px
    }
}
@media screen and (min-width: 1070px) {
    .cart__footer-label {
        margin-left: 258px
    }
}
@media screen and (min-width: 1280px) and (max-width: 1350px) {
    .cart__footer-label {
        margin-left: 498px
    }
}
@media screen and (min-width: 1350px) {
    .cart__footer-label {
        margin-left: 516px
    }
}
@media screen and (min-width: 1590px) {
    .cart__footer-label {
        margin-left: 774px
    }
}
@media screen and (min-width: 1830px) {
    .cart__footer-label {
        margin-left: 1032px
    }
}
.cart__value {
    float: right;
    text-align: right
}
@media screen and (min-width: 540px) {
    .cart__value {
        margin-left: 18px;
        width: 240px;
        text-align: center
    }
}
@media screen and (min-width: 540px) and (min-width: 756px) and (max-width: 799px) {
    .cart__value {
        margin-left: 9px
    }
}
@media screen and (min-width: 540px) and (min-width: 1024px) and (max-width: 1069px) {
    .cart__value {
        margin-left: 9px
    }
}
@media screen and (min-width: 540px) and (min-width: 1280px) and (max-width: 1349px) {
    .cart__value {
        margin-left: 9px
    }
}
.cart__button-wrap {
    margin-bottom: 18px;
    text-align: center
}
@media screen and (min-width: 540px) {
    .cart__button-wrap {
        margin-bottom: 24px;
        text-align: right
    }
}
.ct-row {
    padding-top: 23px;
    padding-bottom: 20px;
    border-top: 1px solid #d9d8d6
}
.ct-row:after {
    display: table;
    content: '';
    clear: both
}
@media screen and (min-width: 800px) {
    .ct-row {
        margin-left: -18px
    }
}
@media screen and (min-width: 800px) and (min-width: 756px) and (max-width: 799px) {
    .ct-row {
        margin-left: -9px
    }
}
@media screen and (min-width: 800px) and (min-width: 1024px) and (max-width: 1069px) {
    .ct-row {
        margin-left: -9px
    }
}
@media screen and (min-width: 800px) and (min-width: 1280px) and (max-width: 1349px) {
    .ct-row {
        margin-left: -9px
    }
}
.ct {
    width: 100%;
    overflow: hidden
}
.ct__product {
    float: left;
    text-align: left
}
.ct__count {
    float: right
}
@media screen and (min-width: 800px) {
    .ct__count {
        text-align: center
    }
}
.ct__price {
    clear: both;
    width: 100%;
    text-align: right
}
.ct__hidden {
    display: none
}
.ct__label {
    float: left
}
.ct__value {
    float: right
}
.ct__value--total-price {
    color: #1fab6e
}
@media screen and (min-width: 800px) {
    .ct__price {
        clear: none;
        text-align: center
    }
    .ct__hidden {
        display: block
    }
    .ct__label,
    .ct__value {
        text-align: center
    }
    .ct-cell {
        margin-left: 18px;
        float: left;
        clear: none;
        width: 240px
    }
}
@media screen and (min-width: 800px) and (min-width: 756px) and (max-width: 799px) {
    .ct-cell {
        margin-left: 9px
    }
}
@media screen and (min-width: 800px) and (min-width: 1024px) and (max-width: 1069px) {
    .ct-cell {
        margin-left: 9px
    }
}
@media screen and (min-width: 800px) and (min-width: 1280px) and (max-width: 1349px) {
    .ct-cell {
        margin-left: 9px
    }
}
@media screen and (min-width: 1280px) {
    .ct-cell--first {
        width: 489px
    }
}
@media screen and (min-width: 1350px) {
    .ct-cell--first {
        width: 498px
    }
}
@media screen and (min-width: 1590px) {
    .ct-cell--first {
        width: 756px
    }
}
@media screen and (min-width: 1830px) {
    .ct-cell--first {
        width: 1014px
    }
}